{% extends "layouts/main.html" %}

{% block pageTitle %}
    GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
    <p class="plugin-fee-paragraph">Plugin fee styled paragraph</p>

{% endblock %}
