<nav role="navigation">
  <h1 class="data-label-value">
    Contents
  </h1>
  <ol class="dash-list">
    {% if content.isChapter %}
      {% if showDeepNav === 'true' %}
        {% for item in content.contentsList() %}
        <li>
          <a href="{{ item.link }}">
            {{ item.title }}
            {% if item.subItems %}
            <ol class="dash-list">
              {% for subItem in item.subItems %}
              <li><a href="{{ subItem.link }}">{{ subItem.title }}</a></li>
              {% endfor %}
            </ol>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      {% else %}
        {% for item in content.chapterContents() %}
        <li>
          <a href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for item in content.contentsList() %}
      <li>
        <a href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    {% endif %}
  </ol>
</nav>