<nav role="navigation" class="{% if content.isChapter and showDeepNav === 'true' %}chapter-nav{% endif %}">
  <h1 class="data-label-value">
    Contents
  </h1>
  <ol class="dash-list">
    {% if content.isChapter %}
      {% if showDeepNav === 'true' %}
        {% for item in content.contentsList() %}
        <li>
          {% if item.subItems %}
            {{ item.title }}
            <ol class="dash-list">
              {% for subItem in item.subItems %}
              <li><a href="{{ subItem.link }}">{{ subItem.title }}</a></li>
              {% endfor %}
            </ol>
          {% else %}
            <a href="{{ item.link }}">
              {{ item.title }}
            </a>
          {% endif %}
        </li>
        {% endfor %}
      {% else %}
        {% for item in content.chapterContents() %}
        <li>
          <a href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      {% endif %}
    {% else %}
      {% for item in content.contentsList() %}
      <li class="{% if item.isNumberedItem %}numbered-item{% endif %}">
        <a href="{{ item.link }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    {% endif %}
  </ol>
</nav>