<header>
  <h1 id="manual-title">{{ content.manualTitle() }}</h1>
  <div class="primary">
    <div class="govuk-metadata">
      <dl>
        {% for item in content.metadata() %}
          {% for name, value in item %}
            {% if value %}
            <dt>{{ name }}:</dt>
            <dd>{{ value }}</dd>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </dl>
    </div>
    <div class="in-manual-search">
      <form action="/search">
        <label for="search-box">Search this manual</label>
        <input type="hidden" name="filter_manual[]" value="/guidance/immigration-rules">
        <input id="search-box" class="in-manual-search-box" type="text" name="q">
        <button type="submit">search</button>
      </form>
    </div>
  </div>
</header>
<ol class="breadcrumb-trail">
    <li><a href="{{ content.contentsLink() }}">Contents</a></li>
    <li class="last-child">{{ content.title() }}</li>
</ol>
