<script src="/public/javascripts/jquery-1.11.3.js"></script>

<!-- govuk_frontend_toolkit js -->
<script src="/public/javascripts/vendor/polyfills/bind.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>

<!-- govuk_elements js -->
<script src="/public/javascripts/details.polyfill.js"></script>

<!-- copied from govuk_elements application.js -->
<script src="/public/javascripts/show-hide-content.js"></script>


<script src="/public/javascripts/application.js"></script>