{% extends "layout.html" %}

{% block page_title %}
  Lesson 3 - data
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 3 - data
      </h1>

      <p>Our prototype now links users correctly but their answers aren’t appearing on the ‘check your answers’ page. Realistic prototypes work better in user research, so in this lesson we’ll use their answers to fill in the page.</p>

      <a class="button button-start" href="start-page" role="button">See example</a>

    </div>
  </div>
</main>

{% endblock %}
