{% extends "layout.html" %}

{% block page_title %}
  Lesson 3 - data
{% endblock %}

{% set serviceName = 'Juggling licence tutorial' %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 3 - data
      </h1>

      <p>Our prototype now links users correctly but their answers aren’t appearing on the ‘check your answers’ page. Realistic prototypes work better in user research, so in this lesson we’ll use their answers to fill in the page.</p>

      <a class="button" href="start-page" role="button">See finished example</a>

      <h2 class="heading-medium">Complete lesson source files</h2>
      
      <ul class="list list-bullet">
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-3/start-page.html">start-page.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-3/juggling-ability.html">juggling-ability.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-3/juggling-feat.html">juggling-feat.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-3/check-your-answers.html">check-your-answers.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-3/application-complete.html">application-complete.html</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
