{% extends "layout.html" %}

{% block pageTitle %}
  Registration | Early Career Framework
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Register your school for the Early Career Framework</h1>
      <p class="govuk-body">Use this service to register your school onto the Early Career Framework.</p>

      <p class="govuk-body">There are two parts to this service:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>You need to register your school’s interest in the Early Career Framework and which programme you are planning on delivering</li>
        <li>If you’re signing up for the Full Induction Programme, you’ll also need to accept an invite from a provider you want to partner with.</li>
      </ul>
      <p class="govuk-body">Once these details have been confirmed, you will be able to access the Early Career Framework.</p>

      {{ govukButton({
        text: "Start now",
        href: "./authenticate",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
        }) }}
    </div>
  </div>
{% endblock %}