// global styles for <a> and <p> tags
$govuk-global-styles: true;

// App-specific variables
$app-light-grey: #f8f8f8;
$app-code-color: #dd1144;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components from the Design System
@import "components/cookie-banner";
@import "components/inverted-button";
@import "components/pane";
@import "components/masthead";
@import "components/navigation";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

img.bordered {
  border: 1px solid $govuk-border-colour;
}
