// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';





////////////////////////////////////////
// HOD PATTERN LIBRARY STYLES
// Extend the GOV.UK patterns for additional use cases and users, including internal services.
// https://home-office-digital-patterns.herokuapp.com
//////////

// Variables (setting measurements for HO patterns)
$space-sm: 5px;
$border-radius: 4px;
$box-shadow: 0 2px 10px rgba($text-colour, 0.5);
//////////

// Copmonents
@import "_hod-components/badges";
@import "_hod-components/buttons";
@import "_hod-components/labels";
//////////

// Patterns
@import "_hod-patterns/flashcard";
@import "_hod-patterns/highlights";
@import "_hod-patterns/modal";
@import "_hod-patterns/navigation";
@import "_hod-patterns/table-multiselect";
@import "_hod-patterns/tabs";
@import "_hod-patterns/tasks";
@import "_hod-patterns/timeline";
//////////
////////////////////////////////////////





// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
