// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';


// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.modal-dialog {
  // Don't display warning if user doesn't have js. Can be overriden with .modal-dialog--no-js-persistent
  display: none;

  &--no-js-persistent {
    display: inline-block;

    .js-enabled & {
      display: none;

      &[open] {
        display: inline-block;
      }

      .dialog-button {
        display: inline-block;
      }
    }
  }

  .js-enabled &[open] {
    display: inline-block;
  }

  &[open] {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 90vh; //Don't make the dialog quite the viewport height
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    @include media(tablet) {
      padding: 0;
    }
  }

  &__inner {
    padding: 20px;
    @include media(tablet) {
      padding: 30px;
    }

    &__top {
      width: 100%;
      text-align: right;
      margin-bottom: 20px;

      &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
      }
    }

    &__text {
      @include copy-19;
      margin-bottom: 20px;
    }

    &__button {
      font-weight: 700;
      padding: 15px 30px;
    }

    &__link {
      @include copy-19;
      background: none;
      border: none;
      vertical-align: middle;
      margin-top: 20px;

      @include media(mobile) {
        text-align: center;
        display: block;
        margin-top: 25px;
      }

      @include media(tablet) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 0 0 30px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__block {
      position: relative;
    }
  }

  #dialog-title {
    margin-top: 0;
  }
}

// Stop background scrolling while dialog open.
.dialog-is-open {
  overflow: hidden;
}



// Polyfill styles

dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}
///

// GOV.UK styles

$dialog_backdrop_colour: rgba(0,0,0,0.8);
$dialog_border: 5px solid black;


dialog[open] {

  // Size and position

  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
  @include media(tablet) {
    padding: 30px;
    margin: 30px auto;
    max-width: 500px;
  }

  // Styling

  border: $dialog_border;

  // Backdrop styles for browsers using polyfil
  &+ .backdrop {
    background: $dialog_backdrop_colour;
  }
  // Backdrop styles for browsers with native support
  // NB: keep these two backdrop styles separate - safari didn't work when combined
  &::backdrop {
    background: $dialog_backdrop_colour;
  }
}

// Polyfil styles

dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: none;
}

dialog[open] {
  display: block;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.1);
}

/* for small devices, modal dialogs go full-screen */
@media screen and (max-width: 540px) {
  dialog[_polyfill_modal] {  /* TODO: implement */
    top: 0;
    width: auto;
    margin: 1em;
  }
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}


// GOV.UK styles

$dialog_backdrop_colour: rgba(0,0,0,0.8);
$dialog_border: 5px solid black;

// Default styles - non-js
dialog {
  display:block;
  position: inherit;
  margin: 0;
  padding: 0;
  border: 0;

  // Typography
  h1 {
    @include bold-36;
  }
}

dialog[open] {

  // Size and position

  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px;
  width: 90%;
  @include media(tablet) {
    padding: 30px;
    margin: 30px auto;
    max-width: 500px;
  }

  // Styling

  border: $dialog_border;

  // Backdrop styles for browsers using polyfil
  &+ .backdrop {
    background: $dialog_backdrop_colour;
  }
  // Backdrop styles for browsers with native support
  // NB: keep these two backdrop styles separate - safari didn't work when combined
  &::backdrop {
    background: $dialog_backdrop_colour;
  }
}

// JS Enabled
.js-enabled {

  dialog {
    display: none;
  }
  dialog[open]{
    display: block;
    position: absolute;
  }
}
