// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

@import 'core-layout';

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.govuk-title {
  .context {
    margin: 0;
  }
}


.dash-list {
    margin-bottom: 20px
}

.dash-list li {
    margin-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    list-style-type: disc;

    > strong {
      font-weight: bold;
    }
}

@supports (content: "—") {
    .dash-list li {
        list-style-type:none
    }

    .dash-list li:before {
        content: "— ";
        position: relative;
        float: left;
        width: 20px;
        margin-left: -20px;
    }

    .dash-list li.numbered-item {
      margin-left: 0;
      padding-left: 28px;
      position: relative;

      span.number {
        position: absolute;
        top: 8px;
        left: 0;

        // + span {
        //   padding-left: 7px;
        // }
      }



      &:before {
        display: none;
      }
    }
}

.dash-list .nested-contents-item-h2 {
    margin-left: 0;
    list-style-type: none
}

.dash-list .nested-contents-item-h2:before {
    content: ''
}

.dash-list .nested-contents-link-h2 {
    font-weight: bold
}

.dash-list a {
    text-decoration: none
}

.dash-list a:hover,.dash-list a:focus,.dash-list a:active {
    text-decoration: underline
}

.description {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 15px;
    max-width: 30em
}

@media (min-width: 641px) {
    .description {
        font-size:24px;
        line-height: 1.25
    }
}

@media (min-width: 641px) {
    .description {
        margin-bottom:45px
    }
}

.manuals-frontend-body header {
    background: #005ea5;
    padding: 30px;
    color: #fff;
    // margin: 0 -15px;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none
}

.manuals-frontend-body header:after {
    content: "";
    display: block;
    clear: both;
}

.manuals-frontend-body header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 36px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    padding: 0 0 15px 0
}

.manuals-frontend-body .section-list {
    margin-top: 30px
}

@media (min-width: 641px) {
    .manuals-frontend-body .section-list {
        margin-top:60px
    }
}

.manuals-frontend-body .section-list li {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    list-style: none;
    cursor: pointer;
    border-top: 1px solid #bfc1c3
}

@media (max-width: 640px) {
    .manuals-frontend-body .section-list li {
        font-size:16px;
        line-height: 1.25
    }
}

.manuals-frontend-body .section-list li:hover {
    background-color: #f8f8f8
}

.manuals-frontend-body .section-list li:last-child {
    border-bottom: 1px solid #bfc1c3
}

.manuals-frontend-body .section-list li a {
    text-decoration: none;
    display: block;
    padding: 10px 10px 10px 0
}

@media (min-width: 641px) {
    .manuals-frontend-body .section-list li a {
        padding-right:33.33333%
    }
}

.manuals-frontend-body .section-list li a .subsection-title-text {
    color: #005ea5;
    font-weight: bold;
    display: block
}

.manuals-frontend-body .section-list li a .subsection-summary {
    color: #0b0c0c;
    display: block
}

.manuals-frontend-body .manual-body {
    margin: 15px 0 90px
}

@media (min-width: 641px) {
    .manuals-frontend-body .manual-body {
        margin-top:30px
    }
}

.manuals-frontend-body .manual-body .section-title {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    font-weight: bold
}

@media (max-width: 640px) {
    .manuals-frontend-body .manual-body .section-title {
        font-size:20px;
        line-height: 1.2
    }
}

@media (min-width: 641px) {
    .manuals-frontend-body .manual-body .section-title {
        padding-top:6px;
        padding-bottom: 4px
    }
}

.manuals-frontend-body .manual-body .summary {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 15px
}

@media (max-width: 640px) {
    .manuals-frontend-body .manual-body .summary {
        font-size:20px;
        line-height: 1.2
    }
}

@media (min-width: 641px) {
    .manuals-frontend-body .manual-body .summary {
        max-width:66.66667%;
        margin-bottom: 30px
    }
}

@media (min-width: 641px) {
    .manuals-frontend-body .manual-body .body-content-wrapper {
        width:66.66667%
    }
}

.manuals-frontend-body .manual-body .footnotes {
    border-top: 0;
    padding-top: 0
}

.manuals-frontend-body .updates-list {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none
}

@media (max-width: 640px) {
    .manuals-frontend-body .updates-list {
        font-size:16px;
        line-height: 1.25
    }
}

.manuals-frontend-body .updates-list dd {
    margin-bottom: 1em
}

@media (min-width: 641px) {
    .manuals-frontend-body .collapsible-subsections p {
        margin-top:20px
    }

    .manuals-frontend-body .collapsible-subsections .call-to-action p {
        margin: 0
    }
}

.manuals-frontend-body .collapsible-subsections .js-subsection-title {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    display: block;
    border-top: 1px solid #bfc1c3;
    padding: 10px 30px 10px 0;
    margin: 30px 0;
    position: relative
}

@media (max-width: 640px) {
    .manuals-frontend-body .collapsible-subsections .js-subsection-title {
        font-size:16px;
        line-height: 1.25
    }
}

.manuals-frontend-body .collapsible-subsections .js-subsection-title a {
    text-decoration: none
}

.manuals-frontend-body .subsection-collection {
    margin-top: 15px
}

@media (min-width: 641px) {
    .manuals-frontend-body .subsection-collection {
        margin-top:30px
    }
}

.manuals-frontend-body .subsection-collection .js-title-controls-wrap .section-title {
    font-family: "nta", Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px
}

@media (max-width: 640px) {
    .manuals-frontend-body .subsection-collection .js-title-controls-wrap .section-title {
        font-size:20px;
        line-height: 1.2
    }
}

@media (min-width: 641px) {
    .manuals-frontend-body .subsection-collection .js-title-controls-wrap .section-title {
        padding-top:6px;
        padding-bottom: 4px
    }
}

@media (min-width: 641px) {
    .manuals-frontend-body .subsection-collection .js-title-controls-wrap .section-title {
        float:left;
        width: 75%
    }
}

.manuals-frontend-body .subsection-collection .js-title-controls-wrap .js-collection-controls {
    display: block;
    margin-left: -5px;
    margin-bottom: 15px
}

@media (min-width: 641px) {
    .manuals-frontend-body .subsection-collection .js-title-controls-wrap .js-collection-controls {
        margin:0 0 30px -5px;
        float: right;
        display: inline-block
    }
}

.manuals-frontend-body .subsection-collection .js-title-controls-wrap .js-collection-controls a {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    padding: 0 5px 0 5px;
    display: inline-block
}

@media (max-width: 640px) {
    .manuals-frontend-body .subsection-collection .js-title-controls-wrap .js-collection-controls a {
        font-size:14px;
        line-height: 1.14286
    }
}

.manuals-frontend-body .subsection-collection .js-title-controls-wrap .js-collection-controls a.disabled {
    color: #6f777b;
    text-decoration: none;
    cursor: default
}

.manuals-frontend-body .js-openable {
    border-top: 1px solid #bfc1c3;
    padding-bottom: 30px
}

@media (min-width: 641px) {
    .manuals-frontend-body .js-openable {
        padding-bottom:60px
    }
}

.manuals-frontend-body .js-openable .js-subsection-title {
    cursor: pointer;
    margin: 0;
    border: none
}

.manuals-frontend-body .js-openable .js-subsection-title .js-toggle {
    height: 25px;
    width: 25px;
    display: block;
    background: url(https://assets.publishing.service.gov.uk/manuals-frontend/arrows_sprite-ca3a7e8041aeed11c82416b86b975ac5.png) no-repeat;
    position: absolute;
    right: 0;
    top: 10px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .manuals-frontend-body .js-openable .js-subsection-title .js-toggle {
        background-image:url(https://assets.publishing.service.gov.uk/manuals-frontend/arrows_sprite-2x-112fb1d70d0e6c04877d2d9970178a51.png);
        background-size: 32px 50px
    }
}

.manuals-frontend-body .js-openable .js-subsection-body {
    margin-top: 15px
}

@media (min-width: 641px) {
    .manuals-frontend-body .js-openable .js-subsection-body {
        margin-top:30px
    }
}

.js-enabled .manuals-frontend-body .js-openable.closed {
    padding: 0
}

.js-enabled .manuals-frontend-body .js-openable.closed .js-toggle {
    background: url(https://assets.publishing.service.gov.uk/manuals-frontend/arrows_sprite-ca3a7e8041aeed11c82416b86b975ac5.png) no-repeat 0 -32px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .js-enabled .manuals-frontend-body .js-openable.closed .js-toggle {
        background-image:url(https://assets.publishing.service.gov.uk/manuals-frontend/arrows_sprite-2x-112fb1d70d0e6c04877d2d9970178a51.png);
        background-size: 32px 50px
    }
}

.js-enabled .manuals-frontend-body .js-openable.closed .js-subsection-body {
    position: absolute;
    left: -9999px;
    width: 100px;
    height: 1px;
    overflow: hidden
}

.manuals-frontend-body .hmrc.section-list {
    margin-top: 30px;
    padding-bottom: 30px
}

.manuals-frontend-body .hmrc.section-list a {
    padding-right: 0
}

@media (min-width: 641px) {
    .manuals-frontend-body .hmrc.section-list .title-wrap {
        display:table-row
    }

    .manuals-frontend-body .hmrc.section-list .title-wrap div {
        display: table-cell
    }
}

.manuals-frontend-body .subsection-id {
    min-width: 135px;
    color: #6f777b;
    padding-right: 15px
}

.manuals-frontend-body .print-page {
    display: none
}

.js-enabled .manuals-frontend-body .print-page {
    display: block
}

.manuals-frontend-body header .in-manual-search {
    position: relative;
    margin: 30px 0 15px
}

.manuals-frontend-body header .in-manual-search label {
    padding-bottom: 5px;
    display: inline-block
}

.manuals-frontend-body header .in-manual-search .in-manual-search-box {
    width: 86%;
    width: calc(100% - 47px);
    border: none;
    padding: 6px
}

.manuals-frontend-body header .in-manual-search button {
    width: 33px;
    height: 33px;
    border: 1px solid #0b0c0c;
    border-width: 0 0 0 1px;
    border-left-color: #222;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: #fff;
    background: #0b0c0c url(https://assets.publishing.service.gov.uk/manuals-frontend/search-button-de28edec94868c92285a8f97a79bb469.png) no-repeat 0 50%;
    position: absolute;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .manuals-frontend-body header .in-manual-search button {
        background-size:52.5px 35px;
        background-position: 115% 50%
    }
}

@media (min-width: 641px) {
    .manuals-frontend-body header {
        margin:0
    }

    .manuals-frontend-body header .primary,.manuals-frontend-body header .secondary {
        float: left
    }

    .manuals-frontend-body header .primary {
        width: 66.66667%
    }

    .manuals-frontend-body header .secondary {
        width: 33.33333%
    }

    .manuals-frontend-body header .secondary .secondary-inner {
        padding-left: 30px
    }
}

.manuals-frontend-body .breadcrumb-trail {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
    margin: 10px 0 0 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #bfc1c3
}

@media (max-width: 640px) {
    .manuals-frontend-body .breadcrumb-trail {
        font-size:14px;
        line-height: 1.14286
    }
}

.manuals-frontend-body .breadcrumb-trail strong {
    font-weight: bold
}

.manuals-frontend-body .breadcrumb-trail li {
    background-image: url(https://assets.publishing.service.gov.uk/manuals-frontend/separator-e28f7117fc316435d17b12c7f943da0e.png);
    background-position: 100% 20%;
    background-repeat: no-repeat;
    display: inline;
    list-style: none;
    margin-left: 0;
    margin-right: 5px;
    padding: 0 15px 0 0
}

@media (min-width: 641px) {
    .manuals-frontend-body .breadcrumb-trail li {
        background-position:100% 45%
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .manuals-frontend-body .breadcrumb-trail li {
        background-image:url(https://assets.publishing.service.gov.uk/manuals-frontend/separator-2x-c6acf64f0058003870898f787445343b.png);
        background-size: 6px 11px
    }
}

.manuals-frontend-body .breadcrumb-trail li:first-child {
    margin-left: 0
}

.manuals-frontend-body .breadcrumb-trail li.last-child {
    background-image: none;
    color: #0b0c0c
}

.manuals-frontend-body .breadcrumb-trail li.no-separator {
    background-image: none
}

.manuals-frontend-body .breadcrumb-trail li a {
    color: #0b0c0c
}



// Chapter navigation

.dash-list {
  font-size: 16px;

  li {
    line-height: 20px;
    padding-right: 0;
    padding-top: 10px;
  }

  ol {
    margin-bottom: 0;
  }
}

.chapter-nav {
  position: relative;
  padding-top: 20px;

  > .dash-list {

    > li {

      margin-left: 0;

      & > a {
        font-weight: bold;
      }

      &:before {
        display: none;
      }
    }
  }
}

// Fixed column grid

.fixed-layout #global-header-bar {
  max-width: 100%;
}

#content.fixed-grid-container {
  margin: 0;
  max-width: 100%;
  padding: 0 20px;
  width: 100%;
}

.fixed-grid-row {
  display: flex;
  flex: 1 1 100%;
}

.column-fixed {
  height: 100vh;
  overflow-y: scroll;
  padding: 0 10px;
}

.column-fixed-quarter {
  flex: 0 0 auto;
  width: 330px;
}

.column-fixed-three-quarters {
  flex: 1 1 auto;
}

.column-fixed-inner {
  max-width: 792px;
}


// HTML publication

.html-publication {
  padding-top: 30px;
}

.html-publication .html-publication-title {
    margin-bottom: 15px;
    margin-top: 15px
}

@media (min-width: 641px) {
    .html-publication .html-publication-title {
        margin-bottom:45px
    }
}

@media (min-width: 641px) {
    .html-publication .html-publication-title {
        margin-top:45px
    }
}

.html-publication .html-publication-title .context {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 20px;
    line-height: 1.11111;
    color: #fff;
    margin-bottom: 10px
}

@media (min-width: 641px) {
    .html-publication .html-publication-title .context {
        font-size:27px;
        line-height: 1.11111
    }
}

.html-publication .html-publication-title h1 {
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 32px;
    line-height: 1.09375
}

@media (min-width: 641px) {
    .html-publication .html-publication-title h1 {
        font-size:48px;
        line-height: 1.04167
    }
}

.html-publication .headings {
    margin-bottom: 30px
}


.html-publication .publication-header {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    background: #2b8cc4;
    padding: 30px 30px 10px;
    margin-bottom: 30px
}

.html-publication .publication-header a,.html-publication .publication-header a:visited,.html-publication .publication-header a:hover {
    color: #fff;
    text-decoration: underline
}

.html-publication .publication-header a:active {
    color: #2b8cc4
}

@media (min-width: 641px) {
    .html-publication .publication-header {
        font-size:19px;
        line-height: 1.31579
    }
}

@media (min-width: 641px) {
    .html-publication .publication-header {
        margin-bottom:60px
    }
}

.html-publication .publication-header.direction-rtl {
    direction: rtl;
    text-align: start
}

