// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.phase-banner-alpha  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
}
.phase-tag-alpha {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
