// GOV.UK front end toolkit dependencies
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";
@import "url-helpers";

// Patterns
@import 'patterns/check-your-answers';


.example{
  @extend %contain-floats;
  border: 2px solid $border-colour;
  padding: $gutter;
  margin-bottom: $gutter;

  @include media(mobile) {
    padding: $gutter/2;
  }
}