# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
# ignore extension SCSS because it's dynamically generated
lib/extensions/_extensions.scss
# ignore any release archives
/govuk-prototype-kit*.zip
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
node_modules/
.tmuxp.*
.idea
/cypress-test
/cypress/videos
/cypress/screenshots
/cypress/downloads
/cypress/support
/cypress/temp
tmp/
