# dont include the following files in the zip
.gitattributes export-ignore
README.md export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
create-release.sh export-ignore
travis.yml export-ignore
.travis export-ignore
app.json export-ignore