# dont include the following files in the zip
.gitattributes export-ignore
.github export-ignore
__tests__ export-ignore
app.json export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
create-release.sh export-ignore
/README.md export-ignore
internal_docs export-ignore
update.sh export-ignore
/CODEOWNERS export-ignore
