# Don't include the following files in the release archive.
# See scripts/create-release-archive

# Test stuff
*.test.js export-ignore
__tests__ export-ignore
cypress export-ignore
cypress.json export-ignore

# Internal tooling
.gitattributes export-ignore
.github export-ignore
/CODEOWNERS export-ignore
/internal_lib export-ignore
/scripts export-ignore

# Internal docs
/README.md export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
internal_docs export-ignore

# We want users to fetch update script from web when updating,
# rather than using possibly stale script in their prototype
update.sh export-ignore

# Heroku config for review apps
app.json export-ignore
