# Node.js ignores
node_modules/

# Prototype Kit ignores - per-user
.env
.port.tmp
lib/extensions/_extensions.scss
public/
usage-data-config.json
features/screenshots/*

# Prototype Kit ignores - developer tools
/cypress/downloads
/cypress/screenshots
/cypress/temp
/cypress/videos
/cypress/fixtures/plugins/*/package-lock.json
/govuk-prototype-kit*.zip
/govuk-prototype-kit*.tgz
tmp/

# General ignores
.DS_Store
.idea
.vscode
.tmuxp.*
/coverage
