# ignore tracking usage data config - we want a different one for each user
usage-data-config.json
.env
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
govuk_modules
/node_modules
.tmuxp.*
package-lock.json
