
/* ################################################################################################## */
/* NHS Variables */
/* NOTE: Again in a wrong place - Bit will do for now */
/* ################################################################################################## */

$measure: 1400px;
$baseline-grid-unit: 8px;

$nhs-blue:           #005BBB;
$nhs-blue50:         #76ADDA;
$nhs-blue10:         #E6EFF8;
$nhs-brightblue:     #0072CE;
$nhs-darkblue:       #003087;

$nhs-grey1:          #425563;
$nhs-grey2:          #768692;
$nhs-grey3:          #AEB7BD;
$nhs-grey4:          #D8DDE0;
$nhs-grey5:          #F0F4F5;

$nhs-black:          #231F20;
$nhs-white:          #FFFFFF;

$nhs-darkgreen:      #006747;
$nhs-green:          #006747;

$nhs-lightgreen:     #78BE20;
$nhs-lightgreen50:   #BBDE8F;
$nhs-lightgreen10:   #F1F8E8;

$nhs-warmyellow:     #FFB81C;
$nhs-warmyellow50:   #FADA8B;
$nhs-warmyellow10:   #FDF2D5;

$nhs-red:            #DA291C;
$nhs-red50:          #E3968A;
$nhs-red10:          #F5E6E4;
