{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layout.html" %}

{% block pageTitle %}
  School results | Early Career Framework
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back to results",
    href: "./results"
  }) }}
{% endblock %}

{% set searchHTML %}
{{ govukInput({
    id: "searchProvider",
    name: "searchProvider",
    type: "text",
    spellcheck: false,
    hint: {
      text: "Start typing the name of your delivery partner and select the correct name."
    }
  }) }}
{% endset -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Write the invite for {{data['schoolName']}}</h1>
      <p class="govuk-body">Invitation from {{ data['schoolName'] }} and {{ data['deliveryPartnerName'] }} to join the Early Career Framework induction programme</p>
      <form action="./confirm" method="POST">
        {{ govukTextarea({
          label: {
            text: "Enter invite text",
            classes: "govuk-label--s"
          },
          name: "message"
        }) }}

        {{ govukInput({
          label: {
            text: "Return email address",
            classes: "govuk-label--s"
          },
          name: "replyEmail",
          type: "email"
        }) }}

        {{ govukButton({text: "Continue"}) }}
      </form>
    </div>
  </div>
{% endblock %}