// Pattern: buttons
// Problem: Things need clicking

&__button--secondary {
   @include button($white);
   box-shadow: 0 2px 0 $black;
   border: $black 1px solid;
 }

 &__button--affordance {
  @include button($govuk-blue);
}

&__button {
  @extend .button;
	border-radius: $border-radius;
}
