/* includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets */

@import '_colours';
@import '_typography';
@import 'design-patterns/_buttons';
@import 'design-patterns/_alpha-beta';

#content {
  margin: 0 auto;
  max-width: 1020px;
  
  @include ie-lte(6)  {
    width: 990px;
  }
}
.page-header {
  padding: 0 32px;

  h1 {
    @include bold-48;
    padding: 25px 0 15px;
  }
}

/* Alpha/Beta styles */

.alpha-banner  {
  @include core-19;
  @include phase-banner(alpha);
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha);
}
