{{<layouts/layout-two-thirds}}

{{$pageTitle}}
Issues on GOV.UK
{{/pageTitle}}

{{$sub-content}}
<h1>Issues on GOV.UK</h1>

<p>As I find accessibility issues on GOV.UK I will log them here, explain why they are issues and how to fix them.</p>

<h2>Issues on the core website</h2>

<ul class="list-bullet">
    <li>
        <a href="/issues/link-looks-like-button">Link with role="button" but no space key trigger
        </a>
    </li>
    <li>
        <a href="/issues/link-opens-new-window">Link opens new window with no advanced warning
        </a>
    </li>
</ul>

<h2>Issues on transactional services</h2>
<ul class="list-bullet">
    <li>
        <a href="/issues/radio-button-group-no-label">Radio button group missing a common label
        </a>
    </li>
    <li>
        <a href="/issues/money-field-bad-markup">Money field with bad markup
        </a>
    </li>
</ul>
{{/sub-content}}

{{/layouts/layout-two-thirds}}
