{{<layouts/layout-two-thirds}}

{{$pageTitle}}
Link opens new window
{{/pageTitle}}

{{$sub-content}}
<h1>Link opens new window</h1>

<h2>Test Case</h2>

<p id="get-started" class="get-started group">
    <a href="https://www.gov.uk/grant-for-business-investment" rel="external" class="button button-start" target="_blank" role="button">Find out more</a>
    <span class="destination"> on the Department of Business, Innovation and Skills website</span>
</p>

<h2>Example Usage</h2>
<p><a href="https://www.gov.uk/grant-for-business-investment-gbi">Grant for Business Investment (GBI)</a></p>

<h2>Background</h2>
<p>There are example of links on GOV.UK that open links in new windows and users aren't informed that that this will happen</p>

<p>Opening new windows automatically when a link is activated can be disorienting for people who have difficulty perceiving
    visual content, and for some people with cognitive disabilities, if they are not warned in advance. Providing a warning
    allows the user to decide it they want to leave the current window, and the warning will help them find their way back,
    if they do decide they would like to go to the new window. It will help them understand that the "back" button will
    not work and that they have to return to the last window they had open, in order to find their previous location.</p>

<p>In general, it is better not to open new windows and tabs since they can be disorienting for people, especially people
    who have difficulty perceiving visual content.</p>

<h3>Resources</h3>
<ul class="list-bullet">
    <li><a href="http://webaim.org/techniques/hypertext/hypertext_links#new_window">WEBAIM: Links and Hypertext</a></li>
    <li><a href="http://www.w3.org/TR/WCAG20-TECHS/G201.html">WCAG20: Giving users advanced warning when opening a new window</a></li>
    <li><a href="http://www.w3.org/TR/WCAG20-TECHS/G200.html">WCAG20: Opening new windows and tabs from a link only when necessary</a></li>
</ul>

<h2>Results</h2>
insert findings or results when we have some

{{/sub-content}}

{{/layouts/layout-two-thirds}}