{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block headIcons %}
  <link rel="shortcut icon" href="/plugin-assets/govuk-prototype-kit/lib/assets/images/unbranded.ico" type="image/x-icon" />
{% endblock %}

{% block stylesheets %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css" />

  {% include "govuk-prototype-kit/includes/stylesheets-plugins.njk" %}
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block pageHeader %}{% endblock %}
{% block pageFooter %}{% endblock %}
