<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Review / Apps / Details / DAQs</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_review" id="proposition-name">Apps Assessment</a>
              <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>

              <ul id="proposition-links">
                <li><a href="/apps_review/apps.html" class="active">Apps</a></li>
                <li><a href="/apps_review/profile.html">Profile</a></li>
                <li><a href="/apps_review/logout.html">Logout</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="/apps_review/apps.html">Apps</a></li>
          <li><a href="/apps_review/apps-details.html">Pinpoint Tech</a></li>
          <li aria-current="page">Digital Assessment Questions</li>
        </ol>
      </div>

      <h1 class="heading-large">Pinpoint Tech</h1>

      <h2 class="heading-medium">Assessment Sections</h2>

      <div class="grid-row">

        <div class="column-one-half">
          <div class="cardapp">
            <div class="cardapp__top">
              <a href="apps-details-daqs-questions.html" class="cardapp__top__title">General</a>
              <div class="cardapp__top__subtitle">Information about the digital tool, company registration and key personnel</div>
            </div>
            <div class="cardapp__content">
              13 / 13 questions answered<br>
              Answers last updated: 11/1/2018 at 15:20<br>
              Form has been submitted and is read-only
            </div>
            <div class="cardapp__footer">
              <b class="green bold-small">1 questions "Approved"</b>
            </div>
          </div>
        </div>

        <div class="column-one-half">
          <div class="cardapp">
            <div class="cardapp__top">
              <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Clinical Effectiveness</a>
              <div class="cardapp__top__subtitle">Intended usage, evidence basis for service, ongoing studies</div>
            </div>
            <div class="cardapp__content">
              29 / 30 questions answered<br>
              Answers last updated: 11/1/2018 at 15:20<br>
              Form has been submitted and is read-only
            </div>
            <div class="cardapp__footer">

            </div>
          </div>
        </div>

      </div>
      <div class="grid-row">

        <div class="column-one-half">
          <div class="cardapp">
            <div class="cardapp__top">
              <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Regulatory Approval</a>
              <div class="cardapp__top__subtitle">CQC, HSCN and MHRA</div>
            </div>
            <div class="cardapp__content">
              9 / 10 questions answered<br>
              Answers last updated: 11/1/2018 at 15:20<br>
              Form has been submitted and is read-only
            </div>
            <div class="cardapp__footer">

            </div>
          </div>
        </div>

        <div class="column-one-half">
          <div class="cardapp">
            <div class="cardapp__top">
              <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Clinical Safety</a>
              <div class="cardapp__top__subtitle">SCCI0129</div>
            </div>
            <div class="cardapp__content">
              8 / 8 questions answered<br>
              Answers last updated: 11/1/2018 at 15:20<br>
              Form has been submitted and is read-only
            </div>
            <div class="cardapp__footer">

            </div>
          </div>
        </div>

      </div>
      <div class="grid-row">

        <div class="column-one-half">
          <div class="cardapp">
            <div class="cardapp__top">
              <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Privacy &amp; Confidentiality</a>
              <div class="cardapp__top__subtitle">Privacy and consent</div>
            </div>
            <div class="cardapp__content">
              26 / 26 questions answered<br>
              Answers last updated: 11/1/2018 at 15:20<br>
              Form has been submitted and is read-only
            </div>
            <div class="cardapp__footer">

            </div>
          </div>
        </div>

        <div class="column-one-half">
          <div class="cardapp">
            <div class="cardapp__top">
              <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Security</a>
              <div class="cardapp__top__subtitle">Mobile Standards, Architecture, Data Storage, Privacy, Cryptography etc...</div>
            </div>
            <div class="cardapp__content">
              67 / 74 questions answered<br>
              Answers last updated: 11/1/2018 at 15:20<br>
              Form has been submitted and is read-only
            </div>
            <div class="cardapp__footer">

            </div>
          </div>
        </div>

        </div>
        <div class="grid-row">

          <div class="column-one-half">
            <div class="cardapp">
              <div class="cardapp__top">
                <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Usability &amp; Accessibility</a>
                <div class="cardapp__top__subtitle">Usability &amp; Accessibility</div>
              </div>
              <div class="cardapp__content">
                15 / 21 questions answered<br>
                Answers last updated: 11/1/2018 at 15:20<br>
                Form has been submitted and is read-only
              </div>
              <div class="cardapp__footer">

              </div>
            </div>
          </div>

          <div class="column-one-half">
            <div class="cardapp">
              <div class="cardapp__top">
                <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Interoperability</a>
                <div class="cardapp__top__subtitle">Interoperability</div>
              </div>
              <div class="cardapp__content">
                13 / 13 questions answered<br>
                Answers last updated: 11/1/2018 at 15:20<br>
                Form has been submitted and is read-only
              </div>
              <div class="cardapp__footer">

              </div>
            </div>
          </div>

        </div>
        <div class="grid-row">

          <div class="column-one-half">
            <div class="cardapp">
              <div class="cardapp__top">
                <a href="apps-details-daqs-questions.html" class="cardapp__top__title">Technical Stability</a>
                <div class="cardapp__top__subtitle">Quality assurance, Service Management and Product Development</div>
              </div>
              <div class="cardapp__content">
                15 / 15 questions answered<br>
                Answers last updated: 11/1/2018 at 15:20<br>
                Form has been submitted and is read-only
              </div>
              <div class="cardapp__footer">

              </div>
            </div>
          </div>


        </div>
      </div>



    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


</body>
</html>
