<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Review / Apps / Question States v1</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_review" id="proposition-name">Apps Assessment</a>
              <strong class="phase-tag" style="position:relative; left:4px; top:-2px;">REVIEWER</strong>

              <ul id="proposition-links">
                <li><a href="/apps_review/apps.html" class="active">Apps</a></li>
                <li><a href="/apps_review/profile.html">Profile</a></li>
                <li><a href="/apps_review/logout.html">Logout</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>

    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="/apps_review/apps.html">Apps</a></li>
          <li><a href="/apps_review/apps-details.html">Pinpoint Tech</a></li>
          <li aria-current="page">Questions</li>
        </ol>
      </div>






      <h1 class="heading-large">DAQ reviewer question states</h1>


      <div class="form-group">
        <label class="form-label" for="value-1-1"><span class="heading-medium">1.1 &nbsp; Standard view</span></label>
        <input class="form-control" id="value-1-1" type="text" name="value-1-1" value="Sample" disabled><br>
        <p class="form-buttons">
          <a href="#" class="button button--small">Approve</a>
          <a href="#" class="button button--small button--chevron button--red">Reject</a>
          <a href="#" class="button button--small button--chevron button--grey">Request documents</a>
        </p>
      </div>


      <hr>


      <div class="form-group form-group--approved">
        <label class="form-label" for="value-1-2"><span class="heading-medium">1.2 &nbsp; Approved question</span></label>
        <input class="form-control" id="value-1-2" type="text" name="value-1-2" value="Sample" disabled>
        <!-- <span class="form-side-note">Approved</span> -->
        <p class="form-note">You <span class="green">approved</span> this question &nbsp; <a href="#">Change</a></p>
      </div>


      <hr>


      <div class="form-group form-group--rejected">
        <label class="form-label" for="value-1-3"><span class="heading-medium">1.3 &nbsp; Rejected question</span></label>
        <input class="form-control" id="value-1-3" type="text" name="value-1-3" value="Sample" disabled>
        <p class="form-note">You <span class="red">rejected</span> this question &nbsp; <a href="#">Change</a></p>
        <div class="panel font-xsmall">
          <p><span class="red">Rejected</span> - This is still wrong sunshine <br>
          2 hours ago <a href="#">David Sayce</a></p>
        </div>
      </div>


      <hr>


      <div class="form-group form-group--rejected">
        <label class="form-label" for="value-1-4"><span class="heading-medium">1.4 &nbsp; Reject question</span></label>
        <input class="form-control" id="value-1-4" type="text" name="value-1-4" value="Sample" disabled>
        <p class="form-buttons">
          <a href="#" class="button button--small">Approve</a>
          <a href="#" class="button button--small button--chevron button--red">Reject</a>
          <a href="#" class="button button--small button--chevron button--grey">Request documents</a>
        </p>
        <div class="panel panel--red">
          <label class="form-label" for="value-1-4-1">Reject answer - Information request</label>
          <textarea class="form-control form-control-1-4-1" name="textarea" id="textarea" rows="5"></textarea>
          <a href="#" class="button button--red">Save</a>
        </div>
      </div>


      <hr>


      <div class="form-group">
        <label class="form-label" for="value-1-5"><span class="heading-medium">1.4 &nbsp; Request information</span></label>
        <input class="form-control" id="value-1-5" type="text" name="value-1-5" value="Sample" disabled>
        <p class="form-buttons">
          <a href="#" class="button button--small">Approve</a>
          <a href="#" class="button button--small button--chevron button--red">Reject</a>
          <a href="#" class="button button--small button--chevron button--grey">Request documents</a>
        </p>
        <div class="panel">
          <label class="form-label" for="value-1-4-1">Information request</label>
          <textarea class="form-control form-control-1-4-1" name="textarea" id="textarea" rows="5"></textarea>
          <a href="#" class="button">Save</a>
          <div class="form-group" style="padding-top:20px;">
            <label class="form-label" for="file-input">
              Upload a file
            </label>
            <input type="file" id="file-input">
          </div>
        </div>
        <div class="panel font-xsmall">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et ante imperdiet, cursus felis sit amet, faucibus leo. Suspendisse facilisis luctus ante, sed pulvinar urna aliquam et. </p>
          <p>2 hours ago <a href="#">David Sayce</a></p>
        </div>
      </div>









    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Pie charts -->
    <link href="https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/css/jquery.circliful.css" media="screen" rel="stylesheet" />
    <script src="https://rawgit.com/pguso/jquery-plugin-circliful/1.0.2/js/jquery.circliful.js"></script>

    <script>

    $( document ).ready(function() { // 6,32 5,38 2,34
        $("#pie").circliful({
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 38,
            textBelow: true,
            //textSize: 28,
            backgroundColor: '#DBDBDB',
            foregroundColor: '#005BBB',
            textColor: '#FFFFFF',
            multiPercentage: 1
        });
        $("#pie2").circliful({
            animation: 1,
            animationStep: 5,
            foregroundBorderWidth: 10,
            backgroundBorderWidth: 10,
            percent: 38,
            textBelow: true,
            //textSize: 28,
            backgroundColor: '#DBDBDB',
            foregroundColor: '#005BBB',
            textColor: '#FFFFFF',
            multiPercentage: 1
        });
      });
    </script>

</body>
</html>
