{% extends "layout.html" %}

{% block pageTitle %}
  Create Password | Early Career Framework
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h4 class="govuk-heading-l">Confirmed</h4>
      <form action="./confirmed" class="form" method="POST">
        {{ govukInput({
          label: {
            text: "Password"
          },
          classes: "govuk-input",
          id: "password",
          name: "password",
          hint: "Passwords must be at least 8 characters in length"
          spellcheck: false,
          required: true
        }) }}

        {{ govukInput({
          label: {
            text: "Confirm password"
          },
          classes: "govuk-input",
          id: "password",
          name: "password",
          spellcheck: false,
          required: true
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
      {{ govukInsetText({
		    html: '<strong class="govuk-tag govuk-tag--grey">PROTOTYPE</strong> 
        This will actually send a email using Gov.uk notify, enter a valid email.'
      }) }}
    </div>
  </div>
{% endblock %}