{% extends "zalozenie-zivnosti/layout_step_by_step_nav.html" %}
{% block pageTitle %} Založte si bankový účet {% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">
    Založte si bankový účet
  </h1>

  <p>
    Pri zakladaní živnosti si nemusíte zakladať nový bankový účet &ndash; môžete používať Váš osobný účet.
  </p>
  <p>
    Je to však praktické: oddelíte tak svoje osobné a podnikateľské príjmy a výdavky, čo Vám zjednoduší prácu pri účtovníctve a daňovom priznaní.
  </p>

  <h2 class="govuk-heading-l">Súvisiace odkazy</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="http://www.uspesne-podnikanie.sk/zivnostnik-a-ucet-banke" class="govuk-link">Živnostník (SZČO) a účet v banke</a> (externý zdroj)</li>
    <li><a href="https://mojepodnikanie.sk/ucet/" class="govuk-link">Živnosť – podnikateľský alebo súkromný účet</a> (externý zdroj)</li>
  </ul>
{% endblock %}