{% extends "layout.html" %}
{% from "templates/step-by-step/macro.njk"  import govukStepByStep %}

{% block pageTitle %}
  Založenie živnosti
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Domov</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Podnikanie</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Založenie živnosti: krok za krokom
    </h1>

    <p>
      Zistite, čo treba vybaviť na založenie živnosti.
    </p>
  {{ pageUrl }}
    {{
      govukStepByStep({
        large: true,
        steps: navigationSteps
      })
    }}
  </div>
</div>

{% endblock %}
