
{% extends "layout.html" %}

{% block pageTitle %}
  Založenie živnosti
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Domov</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Podnikanie</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Založenie živnosti: krok za krokom
    </h1>

    <p>
      Zistite, čo treba vybaviť na založenie živnosti.
    </p>

    {{
      govukStepByStep({
        large: true,
        steps: [
          {
            number: '1',
            title: 'Založte si bankový účet',
            description: 'Nepovinné, ale užitočné. Postačí vám aj bežný účet.',
            links: [
              {
                text: 'Aký bankový účet je potrebný pre živnosť',
                href: '#'
              }
            ]
          },
          {
            number: '2',
            title: 'Ohláste svoju živnosť',
            description: 'Zaregistrujte vašu živnosť a dostanete IČO.',
            links: [
              {
                text: 'Ohlásenie živnosti na Ministerstve Vnútra',
                href: '#'
              }
            ]
          },
          {
            number: '3',
            title: 'Zaregistrujte sa na DPH',
            description: 'Ak budete pracovať pre zahraničných zákazníkov alebo obracať veľké peniaze.',
            links: [
              {
                text: 'Zistite, či sa potrebujete zaregistrovať na DPH',
                href: '#'
              }
            ]
          },
          {
            number: '4',
            title: 'Dane a odvody: čo treba platiť',
            description: 'Kedy a či začať platiť zdravotné a sociálne poistenie.',
            links: [
              {
                text: 'Zistite, aké odvody musíte platiť',
                href: '#'
              },
              {
                text: 'Dôležité termíny pre platenie daní',
                href: '#'
              }
            ]
          }
        ]
      })
    }}
  </div>
</div>

{% endblock %}
