{% extends "zalozenie-zivnosti/layout_form.html" %}

{% block mainContent %}
<form action="adresa" method="post" class="form">
{% call govukFieldset({
  legend: {
    text: "Vaše údaje",
    classes: "govuk-fieldset__legend--xl",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      text: 'Meno'
    },
    classes: "govuk-!-width-two-thirds",
    id: "first-name",
    name: "first-name"
  }) }}

  {{ govukInput({
    label: {
      text: 'Priezvisko'
    },
    classes: "govuk-!-width-two-thirds",
    id: "surname",
    name: "surname"
  }) }}

  {{ govukInput({
    label: {
      text: "Rodné číslo"
    },
    classes: "govuk-input--width-10",
    id: "birth-number",
    name: "birth-number"
  }) }}

{% endcall %}

  {{ govukButton({
      text: "Pokračovať",
      attributes: {
        type: 'submit'
      }
  }) }}
</form>
{% endblock %}