// Based on https://github.com/alphagov/govuk_publishing_components/blob/v9.3.6/app/assets/stylesheets/govuk_publishing_components/components/_step-by-step-nav.scss

.app-step-nav {
  @include govuk-font($size: 19);
  margin-bottom: 30px;
}
@media (min-width: 641px) {
  .app-step-nav.app-step-nav--large {
    margin-bottom: 60px;
  }
}

.app-step-nav-header {
  position: relative;
  padding: 10px;
  background: #f8f8f8;
  border-top: solid 1px #bfc1c3;
  border-bottom: solid 1px #bfc1c3;
}
@media (min-width: 641px) {
  .app-step-nav-header {
    padding: 15px;
  }
}

.app-step-nav-header__part-of {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  display: block;
  padding-bottom: 0.2em;
}
@media (min-width: 641px) {
  .app-step-nav-header__part-of {
    font-size: 16px;
    line-height: 1.25;
  }
}

.app-step-nav-header__title {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
}
@media (min-width: 641px) {
  .app-step-nav-header__title {
    font-size: 24px;
    line-height: 1.25;
  }
}

.app-step-nav-related {
  border-top: 2px solid #005ea5;
  margin-bottom: 45px;
}

.app-step-nav-related__heading {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}
@media (min-width: 641px) {
  .app-step-nav-related__heading {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.app-step-nav-related__links {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  margin: 0;
  padding: 0;
}
@media (min-width: 641px) {
  .app-step-nav-related__links {
    font-size: 16px;
    line-height: 1.25;
  }
}

.app-step-nav-related__pretitle {
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 641px) {
  .app-step-nav-related__pretitle {
    margin-bottom: 5px;
  }
}

.app-step-nav-related__links {
  list-style: none;
}

.app-step-nav-related__link-item {
  margin-top: 15px;
}
@media (min-width: 641px) {
  .app-step-nav-related__link-item {
    margin-top: 5px;
  }
}

.app-step-nav__controls {
  padding: 3px 3px 0 0;
  text-align: right;
}

.app-step-nav__button {
  color: #005ea5;
  cursor: pointer;
  background: none;
  border: 0;
  margin: 0;
}

.app-step-nav__button::-moz-focus-inner {
  border: 0;
}

.app-step-nav__button--title {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 19px;
  line-height: 1.4;
  display: inline-block;
  padding: 0;
  text-align: left;
  color: #0b0c0c;
}
@media (min-width: 641px) {
  .app-step-nav__button--title {
    font-size: 19px;
    line-height: 1.4;
  }
}

.app-step-nav--large .app-step-nav__button--title {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 19px;
  line-height: 1.4;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__button--title {
    font-size: 24px;
    line-height: 1.4;
  }
}

.app-step-nav__button--controls {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1;
  position: relative;
  z-index: 1;
  padding: 0.5em 0;
  text-decoration: underline;
}
@media (min-width: 641px) {
  .app-step-nav__button--controls {
    font-size: 14px;
    line-height: 1;
  }
}

.app-step-nav__button--controls:hover {
  color: #2b8cc4;
}

.app-step-nav--large .app-step-nav__button--controls {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__button--controls {
    font-size: 16px;
    line-height: 1;
  }
}

.app-step-nav__steps {
  padding: 0;
  margin: 0;
}

.app-step-nav__step {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.app-step-nav__step:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: solid 2px #bfc1c3;
  background: #fff;
  left: 0;
  margin-left: 12px;
  top: 15px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__step {
    padding-left: 60px;
  }

  .app-step-nav--large .app-step-nav__step:after {
    left: 0;
    margin-left: 16px;
    border-width: 3px;
    top: 30px;
  }
}

.app-step-nav__step:last-child:before {
  content: "";
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  margin-left: 6.5px;
  width: 13px;
  height: 0;
  border-bottom: solid 2px #bfc1c3;
}

.app-step-nav__step:last-child:after {
  height: -webkit-calc(100% - 15px);
  height: calc(100% - 15px);
}

.app-step-nav__step:last-child .app-step-nav__help:after {
  height: 100%;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__step:last-child:before {
    margin-left: 8.75px;
    width: 17.5px;
    border-width: 3px;
  }

  .app-step-nav--large .app-step-nav__step:last-child:after {
    height: calc(100% - 30px);
  }
}

.app-step-nav__step--active .app-step-nav__circle--number,
.app-step-nav__step--active .app-step-nav__help:after,
.app-step-nav__step--active .app-step-nav__substep:after,
.app-step-nav__step--active:after,
.app-step-nav__step--active:last-child:before {
  border-color: #0b0c0c;
}

.app-step-nav__circle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 15px;
  left: 0;
  width: 26px;
  height: 26px;
  color: #0b0c0c;
  background: #fff;
  border-radius: 100px;
  text-align: center;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__circle {
    top: 30px;
    width: 35px;
    height: 35px;
  }
}

.app-step-nav__circle--number {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 16px;
  line-height: 23px;
  border: solid 2px #bfc1c3;
}
@media (min-width: 641px) {
  .app-step-nav__circle--number {
    font-size: 16px;
    line-height: 23px;
  }
}

.app-step-nav--large .app-step-nav__circle--number {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 16px;
  line-height: 23px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__circle--number {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__circle--number {
    border-width: 3px;
  }
}

.app-step-nav__circle--logic {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 16px;
  line-height: 28px;
}
@media (min-width: 641px) {
  .app-step-nav__circle--logic {
    font-size: 16px;
    line-height: 28px;
  }
}

.app-step-nav--large .app-step-nav__circle--logic {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 16px;
  line-height: 28px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__circle--logic {
    font-size: 19px;
    line-height: 34px;
  }
}

.app-step-nav__circle-inner {
  float: right;
  min-width: 100%;
}

.app-step-nav__circle-background {
  text-shadow: 0 -0.1em 0 #fff, 0.1em 0 0 #fff, 0 0.1em 0 #fff, -0.1em 0 0 #fff;
}

.app-step-nav__header {
  padding: 15px 0;
  border-top: solid 2px #dee0e2;
}

.app-step-nav--active .app-step-nav__header {
  cursor: pointer;
}

.app-step-nav__header:hover .app-step-nav__button,
.app-step-nav__header:hover .app-step-nav__circle {
  color: #005ea5;
}

.app-step-nav__header:hover .app-step-nav__toggle-link {
  text-decoration: underline;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__header {
    padding: 30px 0;
  }
}

.app-step-nav__title {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
}
@media (min-width: 641px) {
  .app-step-nav__title {
    font-size: 19px;
    line-height: 1.4;
  }
}

.app-step-nav--large .app-step-nav__title {
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  text-transform: none;
  font-size: 19px;
  line-height: 1.4;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__title {
    font-size: 24px;
    line-height: 1.4;
  }
}

.app-step-nav__toggle-link {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.2;
  display: block;
  color: #005ea5;
}
@media (min-width: 641px) {
  .app-step-nav__toggle-link {
    font-size: 14px;
    line-height: 1.2;
  }
}

.app-step-nav--large .app-step-nav__toggle-link {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__toggle-link {
    font-size: 16px;
    line-height: 1.2;
  }
}

.app-step-nav__panel {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}
@media (min-width: 641px) {
  .app-step-nav__panel {
    font-size: 16px;
    line-height: 1.3157894737;
  }
}

.app-step-nav--large .app-step-nav__panel {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__panel {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.app-step-nav__heading,
.app-step-nav__paragraph {
  padding-bottom: 15px;
  margin: 0;
  font-size: inherit;
}

.app-step-nav__heading + .app-step-nav__list,
.app-step-nav__paragraph + .app-step-nav__list {
  margin-top: -5px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__heading + .app-step-nav__list,
  .app-step-nav--large .app-step-nav__paragraph + .app-step-nav__list {
    margin-top: -15px;
  }
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__heading,
  .app-step-nav--large .app-step-nav__paragraph {
    padding-bottom: 30px;
  }
}

.app-step-nav__heading {
  font-weight: bold;
}

.app-step-nav__list {
  padding: 0 0 10px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__list {
    padding-bottom: 20px;
  }
}

.app-step-nav__list--choice {
  margin-left: 20px;
  list-style: disc;
}

.app-step-nav__list--choice .app-step-nav__list-item--active:before {
  left: -65px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__list--choice .app-step-nav__list-item--active:before {
    left: -80px;
  }
}

.app-step-nav__list-item {
  list-style: none;
  margin-bottom: 10px;
}

.app-step-nav__list-item--active {
  position: relative;
}

.app-step-nav__list-item--active:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  position: absolute;
  z-index: 5;
  top: 0.6em;
  left: -45px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: #0b0c0c;
  border: solid 2px #fff;
  border-radius: 100px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__list-item--active:before {
    left: -60px;
    margin-left: 9.5px;
  }
}

.app-step-nav__list-item--active .app-step-nav__link {
  color: #0b0c0c;
  text-decoration: none;
}

.app-step-nav__list-item--active .app-step-nav__link:active,
.app-step-nav__list-item--active .app-step-nav__link:link,
.app-step-nav__list-item--active .app-step-nav__link:visited {
  color: #0b0c0c;
}

.app-step-nav__context {
  display: inline-block;
  font-weight: normal;
  color: #6f777b;
}

.app-step-nav__context:before {
  content: " \2013\00a0";
}

.app-step-nav__help {
  position: relative;
  padding: 15px 0;
  border-top: solid 2px #dee0e2;
}

.app-step-nav__help:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: dotted 2px #bfc1c3;
  background: #fff;
  left: 0;
  margin-left: 12px;
  z-index: 3;
  top: 0;
  left: -45px;
  height: calc(100% + 30px);
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__help:after {
    left: 0;
    margin-left: 16px;
    border-width: 3px;
    left: -60px;
    height: calc(100% + 30px + 15px);
  }
}

.app-step-nav__help-link {
  text-decoration: none;
  font-weight: bold;
}

.app-step-nav__help-link:hover {
  text-decoration: underline;
}

.app-step-nav__substep {
  position: relative;
  padding-top: 15px;
  border-top: solid 2px #dee0e2;
}

.app-step-nav__substep:after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: solid 2px #bfc1c3;
  background: #fff;
  left: 0;
  margin-left: 12px;
  z-index: 3;
  top: 0;
  left: -45px;
}
@media (min-width: 641px) {
  .app-step-nav--large .app-step-nav__substep {
    padding-top: 30px;
  }

  .app-step-nav--large .app-step-nav__substep:after {
    left: 0;
    margin-left: 16px;
    border-width: 3px;
    left: -60px;
  }
}

.app-step-nav__substep--optional:after {
  border-left-style: dotted;
}
