// Task list pattern

// Override column width for tablet and up
.column-minimum {
  @include media(tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 35px;

.task-list {
  margin-top: $gutter;
  @include media(tablet) {
    margin-top: ($gutter * 2);
  }
}


.task-list-section {
  display: table;

  @include bold-24;
  padding-bottom: ($gutter / 6);
}

.task-list-section-number {
  display: table-cell;
  padding-right: ($gutter / 6);

  @include media(tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.task-list-items {
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-bottom: ($gutter * 2);
  }

  @include media(tablet) {
    padding-left: $task-list-indent;
  }
}

.task-list-item {
  border-bottom: 1px solid $border-colour;
  padding-top: $gutter-one-third;
  padding-bottom: $gutter-one-third;
  @extend %contain-floats;
}

.task-list-item:first-child {
  border-top: 1px solid $border-colour;
}


.task-name {
  width: $two-thirds;
  float: left;
}

.task-completed {
  float: right;
  @include inline-block;
  margin-left: 8px;

  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;

  @include bold-16($line-height: 20 / 16);
  letter-spacing: 1px;
  text-decoration: none;

  color: $white;
  background-color: $govuk-blue;
}
