// Task list pattern

// Override column width for tablet and up
.app-column-minimum {
  @include govuk-media-query($from: tablet) {
    min-width: 600px;
  }
}

// Spacing to the left of the task list
$task-list-indent: 35px;

.app-task-list {
  list-style: none;
  padding: 0;
  margin-top: $govuk-gutter;
  @include govuk-media-query($from: tablet) {
    margin-top: ($govuk-gutter * 2);
  }
}

.app-task-list__section {
  display: table;

  @include govuk-font(24, $weight: bold);
  margin: 0;
  padding-bottom: ($govuk-gutter / 6);
}

.app-task-list__section-number {
  display: table-cell;
  padding-right: ($govuk-gutter / 6);

  @include govuk-media-query($from: tablet) {
    min-width: $task-list-indent;
    padding-right: 0;
  }
}


.app-task-list__items {
  list-style: none;
  padding: 0;
  margin-bottom: $govuk-gutter;
  @include govuk-media-query($from: tablet) {
    margin-bottom: ($govuk-gutter * 2);
  }

  @include govuk-media-query($from: tablet) {
    padding-left: $task-list-indent;
  }
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  width: 33.3%;
  float: left;
}

.app-task-list__task-completed {
  float: right;
}
