{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_tutorials.html" %}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Tutorial 4</span>
    Data
  </h1>

  <p class="text">
    By the end of this tutorial you will have learned how to pass user data
    from one page and display it on the next page.
  </p>

  <p>
    <a href="/tutorials/4-data/start-page">
      Here's what you'll be making
    </a>
  </p>

</main>

{% endblock %}
