/* includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/

#content {
  margin: 0 auto;
  max-width: 1020px; }

.page-header {
  padding: 0 32px; }
  .page-header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    padding: 25px 0 15px; }
    @media (max-width: 640px) {
      .page-header h1 {
        font-size: 32px;
        line-height: 1.09375; } }
