/* includes node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }


@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }


#content {
  margin: 0 auto;
  max-width: 1020px; }

.page-header {
  padding: 0 32px; }
  .page-header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 48px;
    line-height: 1.04167;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    padding: 25px 0 15px; }
    @media (max-width: 640px) {
      .page-header h1 {
        font-size: 32px;
        line-height: 1.09375; } }

/* Alpha/Beta styles */
.alpha-banner {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  padding: 8px 0;
  background-color: #d53880; }
  @media (max-width: 640px) {
    .alpha-banner {
      font-size: 16px;
      line-height: 1.25; } }
  .alpha-banner p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      .alpha-banner p {
        font-size: 14px;
        line-height: 1.14286; } }
  .alpha-banner a, .alpha-banner a:link, .alpha-banner a:visited, .alpha-banner a:active {
    color: #0b0c0c; }
  .alpha-banner a:hover {
    color: #0b0c0c; }
  .alpha-banner strong {
    text-transform: uppercase; }

.alpha-tag {
  display: -moz-inline-stack;
  display: inline-block;
  background-color: #d53880;
  color: #fff;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  margin: 3px 10px 0 5px;
  padding: 2px 5px 0; }
  @media (max-width: 640px) {
    .alpha-tag {
      font-size: 14px;
      line-height: 1.14286; } }
