@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

%contain-floats:after {
  content: "";
  display: block;
  clear: both; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.example-highlight-grid .grid-wrapper {
  background: #bfc1c3; }
.example-highlight-grid .grid {
  background: #f8f8f8; }
.example-highlight-grid .is-inner-block-highlight {
  background: #dee0e2;
  width: 100%; }

.example-back-link {
  display: -moz-inline-stack;
  display: inline-block;
  margin-top: 30px; }

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
  border: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal; }

#content {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 640px) {
    #content {
      font-size: 16px;
      line-height: 1.25; } }

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xxlarge {
      font-size: 53px;
      line-height: 1.03774; } }

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-large {
      font-size: 24px;
      line-height: 1.04167; } }

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-medium {
      font-size: 20px;
      line-height: 1.2; } }

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-small {
      font-size: 16px;
      line-height: 1.25; } }

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .font-xsmall {
      font-size: 14px;
      line-height: 1.14286; } }

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .bold-xxlarge {
      font-size: 53px;
      line-height: 1.03774; } }

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .bold-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .bold-large {
      font-size: 24px;
      line-height: 1.04167; } }

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .bold-medium {
      font-size: 20px;
      line-height: 1.2; } }

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .bold-small {
      font-size: 16px;
      line-height: 1.25; } }

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .bold-xsmall {
      font-size: 14px;
      line-height: 1.14286; } }

.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em; }
  @media (max-width: 640px) {
    .heading-xlarge {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    .heading-xlarge {
      margin-top: 0.625em;
      margin-bottom: 1.25em; } }
  .heading-xlarge .heading-secondary {
    font-family: "nta", Arial, sans-serif;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    color: #6f777b; }
    @media (max-width: 640px) {
      .heading-xlarge .heading-secondary {
        font-size: 18px;
        line-height: 1.11111; } }

.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em; }
  @media (max-width: 640px) {
    .heading-large {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    .heading-large {
      margin-top: 1.25em;
      margin-bottom: 0.55556em; } }

.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 1.25em;
  margin-bottom: 0.5em; }
  @media (max-width: 640px) {
    .heading-medium {
      font-size: 20px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .heading-medium {
      margin-top: 1.875em;
      margin-bottom: 0.83333em; } }

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 0.625em;
  margin-bottom: 0.3125em; }
  @media (max-width: 640px) {
    .heading-small {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .heading-small {
      margin-top: 1.05263em; } }

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em; }
  @media (min-width: 641px) {
    p {
      margin-top: 0.26316em;
      margin-bottom: 1.05263em; } }

.lede {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .lede {
      font-size: 20px;
      line-height: 1.2; } }

.text {
  max-width: 30em; }

#wrapper {
  text-align: center;
  padding-bottom: 30px; }
  @media (min-width: 769px) {
    #wrapper {
      padding-bottom: 90px; } }

#content {
  text-align: left;
  margin: 0 auto;
  width: auto;
  max-width: 1020px; }

.inner-block {
  margin-left: 15px;
  margin-right: 15px; }
  @media (min-width: 641px) {
    .inner-block {
      margin-left: 30px;
      margin-right: 30px; } }

#global-cookie-message .inner-block, #global-header-bar .inner-block {
  margin: 0; }

.phase-banner {
  padding: 8px 0;
  background-color: #d53880; }
  .phase-banner p {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    color: #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none; }
    @media (max-width: 640px) {
      .phase-banner p {
        font-size: 14px;
        line-height: 1.14286; } }
  .phase-banner a, .phase-banner a:link, .phase-banner a:visited, .phase-banner a:active {
    color: #0b0c0c; }
  .phase-banner a:hover {
    color: #0b0c0c; }

.grid-wrapper:after {
  content: "";
  display: block;
  clear: both; }
@media (min-width: 641px) {
  .grid-wrapper {
    margin-left: 15px;
    margin-right: 15px; } }

.grid-divider {
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px; }
  .grid-divider:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 641px) {
    .grid-divider {
      margin-left: 30px;
      margin-right: 30px; } }

.grid {
  float: left;
  width: 100%; }

@media (min-width: 641px) {
  .grid-1-4 {
    width: 25%; } }

@media (min-width: 641px) {
  .grid-1-3 {
    width: 33.33333%; } }

@media (min-width: 641px) {
  .grid-1-2 {
    width: 50%; } }

@media (min-width: 641px) {
  .grid-2-3 {
    width: 66.66667%; } }

@media (min-width: 641px) {
  .grid-3-4 {
    width: 75%; } }

.grid .inner-block {
  padding: 0; }
  @media (min-width: 641px) {
    .grid .inner-block {
      margin: 0 15px; } }

.inner-block .grid-wrapper {
  padding: 0;
  margin-left: -15px;
  margin-right: -15px; }
.inner-block .grid-divider {
  margin-left: 0;
  margin-right: 0; }

.form-group {
  float: left;
  width: 100%;
  clear: both;
  margin-bottom: 15px; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 30px; } }

.form-group-related {
  margin-bottom: 10px; }
  @media (min-width: 641px) {
    .form-group-related {
      margin-bottom: 20px; } }

.form-group-compound {
  margin-bottom: 10px; }

fieldset {
  width: 100%;
  float: left;
  clear: both; }

.form-title {
  margin-bottom: 30px; }
  @media (min-width: 641px) {
    .form-title {
      margin-bottom: 45px; } }

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .form-label {
      font-size: 16px;
      line-height: 1.25; } }

.form-label-bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  display: block;
  margin-bottom: 0; }
  @media (max-width: 640px) {
    .form-label-bold {
      font-size: 20px;
      line-height: 1.2; } }
  .form-label-bold .form-hint {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none; }
    @media (max-width: 640px) {
      .form-label-bold .form-hint {
        font-size: 16px;
        line-height: 1.25; } }

.form-block {
  float: left;
  width: 100%; }
  .form-block:after {
    content: "";
    display: block;
    clear: both; }

.form-hint {
  display: block;
  color: #6f777b;
  margin-bottom: 5px; }
  @media (min-width: 641px) {
    .form-hint {
      margin-top: 8px; } }

.form-control {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0; }
  @media (max-width: 640px) {
    .form-control {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }

.form-control-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-3-4 {
      width: 75%; } }

.form-control-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-2 {
      width: 50%; } }

.form-control-1-4 {
  width: 25%; }

.form-control-1-8 {
  width: 12.5%; }

.form-radio {
  display: block;
  margin: 10px 0; }

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0; }

.form-checkbox {
  display: block;
  margin: 15px 0; }

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0; }

@media (max-width: 640px) {
  .form .button {
    width: 100%; } }

.js-enabled .toggle-content {
  display: none; }

.validation-summary {
  border: 3px solid #df3034;
  padding: 15px 30px;
  margin-bottom: 30px; }

.validation-summary ul {
  margin-top: 10px; }

.validation-summary li, .validation-summary p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .validation-summary li, .validation-summary p {
      font-size: 14px;
      line-height: 1.14286; } }

.validation-summary p {
  margin-top: 15px;
  margin-bottom: 5px; }

.validation-summary a {
  color: #df3034; }

.validation-summary .heading-small {
  margin-top: 15px; }

.validation-message {
  display: block;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  color: #df3034; }
  @media (max-width: 640px) {
    .validation-message {
      font-size: 14px;
      line-height: 1.14286; } }

.date-of-birth label {
  display: block;
  margin-bottom: 5px; }

.date-of-birth .form-group {
  width: 50px;
  float: left;
  margin-right: 20px;
  clear: none; }

.date-of-birth .form-group-year {
  width: 70px; }

.date-of-birth .form-group input {
  width: 100%; }

.touch .date-of-birth {
  display: none; }

.no-touch .native-date-of-birth {
  display: none; }

.touch .native-date-of-birth {
  display: block; }

.touch input[type="date"] {
  min-height: 36px; }

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer; }
  @media (min-width: 641px) {
    .block-label {
      float: left;
      margin-top: 5px;
      margin-bottom: 5px; } }

.block-label:hover {
  border-color: #0b0c0c; }

.block-label input {
  position: absolute;
  top: 18px;
  left: 15px;
  cursor: pointer; }

.inline .block-label {
  clear: none;
  margin-right: 15px; }

.js-enabled .add-focus {
  outline: 3px solid #ffbf47; }

.js-enabled .block-label input:focus {
  outline: none; }

.js-enabled .selected {
  background: #fff;
  border-color: #0b0c0c; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  padding: 0.73684em 1.05263em 0.52632em 0;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3; }
  @media (max-width: 640px) {
    table th, table td {
      font-size: 14px;
      line-height: 1.14286; } }

table th {
  font-weight: 700; }

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  margin: 0 15px 15px 0;
  padding: 0.52632em 0.78947em 0.26316em 0.78947em;
  vertical-align: top; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background-color: #00692f; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518; }
  .button:link, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button:focus {
  outline: 3px solid #ffbf47; }

.button[disabled="disabled"] {
  background: #00823b; }

.button[disabled="disabled"]:focus {
  outline: none; }

.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  background-image: url("../images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.36842em 2.15789em 0.21053em 0.84211em; }
  @media (max-width: 640px) {
    .button-get-started {
      font-size: 20px;
      line-height: 1.2; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20/10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .button-get-started {
      background-image: url("../images/icons/icon-pointer-2x.png");
      background-size: 30px 19px; } }

details {
  display: block; }

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.26316em; }

details summary:hover {
  color: #2e8aca; }

details summary:focus {
  outline: 3px solid #ffbf47; }

details .summary {
  text-decoration: underline; }

details .arrow {
  margin-right: 0.35em; }

details .panel-indent {
  margin-top: 0; }

menu, ol, ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0; }

ul, ol {
  list-style-type: none; }

ul li, ol li {
  margin-bottom: 5px; }

.list-bullet {
  list-style-type: disc;
  margin-left: 20px; }

.list-number {
  list-style-type: decimal;
  margin-left: 25px; }

.panel-indent {
  clear: both;
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 30px 15px 45px 0; }

.panel-indent legend {
  margin-top: 0; }

.panel-indent p:only-child, .panel-indent p:last-child {
  margin-bottom: 0; }

.panel-indent .form-group:last-child {
  margin-bottom: 0; }
