@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }


@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }


@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }


@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

.example-highlight-grid .grid-wrapper {
  background: #bfc1c3; }
.example-highlight-grid .grid {
  background: #f8f8f8; }
.example-highlight-grid .is-inner-block-highlight {
  background: #dee0e2;
  width: 100%; }

.example-back-link {
  display: -moz-inline-stack;
  display: inline-block;
  margin-top: 30px; }

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
  border: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, textarea, table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal; }

#content {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased; }
  @media (max-width: 640px) {
    #content {
      font-size: 16px;
      line-height: 1.25; } }

.heading-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 30px; }
  @media (max-width: 640px) {
    .heading-48 {
      font-size: 32px;
      line-height: 1.09375; } }
  @media (min-width: 641px) {
    .heading-48 {
      margin-top: 30px;
      margin-bottom: 60px; } }
  .heading-48 .heading-27 {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    color: #6f777b; }
    @media (max-width: 640px) {
      .heading-48 .heading-27 {
        font-size: 18px;
        line-height: 1.11111; } }

.heading-36 {
  font-family: "nta", Arial, sans-serif;
  font-size: 36px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px; }
  @media (max-width: 640px) {
    .heading-36 {
      font-size: 24px;
      line-height: 1.04167; } }
  @media (min-width: 641px) {
    .heading-36 {
      margin-top: 45px;
      margin-bottom: 20px; } }

.heading-24 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px; }
  @media (max-width: 640px) {
    .heading-24 {
      font-size: 20px;
      line-height: 1.2; } }
  @media (min-width: 641px) {
    .heading-24 {
      margin-top: 45px;
      margin-bottom: 20px; } }

.heading-19 {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px; }
  @media (max-width: 640px) {
    .heading-19 {
      font-size: 16px;
      line-height: 1.25; } }
  @media (min-width: 641px) {
    .heading-19 {
      margin-top: 20px; } }

p, pre {
  margin-top: 5px;
  margin-bottom: 20px; }

.lede, .lead {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none; }
  @media (max-width: 640px) {
    .lede, .lead {
      font-size: 20px;
      line-height: 1.2; } }

.copy-16 {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .copy-16 {
      font-size: 14px;
      line-height: 1.14286; } }

.text {
  max-width: 30em; }

.data-80 {
  font-family: "nta", Arial, sans-serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .data-80 {
      font-size: 53px;
      line-height: 1.03774; } }

.data-48 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.9; }
  @media (max-width: 640px) {
    .data-48 {
      font-size: 32px;
      line-height: 1.09375; } }

.data p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  font-weight: 700; }
  @media (max-width: 640px) {
    .data p {
      font-size: 14px;
      line-height: 1.14286; } }

#wrapper {
  text-align: center;
  padding-bottom: 30px; }
  @media (min-width: 769px) {
    #wrapper {
      padding-bottom: 90px; } }

#content {
  text-align: left;
  margin: 0 auto;
  width: auto;
  max-width: 1020px; }
  #content:after {
    content: "";
    display: block;
    clear: both; }

.outer-block {
  margin: 0 auto;
  width: auto;
  max-width: 1020px; }
  .outer-block:after {
    content: "";
    display: block;
    clear: both; }

.inner-block {
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 641px) {
    .inner-block {
      padding-left: 30px;
      padding-right: 30px; } }

.grid-wrapper:after {
  content: "";
  display: block;
  clear: both; }
@media (min-width: 641px) {
  .grid-wrapper {
    padding: 0 15px; } }

.grid {
  float: left;
  width: 100%; }

@media (min-width: 641px) {
  .grid .inner-block {
    padding: 0 15px; } }

.grid-1-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .grid-1-4 {
      width: 25%; } }

.grid-1-3 {
  width: 100%; }
  @media (min-width: 641px) {
    .grid-1-3 {
      width: 33.33333%; } }

.grid-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .grid-1-2 {
      width: 50%; } }

.grid-2-3 {
  width: 100%; }
  @media (min-width: 641px) {
    .grid-2-3 {
      width: 66.66667%; } }

.grid-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .grid-3-4 {
      width: 75%; } }

fieldset, legend {
  width: 100%;
  float: left;
  clear: both; }

.form-group {
  float: left;
  width: 100%;
  clear: both; }
  .form-group:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 641px) {
    .form-group {
      margin-bottom: 45px; } }

.form-group-compound {
  margin-bottom: 10px; }

.form-label, .date-of-birth legend {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  display: block;
  margin-bottom: 10px; }
  @media (max-width: 640px) {
    .form-label {
      font-size: 16px;
      line-height: 1.25; } }

.form-block {
  float: left;
  width: 100%; }
  .form-block:after {
    content: "";
    display: block;
    clear: both; }

.form-control {
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #bfc1c3;
  -webkit-appearance: none;
  border-radius: 0; }
  @media (min-width: 641px) {
    .form-control {
      width: 50%; } }

.form-control-3-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-3-4 {
      width: 75%; } }

.form-control-1-2 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-2 {
      width: 50%; } }

.form-control-1-4 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-4 {
      width: 25%; } }

.form-control-1-8 {
  width: 100%; }
  @media (min-width: 641px) {
    .form-control-1-8 {
      width: 12.5%; } }

.form-hint {
  display: block;
  color: #6f777b;
  margin-top: 8px;
  margin-bottom: 5px; }

.form-radio {
  display: block;
  margin: 10px 0; }

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0; }

.form-checkbox {
  display: block;
  margin: 15px 0; }

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0; }

.text-secondary {
  color: #6f777b; }

.validation-summary {
  border: 3px solid #df3034;
  background: #fef7f7;
  padding: 15px 30px;
  margin-bottom: 30px; }

.validation-summary ul {
  margin-top: 10px; }

.validation-summary li, .validation-summary p {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none; }
  @media (max-width: 640px) {
    .validation-summary li, .validation-summary p {
      font-size: 14px;
      line-height: 1.14286; } }

.validation-summary p {
  margin-top: 15px;
  margin-bottom: 5px; }

.validation-summary a {
  color: #df3034; }

.validation-summary .heading-19 {
  margin-top: 15px; }

.validation {
  border-left: 3px solid #df3034;
  background: #fef7f7;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px; }
  .validation:after {
    content: "";
    display: block;
    clear: both; }

.validation p {
  margin-bottom: 10px; }

.validation-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  color: #df3034; }
  @media (max-width: 640px) {
    .validation-message {
      font-size: 14px;
      line-height: 1.14286; } }


.date-of-birth label {
  display: block;
  color: #6f777b;
  margin-bottom: 5px; }

@media (min-width: 641px) {
  .date-of-birth .form-group {
    width: 50px;
    float: left;
    margin-right: 20px;
    clear: none; } }

@media (min-width: 641px) {
  .date-of-birth .form-group-year {
    width: 70px; } }

.date-of-birth .form-group input {
  width: 100%; }

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 45px;
  margin-bottom: 15px;
  cursor: pointer; }
  @media (min-width: 641px) {
    .block-label {
      float: left; } }

.block-label:hover {
  border-color: #0b0c0c; }

.block-label input {
  position: absolute;
  top: 18px;
  left: 15px; }

.inline .block-label {
  clear: none;
  margin-right: 15px; }

.js-enabled .add-focus {
  outline: 3px solid #ffbf47; }

.js-enabled .block-label input:focus {
  outline: none; }

.js-enabled .selected {
  background: #fff;
  border-color: #0b0c0c; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

table tr {
  padding: 12px 8px 12px 16px; }

table tr:nth-child(even) td {
  background-color: #fff; }

table th, table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  text-align: left;
  color: #0b0c0c;
  background-color: #dee0e2;
  border: solid 1px #a1acb2;
  padding: 10px 16px; }
  @media (max-width: 640px) {
    table th, table td {
      font-size: 14px;
      line-height: 1.14286; } }

table th {
  font-weight: 700; }

table td {
  background: #eaedef;
  border: dotted 1px #b8c6cc; }

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.35em 0.5em 0.15em 0.5em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003518;
  -moz-box-shadow: 0 2px 0 #003518;
  box-shadow: 0 2px 0 #003518;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background-color: #00692f; }
  .button:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #00823b;
    -moz-box-shadow: 0 0 0 #00823b;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      -webkit-box-shadow: 0 2px 0 #003518;
      -moz-box-shadow: 0 2px 0 #003518;
      box-shadow: 0 2px 0 #003518; }
  .button:link, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }
  .button:active:before {
    top: -10%;
    height: 120%; }
  .button[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0; }

.button:focus {
  outline: 3px solid #ffbf47; }

.disabled:hover {
  background: #00823b; }

.disabled:focus {
  outline: none; }

.get-started .button {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  line-height: 0.66667;
  color: #FFF;
  background-color: #00823b;
  padding: 14px 41px 10px 16px;
  background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-pointer-063838cde108768e30b077e5303783fc.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  margin-bottom: 0; }
  @media (max-width: 640px) {
    .get-started .button {
      font-size: 20px;
      line-height: 1.2; } }
.get-started .button:hover {
  background-color: #006435; }
.get-started .button:focus {
  outline: 3px solid #ffbf47; }
.get-started .destination {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #2e3133;
  display: block;
  margin-top: 7px;
  max-width: 182px; }
  @media (max-width: 640px) {
    .get-started .destination {
      font-size: 12px;
      line-height: 1.25; } }

.button-link {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  background: none;
  border: none;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  color: #005ea5;
  line-height: 1.25;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 15px 15px 0;
  padding: 10px 10px 5px 10px;
  vertical-align: top; }
  @media (max-width: 640px) {
    .button-link {
      font-size: 16px;
      line-height: 1.25; } }

.button-link:hover {
  color: #2e8aca; }

.button-link:focus {
  outline: 3px solid #ffbf47; }

menu, ol, ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0; }

ul, ol {
  list-style-type: none; }

ul li, ol li {
  margin-bottom: 5px; }

.list-bullet {
  list-style-type: disc;
  margin-left: 20px; }

.list-number {
  list-style-type: decimal;
  margin-left: 25px; }

.panel-indent {
  clear: both;
  border-left: 5px solid #dee0e2;
  padding-top: 10px;
  padding-left: 15px;
  margin: 30px 15px 30px 0; }
  .panel-indent:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 641px) {
    .panel-indent {
      padding-left: 30px; } }

.text-secondary {
  color: #6f777b; }
