{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

  <a class="link-back" href="/examples/">Back to the GOV.UK prototype kit examples</a>

  <h1 class="heading-xlarge">
    New grid layout example
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-medium">Two thirds</h2>
      <div class="text">
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
        <p>
          This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
        </p>
      </div>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        This guide shows how to make your service look consistent with the rest of GOV.UK. It includes example code and guidance for layout, typography, colour, images, icons, forms, buttons and data.
      </p>
    </div>
  </div>

</main>
{% endblock %}
