{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
{{/head}}

{{$content}}
<main id="content" role="main">

  <a href="/examples/" class="example-back-link">Back to the GOV.UK prototype kit examples</a>

  <h1 class="heading-xlarge">
    New grid layout example
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="bold-medium">Two thirds</h2>
      <div class="text">
        <p>
          The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
        </p>
        <p>
          The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
        </p>
      </div>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government.
      </p>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">One third</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">One half</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
    <div class="column-quarter">
      <h2 class="bold-medium">One quarter</h2>
      <p>
        The Deputy Prime Minister, Nick Clegg MP, is the deputy head of government. He is the leader of the Liberal Democrats and was appointed Deputy Prime Minister when the coalition government was formed following the 2010 general election.
      </p>
    </div>
  </div>

</main>
{{/content}}

{{/govuk_template}}
