{% extends "layout.html" %}

{% block page_title %}
  Example - Grid layout
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <h1 class="heading-xlarge">
    Grid layout
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="bold-medium">Two thirds</h2>

      <h3 class="heading-small">Understand user needs</h3>

      <p>
        Understand user needs. Research to develop a deep knowledge of who the service users are and what that means for the design of the service.
      </p>

    </div>
    <div class="column-third">

      <h2 class="bold-medium">One third</h2>

      <h3 class="heading-small">
        Do ongoing user research
      </h3>

      <p>
        Put a plan in place for ongoing user research and usability testing to continuously seek feedback from users to improve the service.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-third">

      <h2 class="bold-medium">One third</h2>

      <h3 class="heading-small">
        Have a multidisciplinary team
      </h3>

      <p>
        Put in place a sustainable multidisciplinary team that can design, build and operate the service, led by a suitably skilled and senior service manager with decision-making responsibility.
      </p>

    </div>
    <div class="column-third">

      <h2 class="bold-medium">One third</h2>

      <h3 class="heading-small">
        Use agile methods
      </h3>

      <p>
        Build your service using the agile, iterative and user-centred methods set out in the manual.
      </p>

    </div>
    <div class="column-third">

      <h2 class="bold-medium">One third</h2>

      <h3 class="heading-small">
        Iterate and improve frequently
      </h3>

      <p>
        Build a service that can be iterated and improved on a frequent basis and make sure that you have the capacity, resources and technical flexibility to do so.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">

      <h2 class="bold-medium">One half</h2>

      <h3 class="heading-small">
        Evaluate tools and systems
      </h3>

      <p>
        Evaluate what tools and systems will be used to build, host, operate and measure the service, and how to procure them.
      </p>

    </div>
    <div class="column-half">

      <h2 class="bold-medium">One half</h2>

      <h3 class="heading-small">
        Understand security and privacy issues
      </h3>

      <p>
        Evaluate what user data and information the digital service will be providing or storing and address the security level, legal responsibilities, privacy issues and risks associated with the service (consulting with experts where appropriate).
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-half">

      <h2 class="bold-medium">One half</h2>

      <h3 class="heading-small">
        Make all new source code open
      </h3>

      <p>
        Make all new source code open and reusable, and publish it under appropriate licences (or provide a convincing explanation as to why this can't be done for specific subsets of the source code).
      </p>

    </div>
    <div class="column-quarter">

      <h2 class="bold-medium">One quarter</h2>

      <h3 class="heading-small">
        Use open standards and common platforms
      </h3>

      <p>
        Use open standards and common government platforms where available.
      </p>

    </div>
    <div class="column-quarter">

      <h2 class="bold-medium">One quarter</h2>

      <h3 class="heading-small">
        Test the end-to-end service
      </h3>

      <p>
        Be able to test the end-to-end service in an environment identical to that of the live version, including on all common browsers and devices, and using dummy accounts and a representative sample of users.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-quarter">

      <h2 class="bold-medium">One quarter</h2>

      <h3 class="heading-small">
        Make a plan for being offline
      </h3>

      <p>
        Make a plan for the event of the digital service being taken temporarily offline.
      </p>

    </div>
    <div class="column-quarter">

      <h2 class="bold-medium">One quarter</h2>

      <h3 class="heading-small">
        Make sure users succeed first time
      </h3>

      <p>
        Create a service which is simple to use and intuitive enough that users succeed the first time.
      </p>

    </div>
    <div class="column-quarter">

      <h2 class="bold-medium">One quarter</h2>

      <h3 class="heading-small">Make the user experience consistent with GOV.UK</h3>

      <p>
        Build a service consistent with the user experience of the rest of GOV.UK including using the design patterns and style guide.
      </p>

    </div>
    <div class="column-quarter">

      <h2 class="bold-medium">One quarter</h2>

      <h3 class="heading-small">Encourage everyone to use the digital service</h3>

      <p>
        Encourage all users to use the digital service (with assisted digital support if required) alongside an appropriate plan to phase out non-digital channels and services.
      </p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <h2 class="bold-medium">Full width</h2>

      <h3 class="heading-small">Collect performance data</h3>
      <p>
        Use tools for analysis that collect performance data. Use this data to analyse the success of the service and to translate this into features and tasks for the next phase of development.
      </p>

      <h3 class="heading-small">Identify performance indicators</h3>
      <p>
        Identify performance indicators for the service, including the 4 mandatory key performance indicators (KPIs) defined in the manual. Establish a benchmark for each metric and make a plan to enable improvements.
      </p>

      <h3 class="heading-small">Report performance data on the Performance Platform</h3>
      <p>
        Why you should report data and how you'll be assessed.
      </p>

      <h3 class="heading-small">Test with the minister</h3>
      <p>
        Test the service from beginning to end with the minister responsible for it.
      </p>

    </div>
  </div>

</main>
{% endblock %}
