{% extends "layout.html" %}

{% block page_title %}
  Example - Toggled content
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <form action="/" method="post" class="form">

        <h1 class="heading-xlarge">
          Toggled content
        </h1>

        <p>
          This page shows how to use the <code class="code">data-target</code> attribute to show and hide content when a radio button or checkbox is selected.
        </p>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">What is your nationality?</legend>

            <label class="block-label" for="nationality_british">
              <input type="checkbox" name="nationality_british" value="British" id="nationality_british">
              British
            </label>

            <label class="block-label" for="nationality_irish">
              <input type="checkbox" name="nationality_irish" value="Irish" id="nationality_irish">
              Irish
            </label>

            <label class="block-label" for="nationality_other" data-target="example_nationality_other">
              <input type="checkbox" name="nationality_other" value="Wales" id="nationality_other">
              Citizen of another country
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example_nationality_other">
              <label class="form-label" for="nationality_other_countries">
                Country name
              </label>
              <input class="form-control" type="text" id="nationality_other_countries">
            </div>

          </fieldset>
        </div>

        <h1 class="heading-large">
          Where should we send your new<br> passport?
        </h1>

        <div class="form-group">
          <fieldset>

            <legend class="visuallyhidden">
              Where should we send your new passport?
            </legend>

            <label class="block-label" for="radio-home-address" >
              <input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
              Home address
            </label>

            <label class="block-label" for="radio-other-address" data-target="example-other-address">
              <input id="radio-other-address" type="radio" name="radio-indent-group" value="No">
              Other address
            </label>

            <div class="panel panel-border-narrow js-hidden" id="example-other-address">

              <h2 class="heading-medium">
                Your other address
              </h2>

              <fieldset>

                <legend class="visuallyhidden">
                  Your other address
                </legend>

                <div class="form-group form-group-compound">
                  <label class="form-label" for="address-line-1">Street</label>
                  <input class="form-control" type="text" id="address-line-1">
                </div>

                <div class="form-group">
                  <label class="form-label visuallyhidden" for="address-line-2">Street</label>
                  <input class="form-control" type="text" id="address-line-2">
                </div>

                <div class="form-group">
                  <label class="form-label" for="address-town">Town or City</label>
                  <input class="form-control form-control-1-4" type="text" id="address-town">
                </div>

                <div class="form-group">
                  <label class="form-label" for="address-postcode">Postcode</label>
                  <input class="form-control form-control-1-8" type="text" id="address-postcode">
                </div>

              </fieldset>

            </div>
          </fieldset>
        </div>

      </form>

    </div>
  </div>
</main>
{% endblock %}
