{% extends "layout.html" %}

{% block page_title %}
  Example - Typography
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <h1 class="heading-xlarge">
    Typography
  </h1>

  <div class="text">

    <h1 class="heading-xlarge">
      <span class="heading-secondary">A 27px section heading</span>
      A 48px heading
    </h1>

    <p class="lede">
      This is an intro paragraph at 24px. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.
    </p>

    <h2 class="heading-large">A 36px heading</h2>

    <p>
      This is a body copy paragraph at 19px. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
    </p>

    <h3 class="heading-medium">A 24px heading</h3>

    <p>
    Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.
    </p>

    <h4 class="heading-small">A 19px heading</h4>

    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo.</p>

    <ul class="list list-bullet">
      <li>Here is a bulleted list.</li>
      <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
      <li>Vestibulum id ligula porta felis euismod semper.</li>
      <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
    </ul>

    <ol class="list list-number">
      <li>Here is a numbered list.</li>
      <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
      <li>Vestibulum id ligula porta felis euismod semper.</li>
      <li>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</li>
    </ol>

    <ul class="list">
      <li><a href="#">Related link</a></li>
      <li><a href="#">Related link</a></li>
      <li><a href="#">Related link</a></li>
      <li><a href="#" class="bold-xsmall">More</a></li>
    </ul>

  </div>

</main>
{% endblock %}
