{{<govuk_template}}

{{$head}}
  {{>includes/examples_head}}
{{/head}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$propositionHeader}}
  <div class="area header-proposition">Propositional navigation area</div>
{{/propositionHeader}}

{{$insideHeader}}
<div class="area">Inside header area</div>
{{/insideHeader}}

{{$afterHeader}}
<div class="area">After header area</div>
{{/afterHeader}}

{{$cookieMessage}}
<div class="area">Cookie message</div>
{{/cookieMessage}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}
<main class="area">Content area</main>
{{/content}}

{{$bodyEnd}}
<div class="area">Body end area</div>
{{/bodyEnd}}

{{$footerTop}}
<div class="area">Footer top area</div>
{{/footerTop}}

{{$footerSupportLinks}}
<div class="area">Footer support links area</div>
{{/footerSupportLinks}}



{{/govuk_template}}
