{% extends "layout.html" %}

{% block page_title %}
  Example - Branching - Director
{% endblock %}

{% block content %}
<main id="content" role="main">

  {% include "includes/breadcrumb_examples.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          Director
        </h1>

        <p>
          Congratulations, you are a director of a limited company.
        </p>

        <p>
          <a href="/examples/branching">Back to the branching example</a>
        </p>

    </div>
  </div>
</main>
{% endblock %}
