<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Assessment / FAQs</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/developer" id="proposition-name">NHS Developer</a>

              <!--
              <ul id="proposition-links">
                <li><a href="/apps_assessment/home.html" class="active">Home</a></li>
                <li><a href="/apps_assessment/login.html">Login</a></li>
                <li><a href="/apps_assessment/signup.html">Sign Up</a></li>
                <li><a href="/apps_assessment/reset-password.html">Reset Password</a></li>
              </ul>
              -->

            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>




    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="home.html">Home</a></li>
          <li aria-current="page">Digital Assessment Questions – Beta</li>
        </ol>
      </div>

      <div class="grid-row">

        <div class="column-two-thirds">

          <!-- START OF MAIN COL -->






          <h2 class="heading-large">Digital Assessment Questions – Beta</h2>
          <p>A group of subject matter experts, across a number of specialist organisations developed this beta version of the Digital Assessment Questions. They cover a series of clinical and technical standards, questions and best practice aimed to help you develop or enhance your digital product to the required and recommended standard.</p>
          <p>These questions are currently being used for pilot purposes and in the interests of transparency we are publishing this beta version to allow developers and vendors to see the latest thinking of this evolving assessment.</p>
          <p>You are welcome and free to access the Digital Assessment Questions to assess your product against, but your results will not be submitted for review or assessment at this time.</p>

          <p>The beta version will be updated and published to live at a later date, although will continue to evolve over time.  Our ambition is that the specialist organisations will hold responsibility for maintaining and updating these questions, so NHS Digital retain the technical categories, The National Institute for Health and Care Excellence (NICE) reside over the indicators of effectiveness questions and in the same way regulatory questions will be maintained by the relevant bodies. Updates will be published here and we encourage you to continue to access this site to stay informed.</p>




          <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
            <div class="subsection-controls js-subsection-controls">
              <button aria-expanded="false" aria-controls="subsection_content_0 subsection_content_1 subsection_content_2 subsection_content_3 ">Open all</button>
            </div>

            <div class="subsection-wrapper" style="clear: both">

              <h3 class="heading-medium">0. General</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">
                      What is the NHS Apps Library?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">

                  <h4 class="heading-medium">What is the name of the Digital Service? *</h4>
                  <p>0.1</p>

                  <h4 class="heading-medium">What are the components of the Digital Service? *</h4>
                  <ul>
                    <li>Application for smartphone or tablet</li>
                    <li>Website</li>
                    <li>Wearable</li>
                    <li>Medical Device</li>
                    <li>Other</li>
                  </ul>
                  <p class="font-xsmal">0.2</p>

                  <h4 class="heading-medium">Please select the platforms that are available to users of your digital service *</h4>
                  <ul>
                    <li>Web Browser</li>
                    <li>iOS Download</li>
                    <li>Android Download</li>
                    <li>Windows Mobile Download</li>
                    <li>OSX Download</li>
                    <li>Other</li>
                  </ul>

                  <h4 class="heading-medium">For each platform provide the current version number *</h4>

                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_2">
                      Company Registation
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_2">

                  <h4 class="heading-medium">Dropdown *</h4>
                  <ul>
                    <li>Please Select</li>
                    <li>App Developer</li>
                    <li>NHS Trust</li>
                    <li>Social Care Organisation</li>
                    <li>Academic Group</li>
                    <li>Healthcare Company</li>
                    <li>Other</li>
                  </ul>

                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_3">
                      Key Personnel
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_3">

                  <h4 class="heading-medium">Senior Executive/Manager/Sponsor</h4>
                  <h4 class="heading-medium">Clinical Safety Officer</h4>
                  <h4 class="heading-medium">Information Governance</h4>
                  <h4 class="heading-medium">Cyber Security</h4>
                  <h4 class="heading-medium">User Research/UX</h4>
                  <h4 class="heading-medium">UI/Development</h4>
                  <h4 class="heading-medium">Technical Architecture</h4>
                  <h4 class="heading-medium">Service/Operational Management</h4>

                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">1. Indicators of Effectiveness</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_4">
                      Clarity of Purpose &amp; Intended Use
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_4">

                  <div class="grid-row">

                    <div class="column-one-half">
                      <h4 class="heading-medium">Is the health and/or wellbeing purpose clearly defined within the digital service? *</h4>
                      <ul>
                        <li>Yes</li>
                        <li>No</li>
                      </ul>
                      <p class="font-xsmall">1.1.1 Please indicate if the purpose of the digital service is defined for both members of the public and healthcare professionals within the digital service.</p>
                    </div>

                    <div class="column-one-half">
                      <h4 class="heading-medium">Please provide the wording used in the service *</h4>
                      <p class="font-xsmall">1.1.2 Please copy the wording which is used to describe the purpose of the digital service to both the public and to healthcare professionals in the app/on the digital service website.</p>
                    </div>

                  </div>
                  <div class="grid-row">

                    <div class="column-one-half">
                      <h4 class="heading-medium">Is it clearly stated within the service who it is suitable for and, if relevant, who it is not suitable for? *</h4>
                      <ul>
                        <li>Yes</li>
                        <li>No</li>
                      </ul>
                      <p class="font-xsmall">1.1.3 Please indicate if the people for whom the digital service has been developed are defined in the digital service.</p>
                    </div>

                    <div class="column-one-half">
                      <h4 class="heading-medium">Please provide the wording used in the service *</h4>
                      <p class="font-xsmall">1.1.4 Please copy the wording used in the app/on the digital service website which describes the characteristics of people for whom the digital service has been developed and the characteristics of people for which the digital service is not suitable.</p>
                    </div>

                  </div>
                  <div class="grid-row">

                    <div class="column-one-half">
                      <h4 class="heading-medium">Is it clearly stated in the service when and how the digital service should be used in order to gain the health and care benefits claimed? *</h4>
                      <ul>
                        <li>Yes</li>
                        <li>No</li>
                      </ul>
                      <p class="font-xsmall">1.1.5 Please indicate if the instructions for use are defined in the digital service.</p>
                    </div>

                  </div>

                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_5">
                      Evidence Basis of Digital Service
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_5">

                  <h4 class="heading-medium">What type of evidence informed the design and development of the service? *</h4>
                  <ul>
                    <li>UK guideline, published systematic review or published peer-reviewed primary research study</li>
                    <li>Other primary research study or clinical opinion</li>
                    <li>None</li>
                  </ul>
                  <p class="font-xsmall">The design of your service should be underpinned by an evidence base. This evidence base should include as wide a range of published studies and guidelines as possible. UK guidelines where they exist provide the best basis of evidence. If there is more than one type of evidence please choose the highest category.</p>
                  <p class="font-xsmall">1.2.1</p>


                  <h4 class="heading-medium">Please provide links to the evidence and describe how you identified it and how it was used. *</h4>
                  <ul>
                    <li>Yes</li>
                    <li>No</li>
                    <li>Not Applicable</li>
                  </ul>
                  <p class="font-xsmall">If different evidence underpins different elements of the digital service, please indicate which evidence refers to which element.</p>
                  <p class="font-xsmall">1.2.1</p>


                  <h4 class="heading-medium">Are behaviour change components that are appropriate for the targeted behaviour incorporated within the service? *</h4>
                  <p class="font-xsmall">‘Components’ refers to ‘behaviour change techniques’ and ‘behavioural economics elements’ that should be incorporated (either as content or format or customer journey) within digital interventions to support behaviour change.
                    ‘Appropriate’ means that there is justification or evidence for the effectiveness of those components to support change of the targeted behaviour.
                    Michie et al. (2013) Annals of Behavioral Medicine 46(1) identifies many behaviour change techniques used in interventions (listed on page 52-76 of appendix): http://openaccess.city.ac.uk/3293/1/Michie%20et%20al%20Annals%20of%20Behavioral%20Medicine%202013%20-%20BCT%20Taxonomy%20v1.pdf
                    The EAST framework provides a simple guide to intervention elements from behavioural economics:
                    http://38r8om2xjhhl25mw24492dir.wpengine.netdna-cdn.com/wp-content/uploads/2015/07/BIT-Publication-EAST_FA_WEB.pdf
                  </p>
                  <p class="font-xsmall">1.2.1</p>

                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_6">
                      Data and Evidence Related to the Specific Digital Service
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_6">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_6">
                      Ongoing Studies
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_6">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">2. Regulatory Approval</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_7">
                      CQC
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_7">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      HSCN
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      MHRA
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">3. Clinical Safety</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      SCCI0129
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">4. Privacy &amp; Confidentiality</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Privacy &amp; Consent
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">5. Security</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Mobile Standards
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Architecture, Design and Threat Modelling
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Data Storage and Privacy
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Cryptography
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Authentication and Session Management
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Network Communication
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Environmental Interaction
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Code Quality and Build Setting
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Architecture, Design and Threat Modelling
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Data Storage and Privacy
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Authentication and Session Management
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Environmental Interaction
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">6. Usability &amp; Accessibility</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Usability &amp; Accessibility
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">7. Interoperability</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Interoperability
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">8. Technical Stability</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Quality Assurance
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Service Management
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Product Development
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>

              <!-- ####### -->

              <h3 class="heading-medium">9. Change Management</h3>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_8">
                      Version Control
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_8">
                  TBC
                </div>
              </div>



            </div>
          </div>






          <!-- END OF MAIN COL -->

        </div>
        <div class="column-one-third">
          <aside class="govuk-related-items" data-module="track-click" role="complementary">
            <h3 class="heading-medium">Useful links</h3>
            <ul class="list">
              <li><a href="../apps_library/index.html" class="">NHS Apps Library</a></li>
              <li><a href="the-application-process.html" class="">Assessment Process Explained</a></li>
              <li><a href="faqs.html" class="">Frequently Asked Questions</a></li>
              <li><a href="register-your-interest.html" class="">Register Your Interest</a></li>
            </ul>
          </aside>
        </div>
      </div>
















    </main>







    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Accrodion -->
    <script>
      $( ".subsection__header" ).click(function() {
        $( this ).next().toggleClass( "js-hidden" );
        $( this ).parent().toggleClass( "subsection--is-open" );
      });
    </script>

</body>
</html>
