<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Assessment / FAQs</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/developer" id="proposition-name">NHS Developer</a>

              <!--
              <ul id="proposition-links">
                <li><a href="/apps_assessment/home.html" class="active">Home</a></li>
                <li><a href="/apps_assessment/login.html">Login</a></li>
                <li><a href="/apps_assessment/signup.html">Sign Up</a></li>
                <li><a href="/apps_assessment/reset-password.html">Reset Password</a></li>
              </ul>
              -->

            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>




    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="home.html">Home</a></li>
          <li aria-current="page">FAQs</li>
        </ol>
      </div>


      <div class="grid-row">

        <div class="column-two-thirds">

          <h2 class="heading-large">Frequently Asked Questions</h2>

          <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
            <div class="subsection-controls js-subsection-controls">
              <button aria-expanded="false" aria-controls="subsection_content_0 subsection_content_1 subsection_content_2 subsection_content_3 ">Open all</button>
            </div>

            <div class="subsection-wrapper" style="clear: both">

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">
                      What is the NHS Apps Library?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                  <p>The <a href="https://apps.beta.nhs.uk/">NHS Apps Library</a> is currently a beta site and is in testing phase.</p>
                  <p>It aims to provide patients, the public and clinicians with a trusted selection of digital health, care and wellbeing applications.</p>
                  <p>The library holds a list of health apps that have been assessed by the NHS and grouped in categories that reflect their overall function (for example, mental health and diabetes).</p>
                  <p>The site will develop and grow over the next 12 to 18 months.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_2">
                      What do the ‘NHS Approved’ and ‘Being tested in the NHS’ labels mean?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_2">
                  <p>There are currently three types of labelling in the library:
                    <ol class="list list-number">
                      <li>‘NHS Approved’ – the tool has been reviewed clinically and technically</li>
                      <li>‘Being tested in the NHS’ – the tool is currently being reviewed in the NHS
                      <li>no badge – has been reviewed technically.
                    </ol>
                  </p>
                  <p>Please note: we are currently enhancing the labelling of apps within the beta site in line with user research, to make sure it is as clear as possible for patients.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_3">
                      Are you going to create a library of health apps for health professionals as well as one for patients?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_3">
                  <p>The NHS Apps Library currently contains trusted patient-facing apps and can be used by both healthcare professionals and patients.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_4">
                      What is the process for getting an app assessed and onto the NHS Apps Library?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_4">
                  <p>If you have an existing app currently in public use, take a look at the Digital Assessment Questions to get an idea of the areas you will need to consider.</p>
                  <p>If you feel that your app is ready to pass through the Digital Assessment Questions, please submit your app to begin the process.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_5">
                      Do I have to pay to have my app assessed?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_5">
                  <p>No, currently developers do not have to pay to go through the assessment process.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_5">
                      How can I develop an app that can be considered for the NHS Apps Library?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_5">
                  <p>We are unable to provide a bespoke advice or consultancy service to individuals or organisations.</p>
                  <p>However, we are working on developing a framework of national standards that can be used to help you develop apps.</p>
                  <p>In the meantime, the Digital Assessment Questions give you an idea of what you will need to consider when developing an app.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_5">
                      What are the standards, rules and regulations for digital health tools?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_5">
                  <p>We currently assess apps using the Digital Assessment Questions.</p>
                  <p>We are in the process of working on a developing a framework of national standards for all digital health tools assessed by the NHS.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_5">
                      How long will the assessment take?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_5">
                  <p>At this time we are unable to provide an indication of timeframes for assessment, while we are enhancing our ways of working.</p>
                </div>
              </div>

              <!-- ####### -->

              <div class="js-subsection subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="find-patterns">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_5">
                      Do you provide funding for apps?
                    </button>
                  </h2>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_5">
                  <p>No, NHS Digital does not currently provide funding for apps.</p>
                  <p>The current digital assessment process assesses and shares health apps that are already used in the public domain.</p>
                  <p>Our aim is to tap into existing innovation in the marketplace and assess the suitability of existing apps for inclusion in the NHS Apps Library.</p>
                  <p>Find out more about commissioning in the NHS on the NHS England website.</p>
                </div>
              </div>



            </div>

          </div>


        </div>

        <div class="column-one-third">
          <aside class="govuk-related-items" data-module="track-click" role="complementary">
            <h3 class="heading-medium">Useful links</h3>
            <ul class="list">
              <li><a href="../apps_library/index.html" class="">NHS Apps Library</a></li>
              <li><a href="the-application-process.html" class="">Assessment Process Explained</a></li>
              <li><a href="faqs.html" class="">Frequently Asked Questions</a></li>
              <li><a href="register-your-interest.html" class="">Register Your Interest</a></li>
            </ul>
          </aside>
        </div>

      </div>

    </main>







    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Accrodion -->
    <script>
      $( ".subsection__header" ).click(function() {
        $( this ).next().toggleClass( "js-hidden" );
        $( this ).parent().toggleClass( "subsection--is-open" );
      });
    </script>

</body>
</html>
