<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>NHS Apps Assessment / FAQs</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">


    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">


  <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>
        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/developer" id="proposition-name">NHS Developer</a>

              <!--
              <ul id="proposition-links">
                <li><a href="/apps_assessment/home.html" class="active">Home</a></li>
                <li><a href="/apps_assessment/login.html">Login</a></li>
                <li><a href="/apps_assessment/signup.html">Sign Up</a></li>
                <li><a href="/apps_assessment/reset-password.html">Reset Password</a></li>
              </ul>
              -->

            </nav>
          </div>
        </div>

      </div>
    </header>

    <div id="global-header-bar"></div>




    <main id="content" role="main">

      <div class="breadcrumbs">
        <ol>
          <li><a href="home.html">Home</a></li>
          <li aria-current="page">Submit your app</li>
        </ol>
      </div>




      <div class="grid-row">

        <div class="column-two-thirds">

          <h2 class="heading-large">Submit your app</h2>
          <p>Note that this is not the full set of apps assessment questions. The digital assessment questions are <a href="daq-read-only.html">available here</a>.</p>

          <fieldset class="inline" id="init-question">
            <legend>
              <h1 class="heading-medium">
                Is your app currently available and being used by the public?
              </h1>
            </legend>
            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              <label for="radio-inline-2">No</label>
            </div>
          </fieldset>

          <hr>

          <fieldset id="init-answer-yes" style="display: none">

            <h3 class="heading-medium">Key Contact Information<h3>
            <div class="form-group">
              <label class="form-label" for="vendor-name-f1">Vendor Name *</label>
              <input class="form-control" id="vendor-name-f1" type="text" name="vendor-name-f1">
            </div>

            <div class="form-group">
              <label class="form-label" for="full-name-f1">Full Name *</label>
              <input class="form-control" id="full-name-f1" type="text" name="full-name-f1">
            </div>

            <div class="form-group">
              <label class="form-label" for="email-f1">Email Address *</label>
              <input class="form-control" id="email-f1" type="text" name="email-f1">
            </div>

            <div class="form-group">
              <label class="form-label" for="phone-f1">Phone Number *</label>
              <input class="form-control" id="phone-f1" type="text" name="phone-f1">
            </div>

            <hr>

            <h3 class="heading-medium">Key App Information</h3>

            <fieldset class="inline">
              <legend>
                <p>
                  <span class="heading-small">Does your application use any form of NHS Branding? * </span><br>
                  <span class="font-xsmall">Please note: Apps containing NHS branding without permission will not be considered for inclusion until the branding has been removed. See <a href="https://www.england.nhs.uk/nhsidentity/" target="_blank">See branding guidance here</a></span>
                </p>
              </legend>
              <div class="multiple-choice">
                <input id="radio-nhs-branding-f1" type="radio" name="radio-nhs-branding-group" value="Yes">
                <label for="radio-nhs-branding-f1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-nhs-branding-f2" type="radio" name="radio-nhs-branding-group" value="No">
                <label for="radio-nhs-branding-f2">No</label>
              </div>
            </fieldset>

            <div class="form-group">
              <label class="form-label" for="app-name-f1">Application Name *</label>
              <input class="form-control" id="app-name-f1" type="text" name="app-name-f1">
            </div>

            <div class="form-group">
              <label class="form-label" for="app-description-f1">Provide a description of your app (maximum of 50 words) *</label>
              <textarea class="form-control form-control-3-4" name="app-description-f1" id="app-description-f1" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="app-condition-f1">
                Please provide the health condition or theme that your digital tool is aimed at. * <br>
                <span class="font-xsmall">(e.g. Cancer, fitness, COPD, Mental Health, Azheimer's)</span>
              </label>
              <textarea class="form-control form-control-3-4" name="app-condition-f1" id="app-condition-f1" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="app-core-f1">
                Please provide details of the core features for the user *
              </label>
              <textarea class="form-control form-control-3-4" name="app-core-f1" id="app-core-f1" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="app-url-f1">Please provide a URL to the app store; e.g. Android, Apple *</label>
              <input class="form-control" id="app-url-f1" type="text" name="app-url-f1">
            </div>

            <hr>

            <h3 class="heading-medium">Detailed App Information</h3>

            <div class="form-group">
              <label class="form-label" for="app-version-f1">Please provide the app version number *</label>
              <input class="form-control" id="app-version-f1" type="text" name="app-version-f1">
            </div>

            <div class="form-group">
              <label class="form-label" for="app-last-update-f1">Last Updated *</label>
              <input class="form-control" id="app-last-update-f1" type="text" name="app-last-update-f1">
            </div>

            <fieldset class="inline">
              <legend>
                <p class="heading-small">
                  Is the digital tool free to the public? *
                </p>
              </legend>
              <div class="multiple-choice">
                <input id="radio-free-to-use-f1" type="radio" name="radio-free-to-use-group" value="Yes">
                <label for="radio-free-to-use-f1">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="radio-free-to-use-f2" type="radio" name="radio-free-to-use-group" value="No">
                <label for="radio-free-to-use-f2">No</label>
              </div>
            </fieldset>

            <div class="form-group">
              <label class="form-label" for="app-end-user-costing-f1">Please provide details of end user costing</label>
              <textarea class="form-control form-control-3-4" name="app-end-user-costing-f1" id="app-end-user-costing-f1" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="app-usage-coverage-f1">Details of usage coverage, local or national and any supporting evidence *</label>
              <textarea class="form-control form-control-3-4" name="app-usage-coverage-f1" id="app-usage-coverage-f1" rows="5"></textarea>
            </div>

            <div class="form-group">
              <label class="form-label" for="app-downloads-f1">How many times has the app been downloaded?</label>
              <input class="form-control" id="app-downloads-f1" type="text" name="app-downloads-f1">
            </div>


            <div class="form-group">
              <label class="form-label" for="file-input2">
                Please attach a high quality digital tool logo
              </label>
              <input type="file" id="file-input1">
            </div>

            <div class="form-group">
              <label class="form-label" for="file-input2">
                Attach up to 3 different digital tool screenshots
              </label>
              <input type="file" id="file-input2">
            </div>

            <div class="form-group">
              <label class="form-label" for="anything-else-f1">Is there anything else you would like to tell us about your app?</label>
              <textarea class="form-control form-control-3-4" name="anything-else-f1" id="anything-else-f1" rows="5"></textarea>
            </div>

            <input type="submit" class="button" value="Submit">

          </fieldset>




          <fieldset id="init-answer-no" style="display: none">
            <p>Sorry, but we are currently focusing our attention on digital tools that have already been developed and (in the case of mobile apps) have been accepted onto the relevant app store or library.</p>
            <p>However, if you are considering an new app, or are a vendor looking to produce and app, you may <a href="register-your-interest.html">Register Your Interest here</a>.</p>
          </fieldset>


        </div>

        <div class="column-one-third">
          <aside class="govuk-related-items" data-module="track-click" role="complementary">
            <h3 class="heading-medium">Useful links</h3>
            <ul class="list">
              <li><a href="../apps_library/index.html" class="">NHS Apps Library</a></li>
              <li><a href="the-application-process.html" class="">Assessment Process Explained</a></li>
              <li><a href="faqs.html" class="">Frequently Asked Questions</a></li>
              <li><a href="register-your-interest.html" class="">Register Your Interest</a></li>
            </ul>
          </aside>
        </div>

      </div>








    </main>







    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">


        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>

    <script src="/javascripts/auto-store-data.js"></script>

    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Check if radio is selected -->
    <script>
    $('#init-question').click(function() {
       if($('#radio-inline-1').is(':checked')) {
         $('#init-answer-yes').show();
         $('#init-answer-no').hide();
       } else if($('#radio-inline-2').is(':checked')) {
         $('#init-answer-yes').hide();
         $('#init-answer-no').show();
       }
    });
    </script>

</body>
</html>
