{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">GOV.UK prototype kit</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">Tutorial examples</h1>

  <p class="text">
    These examples are used in GDS's 1 day prototyping course.
  </p>

  <ul class="list list-bullet">
    <li>
      <a href="/tutorials/1-pages">
        Tutorial 1: Pages
      </a>
    </li>
    <li>
      <a href="/tutorials/2-forms">
        Tutorial 2: Forms
      </a>
    </li>
    <li>
      <a href="/tutorials/3-routes">
        Tutorial 3: Routes
      </a>
    </li>
  </ul>

</main>

{% endblock %}
