<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Details</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class=""><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
//]]></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>

        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library/home" id="proposition-name">
                Apps &amp; Wearables (Version 1)
              </a>

              <ul id="proposition-links">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/submit-my-app.html">Submit my app</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>




    <div id="global-header-bar"></div>





    <main id="content" role="main">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>




      <div class="grid-row">

        <div class="column-one-third">

          <div class="apps-details-head">
            <img class="apps-details-head__icon" src="https://apps.beta.nhs.uk/media/1170/mycopd_icon2.jpg?anchor=center&mode=crop&width=120&height=120&rnd=131364634110000000" alt="myCOPD">
            <div class="apps-details-head__details">
              <h2 class="apps-details-head__details__title">myCOPD</h2>
              <p>NHS Approved</p>
              <p>Category: COPD</p>
              <p>Price: £20. Free in some areas</p>
              <!-- <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> WEBSITE</p> -->
              <p><a href="https://mymhealth.com/mycopd" alt="Visit website" class="btn btn-primary external-badge" role="button">Visit website</a></p>
            </div>
          </div>

        </div>

        <div class="column-two-thirds">
          <div class="apps-details">

            <div class="apps-details__section">
              <!--
              <h2 class="heading-large">myCOPD</h2>
              <p>NHS Approved</p>
              -->
              <h3 class="heading-medium">Overview</h3>
              <p>myCOPD helps people with COPD to better manage their condition. Use it to perfect your inhaler technique, improve your breathing, reduce exacerbations, track your medication and more.</p>
              <h3 class="heading-medium">Screenshots</h3>
            </div>

            <div class="carousel">
              <div><img src="https://apps.beta.nhs.uk/media/1166/mycopd-screenshot.png" alt="Screenshot1" style="margin: 0 auto"></div>
              <div><img src="https://apps.beta.nhs.uk/media/1167/mycopd-today.png" alt="Screenshot2" style="margin: 0 auto"></div>
              <div><img src="https://apps.beta.nhs.uk/media/1168/mycopd_inhaler-videos.png" alt="Screenshot3" style="margin: 0 auto"></div>
            </div>

            <div class="apps-details__section">
              <h3 class="heading-medium">Who is it suitable for?</h3>
              <p>myCOPD is suitable for all COPD (chronic obstructive pulmonary disease) patients at any stage of their disease.</p>

              <h4 class="heading-medium">How do I access it?</h4>
              <p>Contact your <a href="http://www.nhs.uk/Service-Search/GP/LocationSearch/4" target="_blank" title="Find a GP">GP</a>, COPD healthcare team or <a href="http://www.nhs.uk/service-search/Clinical-Commissioning-Group/LocationSearch/1" target="_blank" title="Clinical commissioning group">clinical commissioning group (CCG)</a>, to find out if myCOPD is available as a free NHS service.&nbsp;</p>
              <p>If it is not available in your area, you can buy a lifetime licence for £20 from the supplier's website <a href="https://mymhealth.com/mycopd" target="_blank" title="mymhealth">mymhealth</a>.&nbsp;</p>
              <p>myCOPD can be accessed on any device that connects to the internet, such as a computer, smartphone or tablet.</p>

              <h4 class="heading-medium">How does it work?</h4>
              <p>The tool will help you manage your COPD independently and reduce your reliance on GP and hospital appointments.</p>
              <p>myCOPD has been shown to correct 98% of inhaler errors without any other clinical intervention, resulting in an improvement in quality of life.</p>
              <p>Once logged in, you will have access to a dashboard full of self-care tools and educational resources, including:</p>
              <ul>
                <li>inhaler videos</li>
                <li>breathing exercises</li>
                <li>medication diary</li>
                <li>symptom tracker</li>
              </ul>
              <p><span>Clinicians can also use myCOPD to check in with their patients remotely, track their condition, update medication and improve their overall care.</span></p>

              <div class="callout callout--attention">
                <p>Use of the tools / apps presented in this library are not intended to be a substitute for a consultation with a healthcare professional. It is up to you to contact a healthcare professional if you are concerned about your health. See our full disclaimer <a href="/disclaimer">here</a>.</p>
              </div>
            </div>

          </div>
        </div>
      </div>





    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>




    <!-- Slick slider -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" media="screen" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" media="screen" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
      //$('.carousel').slick();
      $(".carousel").slick({
        arrows: true,
        centerMode: true,
        responsive: true,
        centerPadding: true,
        dots: true
        //vertical: true,
        //centerMode: true
      });
    </script>
    <style>
      .slick-prev {
        z-index: 100;
      }
      .slick-prev {
        left: 15px;
      }
      .slick-next {
        right: 15px;
      }
      .slick-next:before, .slick-prev:before {
        color: #000;
      }
    </style>




    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Toggle the view on mobile -->
    <script>

    if ($(window).width() < 641) {

      // Title toggle
      $( ".apps-grid__controller__title" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

      // Close menu on selecing an item
      $( ".apps-grid__controller__list__item__link" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

    }




    </script>


  </body>
</html>
