<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Apps Libary / Homepage</title>

    <!--[if gt IE 8]><!--><link href="/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/javascripts/ie.js?0.22.3"></script><![endif]-->

    <link rel="shortcut icon" href="/images/favicon.ico?0.22.3" type="image/x-icon" />

    <link rel="mask-icon" href="/images/gov.uk_logotype_crown.svg?0.22.3" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png?0.22.3">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/apple-touch-icon-167x167.png?0.22.3">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png?0.22.3">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png?0.22.3">

    <meta name="theme-color" content="#0b0c0c" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/images/opengraph-image.png?0.22.3">

    <!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->


  </head>

  <body class="">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
      <p>GOV.UK uses cookies to make the site simpler. <a href="#">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="NHS" id="logo" class="content">
              <img src="/images/logotype-nhs-colour__reverse@2x.png" alt="">
            </a>
          </div>

        </div>

        <div class="header-proposition">
          <div class="content">
            <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
            <nav id="proposition-menu">
              <a href="/apps_library/home" id="proposition-name">
                Apps &amp; Wearables (Version 1)
              </a>

              <ul id="proposition-links">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/submit-my-app.html">Submit my app</a></li>
              </ul>

            </nav>
          </div>
        </div>

      </div>
    </header>




    <div id="global-header-bar"></div>





    <main id="content" role="main">

      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <div class="local-header">
        <h2 class="local-header__title">Find digital tools to help you manage and improve your health</h2>
      </div>

      <div class="apps-grid">
        <div class="apps-grid__controller">
          <div class="apps-grid__controller__title">
            FILTER BY CATEGORY
            <span class="apps-grid__controller__title__icon">+</span>
          </div>
            <ul class="apps-grid__controller__list">
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">All</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Cancer</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">COPD</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Dementia</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Dental</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Diabetes</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Healthy Living</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Learning Disabilities</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Mental Health</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Online Community</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Other</a></li>
              <li class="apps-grid__controller__list__item"><a class="apps-grid__controller__list__item__link" href="#">Pregnancy and Baby</a></li>
          </ul>
        </div>
        <div class="apps-grid__content">

          <div class="grid-row">

            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1170/mycopd_icon2.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131364634110000000" alt="myCOPD">
                  <a href="details.html" class="cardapp__top__title">myCOPD</a>
                  <div class="cardapp__top__subtitle">
                    NHS Approved
                  </div>
                </div>
                <div class="cardapp__content">
                  myCOPD helps people with COPD to better manage their condition.
                </div>
                <div class="cardapp__footer">
                  COPD
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1014/cove-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131359652470000000" alt="Cove">
                  <a href="details.html" class="cardapp__top__title">Cove</a>
                  <div class="cardapp__top__subtitle">NHS Approved</div>
                </div>
                <div class="cardapp__content">
                  Create music to capture your mood and express how you feel with the Cove app.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1018/panda-icon.png?anchor=center&mode=crop&width=96&height=96&rnd=131360560850000000" alt="Chill Panda">
                  <a href="details.html" class="cardapp__top__title">Chill Panda</a>
                  <div class="cardapp__top__subtitle">NHS Approved</div>
                </div>
                <div class="cardapp__content">
                  Learn to relax, manage your worries and improve your wellbeing with Chill Panda.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1272/data1skh-users-rohe4-my-pictures-blueice-icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131539190460000000" alt="BlueIce">
                  <a href="details.html" class="cardapp__top__title">BlueIce</a>
                  <div class="cardapp__top__subtitle">NHS Approved</div>
                </div>
                <div class="cardapp__content">
                  Learn to relax, manage your worries and improve your wellbeing with Chill Panda.
                </div>
                <div class="cardapp__footer">
                  MENTAL HEALTH
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1204/c-users-male8-desktop-evergreen-life-app-and-website-app-evergreen-life-app-logo.png?anchor=center&mode=crop&width=96&height=96&rnd=131496149770000000" alt="Evergreen Life">
                  <a href="details.html" class="cardapp__top__title">Evergreen Life</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  Evergreen Life is a personal health record app that stores your health information in one place.
                </div>
                <div class="cardapp__footer">
                  HEALTHY LIVING
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1205/c-users-stsh3-desktop-active-10_icon.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131496032910000000" alt="Active 10 walking tracker">
                  <a href="details.html" class="cardapp__top__title">Active 10 walking tracker</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  The Active 10 app will help you get into the habit of walking briskly for 10 minutes every day.
                </div>
                <div class="cardapp__footer">
                  HEALTHY LIVING
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1191/logo_appslibrary.png?anchor=center&mode=crop&width=96&height=96&rnd=131388020220000000" alt="Patients Know Best">
                  <a href="details.html" class="cardapp__top__title">Patients Know Best</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  Patients Know Best works with the NHS to give patients instant access to their medical records.
                </div>
                <div class="cardapp__footer">
                  OTHER
                </div>
              </div>
            </div>


            <div class="column-one-half">
              <div class="cardapp">
                <div class="cardapp__top">
                  <img class="cardapp__top__img" src="https://apps.beta.nhs.uk/media/1091/my-choice-pad.jpg?anchor=center&mode=crop&width=96&height=96&rnd=131360396300000000" alt="MyChoicePad">
                  <a href="details.html" class="cardapp__top__title">MyChoicePad</a>
                  <!--<div class="cardapp__top__subtitle">NHS Approved</div>-->
                </div>
                <div class="cardapp__content">
                  MyChoicePad helps people with learning disabilities communicate better.
                </div>
                <div class="cardapp__footer">
                  LEARNING DISABILITIES
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>



    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">

        <div class="footer-meta">
          <div class="footer-meta-inner">
            <ul>
              <li>
                <a href="/prototype-admin/clear-data">Clear data</a>
              </li>
            </ul>
            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
              <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/javascripts/govuk-template.js?0.22.3"></script>



    <!-- Javascript -->
    <!--[if lte IE 8]><script src="/javascripts/bind.js"></script><![endif]-->
    <script src="/javascripts/jquery-1.11.3.js"></script>
    <script src="/javascripts/govuk/details.polyfill.js"></script>
    <script src="/javascripts/govuk/shim-links-with-button-role.js"></script>
    <script src="/javascripts/govuk/show-hide-content.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/auto-store-data.js"></script>


    <!-- GOV.UK Prototype kit v6.3.0 -->
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>

    <!-- Toggle the view on mobile -->
    <script>

    if ($(window).width() < 641) {

      // Title toggle
      $( ".apps-grid__controller__title" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

      // Close menu on selecing an item
      $( ".apps-grid__controller__list__item__link" ).click(function() {
          $( ".apps-grid__controller__list" ).slideToggle( "fast", function() {
            // Animation complete.
          });
      });

    }




    </script>


  </body>
</html>
