{% extends "layout.html" %}

{% block page_title %}
  Apps Libary / Homepage
{% endblock %}

{% block proposition_header %}
<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/apps_library/home" id="proposition-name">
        Apps &amp; Wearables (Version 1)
      </a>

      <ul id="proposition-links">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/docs">Submit my app</a></li>
      </ul>

    </nav>
  </div>
</div>
{% endblock %}

{% block content %}



<main id="content" role="main">


<h1>Hello</h1>


</main>

{% endblock %}
