{% extends "govuk-prototype-kit/internal/views/manage-prototype/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">
        {{ verb.title }} {{ chosenPlugin.name }} {% if chosenPlugin.scope %} from {{ chosenPlugin.scope }} {% endif %}
      </h1>
      <p>{{ verb.title }} to version {{ chosenPlugin.latestVersion }} by using the command:</p>
      <p><code>{{ chosenPlugin.installCommand }}</code></p>
      <p>Or use the {{ verb.para }} button below</p>

      <form action="{{ currentUrl }}" method="post">
      {{ govukButton({
        text: verb.title + " " + chosenPlugin.packageName
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
