{% extends "layout.html" %}

{% block page_title %}
  Lesson 1 introduction
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        Lesson 1 introduction
      </h1>

      <p>In this lesson we’ll create some pages and link them together so that a user can move from one page to another.</p>

      <a class="button button-start" href="start-page" role="button">See example</a>

    </div>
  </div>
</main>

{% endblock %}
