{% extends "layout.html" %}

{% block page_title %}
  Juggling ability
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="start-page">Back</a>

      <h1 class="heading-large">What's the most number of balls you can juggle?
      </h1>

      <form class="form" action="juggling-feat" method="post">

        <p>[Insert question content here]</p>

        <p>[See <a href="https://govuk-elements.herokuapp.com/form-elements/">GOV.UK Elements</a> for examples]</p>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
