# =========================================
# WARNING: Don't commit this file to git
# =========================================
#
# Use this file for storing private data - things like API keys and admin credentials
#
# Storing data:
#
# EXAMPLE_API_KEY=123456789
# JSON={"foo": "bar"}
#
# More examples here: https://www.npmjs.com/package/dotenv
#
# Use the data in your app:
#
# var key = process.env.EXAMPLE_API_KEY

# =========================================
# INSERT YOUR DATA HERE:

