{% extends "template.njk" %}

{% set htmlClasses = 'unbranded' %}

{% block pageTitle %}{% endblock %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ assetPath | default('/assets') }}/images/unbranded_favicon.ico" type="image/x-icon" />
  <link rel="mask-icon" href="{{ assetPath | default('/assets') }}/images/mask-icon.svg" color="{{ themeColor | default('#0b0c0c') }}"> {# Hardcoded value of $govuk-black #}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" href="{{ assetPath | default('/assets') }}/images/apple-touch-icon.png">
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

