<h2 class="govuk-heading-l">
  GOV.UK Prototype Kit
</h2>

<p>
  <a href="/manage-prototype">Manage your prototype</a>
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
