<h2 class="govuk-heading-l">
  GOV.UK Prototype Kit
</h2>

{% if (GOVUKPrototypeKit.isDevelopment) %}
<p>
  <a href="/manage-prototype">Manage your prototype</a>
</p>
{% endif %}

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
