{% for scriptConfig in pluginConfig.scripts %}
  {% if scriptConfig.type|length %}
    <script type="{{scriptConfig.type}}" src="{{scriptConfig.src}}"></script>
  {% else %}
    <script src="{{scriptConfig.src}}"></script>
  {% endif %}
{% endfor %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    window.GOVUKPrototypeKit = window.GOVUKPrototypeKit || {}
    window.GOVUKPrototypeKit.sendPageLoadedRequest = function () {
      fetch('/manage-prototype/page-loaded').catch(() => {
        setTimeout(window.GOVUKPrototypeKit.sendPageLoadedRequest, 500)
      })
    }
    window.GOVUKPrototypeKit.sendPageLoadedRequest()
  })
</script>
