{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="govuk-box-highlight">
        <h1 class="bold-large">Application complete</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>

      <p>Keep your licence on you at all times and show it to any juggling inspectors who ask for it.</p>

      <h2 class="heading-medium">What happens next</h2>
      <p>Your details have been added to the <a href="">Jugglers register</a>.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

</main>

{% endblock %}
