{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/breadcrumb_tutorials.html" %}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Tutorial 2</span>
    Forms
  </h1>

  <p class="text">
    By the end of this tutorial you will have learned how to create a text field 
    and a set of radio buttons.
  </p>

  <p>
    <a href="/tutorials/2-forms/start-page">
      Here's what you'll be making
    </a>
  </p>

</main>

{% endblock %}
