{% set currentpage = "Gifts" %}
{% extends folder + "/" + subfolder + "/_BASE.html" %}

{% block main %}
<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>To qualify as gifts, goods must be:</p>

<ul class="list list-bullet">
  <li>described as gifts on the customs declaration</li>
  <li>for a birthday, anniversary or other occasion</li>
  <li>bought and sent between individuals (not companies)</li>
  <li>intended for personal use</li>
</ul>

<h2 id="sending-more-than-one-gift">Sending more than one gift</h2>

<p>If you’re sending more than one gift in the same parcel, you get the <a href="tax-and-duty">Customs Duty and VAT-free allowance</a> for each gift if they’re:</p>

<ul class="list list-bullet">
  <li>for different people</li>
  <li>listed on the customs declaration with their individual values</li>
  <li>wrapped individually</li>
</ul>

</div>
{% endblock %}
