{% set currentpage = "Overview" %}
{% extends folder + "/" + subfolder + "/_BASE.html" %}

{% block main %}

<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>Anything posted or couriered to you goes through customs to check it isn’t <a href="/duty-free-goods/banned-and-restricted-goods">banned or restricted</a> and you pay the right tax and ‘duty’ (customs charges) on it.</p>

<p>This includes anything new or used that you:</p>

<ul class="list list-bullet">
  <li>buy online</li>
  <li>buy abroad and send back to the UK</li>
  <li>receive as a <a href="gifts">gift</a>
</li>
</ul>

<h2 id="your-responsibilities">Your responsibilities</h2>
<p>You may have to pay <a href="tax-and-duty"><abbr title="Value Added Tax">VAT</abbr>, Customs Duty or Excise Duty</a> on goods sent from outside the <a href="/eu-eea">European Union</a> (<abbr title="European Union">EU</abbr>) before you can collect them.</p>

<div role="note" aria-label="Information" class="application-notice info-notice panel panel-border-wide">
<p>You don’t pay <abbr title="Value Added Tax">VAT</abbr> or Customs Duty when your things are sent back to you – they must be described as ‘personal belongings’ on the customs declaration.</p>
</div>

<p>You must also check that the sender:</p>

<ul class="list list-bullet">
  <li>pays <a href="tax-and-duty">Excise Duty</a> on any alcohol or tobacco sent from the <abbr title="European Union">EU</abbr>
</li>
  <li>
<a href="documents">declares goods</a> correctly if they’re sent from outside the <abbr title="European Union">EU</abbr>
</li>
</ul>

<div role="note" aria-label="Help" class="application-notice help-notice">
<p>Your goods may be <a href="/customs-seizures">seized</a> if you don’t follow the rules. You may also be fined or prosecuted.</p>
</div>


</div>


{% endblock  %}
