{% set currentpage = "Tax and duty" %}
{% extends folder + "/" + subfolder + "/_BASE.html" %}

{% block main %}

<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>You’ll be contacted by Royal Mail, Parcelforce or the courier company explaining how to pay any <abbr title="Value Added Tax">VAT</abbr>, duty and fees for dealing with customs.</p>

<p>They’ll normally hold your parcel for about 3 weeks. If you haven’t paid the fee by then, it’ll be sent back.</p>

<h2 id="vat"><abbr title="Value Added Tax">VAT</abbr></h2>
<p>You pay <abbr title="Value Added Tax">VAT</abbr> on goods sent from non-<a href="/eu-eea">European Union</a> (<abbr title="European Union">EU</abbr>) countries and <abbr title="European Union">EU</abbr> <a href="/government/publications/notice-143-a-guide-for-international-post-users/notice-143-a-guide-for-international-post-users#what-are-the-special-territories">special territories</a> (eg the Canary Islands) if they’re:</p>

<ul class="list list-bullet">
  <li>
<a href="gifts">gifts</a> worth more than £39</li>
  <li>other goods worth more than £15</li>
  <li>alcohol, tobacco products and fragrances (eg perfume, eau de toilette and cologne) of any value</li>
</ul>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>You have to pay <abbr title="Value Added Tax">VAT</abbr> on all goods sent by mail order from the Channel Islands no matter what their value.</p>
</div>

<p>You’ll be charged at the <a href="/vat-rates"><abbr title="Value Added Tax">VAT</abbr> rate</a> that applies to your goods. <abbr title="Value Added Tax">VAT</abbr> is charged on the total value, including:</p>

<ul class="list list-bullet">
  <li>the price paid for the goods</li>
  <li>postage, packaging and insurance</li>
  <li>any duty you owe</li>
</ul>

<h2 id="customs-duty">Customs Duty</h2>
<p>You’ll be charged Customs Duty on gifts and other goods sent from outside the <abbr title="European Union">EU</abbr> if they’re above a certain value.</p>

<p>The value includes:</p>

<ul class="list list-bullet">
  <li>the price paid for the goods</li>
  <li>postage, packaging and insurance</li>
</ul>

<table>
  <thead>
    <tr>
      <th>Type and value of goods</th>
      <th>Customs Duty</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Anything under £135</td>
      <td>No charge</td>
    </tr>
    <tr>
      <td>Gifts worth £135-£630</td>
      <td>2.5%, but rates are lower for some goods - call the <a href="/government/organisations/hm-revenue-customs/contact/customs-international-trade-and-excise-enquiries">helpline</a>
</td>
    </tr>
    <tr>
      <td>Gifts above £630 and other goods above £135</td>
      <td>The rate depends on the type of goods and where they came from - call the <a href="/government/organisations/hm-revenue-customs/contact/customs-international-trade-and-excise-enquiries">helpline</a>
</td>
    </tr>
  </tbody>
</table>

<h2 id="excise-duty">Excise Duty</h2>
<p>If you’re sent alcohol or tobacco from outside the <abbr title="European Union">EU</abbr>, you’ll be charged Excise Duty at <a href="/alcohol-and-tobacco-excise-duty">current rates</a>.</p>

<p>If it’s sent from the <abbr title="European Union">EU</abbr>, check that the Excise Duty was included in the price. If it’s not, your goods may be <a href="/customs-seizures">seized</a>.</p>

<p>It doesn’t matter whether you buy the goods or they’re sent as a gift.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>If you receive large amounts of alcohol or tobacco for your business, use the <a href="/trade-tariff">Trade Tariff</a> to check duty rates.</p>
</div>

<p>Your goods can also be seized if they’re:</p>

<ul class="list list-bullet">
  <li>spirits over 35 centilitres without a UK duty stamp</li>
  <li>cigarettes or hand-rolling tobacco without UK health warnings or fiscal marks</li>
</ul>

<h2 id="if-youre-charged-too-much-or-return-your-goods">If you’re charged too much or return your goods</h2>

<p>Ask for a refund of <abbr title="Value Added Tax">VAT</abbr> or Customs Duty if you:</p>

<ul class="list list-bullet">
  <li>return your goods</li>
  <li>think you’ve been charged too much</li>
</ul>

<p>Download and fill in:</p>

<ul class="list list-bullet">
  <li>
<a href="/government/publications/vat-customs-dutyimport-vat-relating-to-imports-by-post-bor286">form BOR 286</a> if Royal Mail or Parcelforce delivered the goods</li>
  <li>
<a href="/government/publications/import-and-export-application-for-repaymentremission-c285">form C285</a> if a courier or freight company delivered the goods</li>
</ul>


</div>

{% endblock %}
