{% extends "layout.html" %}

{% block page_title %}
  Lesson 2 introduction
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 2 introduction
      </h1>

      <p>In this lesson we’re going to add some radio buttons and intputs to the two question pages.</p>

      <a class="button button-start" href="start-page" role="button">See example</a>

    </div>
  </div>
</main>

{% endblock %}
