<div id="step-by-step-navigation" class="app-step-nav app-step-nav--active {%- if params.large %} app-step-nav--large {% endif -%}" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
  <ol class="app-step-nav__steps">
    {% for step in params.steps %}
      {% set stepLoopNumber = loop.index %}
      {% set isStepActive = true if step.href == params.activeHref %}
      {# {% for link in step.links %} #}
        {# {% set isStepActive = true if link.href == params.activeHref %} #}
      {# {% endfor %} #}
      <li class="app-step-nav__step js-step{%- if isStepActive %} app-step-nav__step--active {% endif -%}" {%- if isStepActive %} data-show {% endif -%} id="{{step.title}}" >
        <div class="app-step-nav__header js-toggle-panel" data-position="{{stepLoopNumber}}">
          <h2 class="app-step-nav__title">
            <span class="app-step-nav__circle app-step-nav__circle--number">
              <span class="app-step-nav__circle-inner">
                <span class="app-step-nav__circle-background">
                  <span class="govuk-visually-hidden">Krok</span> {{step.number}}
                </span>
              </span>
            </span>

            <span class="js-step-title">
              <a href="{{"#main-content" if isStepActive else step.href}}">{{step.title}}</a>
            </span>
          </h2>
        </div>

        <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-{{step.title}}-{{stepLoopNumber}}">
          <p class="app-step-nav__paragraph">{{step.description}}</p>

          <ol class="app-step-nav__list " data-length="{{step.links | length }}">
            {% for link in step.links %}
              {% set isLinkActive = link.href == params.activeHref  %}
              <li class="app-step-nav__list-item js-list-item {%- if isLinkActive %} app-step-nav__list-item--active {% endif -%}">
                <a data-position="{{stepLoopNumber}}.{{loop.index}}" class="app-step-nav__link js-link" href="{{"#main-content" if isLinkActive else link.href}}">
                  {%- if isLinkActive %}<span class="app-step-nav__link-active-context govuk-visually-hidden">You are currently viewing: </span>{% endif %}
                  {{link.text}}
                </a>
              </li>
            {% endfor %}
          </ol>
        </div>

      </li>
    {% endfor %}
  </ol>
</div>
