{{<layouts/layout-two-thirds}}

{{$pageTitle}}
Resources
{{/pageTitle}}

{{$sub-content}}
<h1>Resources</h1>

<h2>UK Government</h2>

<h3>Service Manual</h3>
<ul class="list-bullet">
    <li><a href="https://www.gov.uk/service-manual/user-centred-design/accessibility">Accessibility</a></li>
    <li><a href="https://www.gov.uk/service-manual/the-team/accessibility.html">Accessibility skills</a></li>
    <li><a href="https://www.gov.uk/service-manual/user-centred-design/user-research/accessibility-testing.html">Accessibility testing</a></li>
    <li><a href="https://www.gov.uk/service-manual/user-centred-design/browsers-and-devices.html">Browsers and devices</a></li>
    <li><a href="https://www.gov.uk/service-manual/agile/quality.html">Quality </a></li>
    <li><a href="https://www.gov.uk/service-manual/user-centred-design/choosing-appropriate-formats.html">Choosing appropriate formats</a></li>
    <li><a href="https://www.gov.uk/service-manual/user-centred-design/resources/creating-accessible-PDFs.html">Creating accessible PDFs</a></li>
    <li><a href="https://www.gov.uk/guidance/open-document-format-odf-guidance-for-uk-government/accessibility">Open Document Format (ODF): guidance for UK government</a></li>
    <li><a href="https://www.gov.uk/government/publications/open-standards-for-government/viewing-government-documents">Viewing government documents</a></li>
    <li><a href="https://www.gov.uk/government/publications/inclusive-communication">Inclusive communication</a>
        <ul class="list-bullet">
            <li><a href="https://www.gov.uk/government/publications/inclusive-communication/inclusive-language-words-to-use-and-avoid-when-writing-about-disability">Inclusive language: words to use and avoid when writing about disability</a></li>
            <li><a href="https://www.gov.uk/government/publications/inclusive-communication/portraying-disability">Portraying disability</a></li>
            <li><a href="https://www.gov.uk/government/publications/inclusive-communication/using-a-range-of-communication-channels-to-reach-disabled-people">Using a range of communication channels to reach disabled people</a></li>
            <li><a href="https://www.gov.uk/government/publications/inclusive-communication/accessible-communication-formats">Accessible communication formats</a></li>
        </ul>
    </li>
</ul>

<h3>GDS Blog</h3>
<ul class="list-bullet">
    <li><a href="https://gds.blog.gov.uk/2013/02/11/beyond-box-ticking/">GOV.UK accessibility: beyond box-ticking</a></li>
    <li><a href="https://gds.blog.gov.uk/2012/01/20/user-testing-accessibility/">User testing accessibility</a></li>
</ul>

<h3>GOV.UK</h3>
<ul class="list-bullet">
    <li><a href="https://www.gov.uk/help/accessibility">Accessibility Help</a></li>
</ul>

<h2>Non-UK Government</h2>
<h3>US Government - 18F</h3>
<ul class="list-bullet">
    <li><a href="https://pages.18f.gov/accessibility/">Accessibility Guide</a></li>
    <li><a href="https://playbook.cio.gov/designstandards/">Web Design Standards</a></li>
</ul>

<h3>Australian Government - DTO</h3>
<ul class="list-bullet">
    <li><a href="https://www.dto.gov.au/design-guides/guide/assisted-digital">Assisted digital</a></li>
    <li><a href="https://www.dto.gov.au/design-guides/guide/inclusive-services">Inclusive services</a></li>
    <li><a href="https://www.dto.gov.au/design-guides/guide/making-content-accessible">Making content accessible</a></li>
    <li><a href="https://www.dto.gov.au/design-guides/guide/testing-web-accessibility">Testing web accessibility</a></li>
</ul>

<h3>New Zealand</h3>
<ul class="list-bullet">
    <li><a href="https://webtoolkit.govt.nz/standards/web-accessibility-standard-1-0/">Web Accessibility Standard</a></li>
    <li><a href="https://webtoolkit.govt.nz/guidance/about-the-standards/about-the-web-accessibility-standard/">About the Web Accessibility Standard</a></li>
    <li><a href="https://webtoolkit.govt.nz/guidance/design-and-development/content-publishers-and-web-accessibility/">Content publishers and web accessibility</a></li>
    <li><a href="https://webtoolkit.govt.nz/guidance/design-and-development/accessible-language/">Accessible language</a></li>
    <li><a href="https://webtoolkit.govt.nz/guidance/design-and-development/contrast-and-the-use-of-colour/">Contrast and the use of colour</a></li>
    <li><a href="https://webtoolkit.govt.nz/guidance/design-and-development/accessibility-supported-technologies/">Accessibility supported technologies</a></li>
    <li><a href="https://webtoolkit.govt.nz/guidance/design-and-development/linking-to-non-html-files/">Linking to non-HTML files</a></li>
</ul>

<h2>Books</h2>
<ul class="list-bullet">
    <li><a href="http://rosenfeldmedia.com/books/a-web-for-everyone/">A Web for Everyone: Designing Accessible User Experiences</a><br /> A must read for everyone working on the web!</li>
</ul>

<h2>Articles</h2>
<ul class="list-bullet">
    <li><a href="https://medium.com/salesforce-ux/7-things-every-designer-needs-to-know-about-accessibility-64f105f0881b">
        7 Things Every Designer Needs to Know about Accessibility</a></li>
    <li><a href="http://www.smashingmagazine.com/2015/02/designing-digital-technology-for-the-elderly/">
        Designing For The Elderly: Ways Older People Use Digital Technology Differently</a></li>
    <li><a href="http://webaim.org/techniques/images/">Accessible Images</a></li>
    <li><a href="http://webaim.org/techniques/captions/">Captions, Transcripts, and Audio Descriptions</a></li>
</ul>
{{/sub-content}}

{{/layouts/layout-two-thirds}}