{% extends "layout.html" %}

{% block page_title %}
  Lesson 4 - routes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 4 - routes
      </h1>

      <p>Our first question asks the user how many balls they can juggle. We’re going to send them to an ‘ineligible’ page if they can only juggle 2 or less.</p>

      <a class="button button-start" href="start-page" role="button">See example</a>

    </div>
  </div>
</main>

{% endblock %}
