{% extends "layout.html" %}

{% block page_title %}
  Lesson 4 - routes
{% endblock %}

{% set serviceName = 'Juggling licence tutorial' %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 4 - routes
      </h1>

      <p>Our first question asks the user how many balls they can juggle. We’re going to send them to an ‘ineligible’ page if they can only juggle 2 or less.</p>

      <a class="button" href="start-page" role="button">See finished example</a>

      <h2 class="heading-medium">Complete lesson source files</h2>
      
      <ul class="list list-bullet">
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-4/start-page.html">start-page.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-4/juggling-ability.html">juggling-ability.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-4/ineligible.html">ineligible.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-4/juggling-feat.html">juggling-feat.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-4/check-your-answers.html">check-your-answers.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/views/lesson-4/application-complete.html">application-complete.html</a>
        </li>
        <li>
          <a href="https://github.com/alphagov/govuk_prototype_kit/tree/2017-tutorial-files/app/routes.js">routes.js</a>
        </li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
