{{<layout}}

{{$pageTitle}}Check your answers{{/pageTitle}}

{{$content}}

<main id="content" role="main">

  <div class="grid-row">
  	  <div class="column-two-thirds">

  	   	<h1 class="heading-large">
  	   		<span class="heading-secondary">
  	   			International waste shipments
  	   		</span>
  	   		Check your answers
  	   	</h1>


  	  </div>



  	<table class="table-check-answers">

  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					Organisations involved
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Exporter
  			</td>
  			<td class="answer">
  				Sandvik Ltd.<br>Torrington, Coventry CV4 9AB, United Kingdom<br><br>Contact: Carole Spicer<br>Tel: 01734 254 354<br>Email: ijooo@kkk.com

  			</td>
  			<td class="edit-link">

  				<a href="./1/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 1. Exporter</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Producer
  			</td>
  			<td class="answer">
  				Sandvik Ltd.

  			</td>
  			<td class="edit-link">

  				<a href="./1/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 1. Producer</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Site of export
  			</td>
  			<td class="answer">
  				Sandvik Ltd.

  			</td>
  			<td class="edit-link">

  				<a href="./1/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 1. Site of export</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Importer
  			</td>
  			<td class="answer">
  				Wolfram Ltd.<br>New St, Bergla, Austria<br><br>Contact: Alex Zierler<br>Tel: 01734 254 354<br>Email: ijooo@kkk.com

  			</td>
  			<td class="edit-link">

  				<a href="./1/4/question-page?change=true">
  					Change <span class="visuallyhidden">answer 1. Importer</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Recovery facilities
  			</td>
  			<td class="answer">
  				Wolfram Ltd.

  			</td>
  			<td class="edit-link">

  				<a href="./1/5/question-page?change=true">
  					Change <span class="visuallyhidden">answer 1. Recovery facilities</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Recovery site
  			</td>
  			<td class="answer">
  				Wolfram Ltd.

  			</td>
  			<td class="edit-link">

  				<a href="./1/6/question-page?change=true">
  					Change <span class="visuallyhidden">answer 1. Recovery site</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>
  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					Recovery operation
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Recovery operation codes
  			</td>
  			<td class="answer">
  				R4

  			</td>
  			<td class="edit-link">

  				<a href="./2/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 2. Recovery operation codes</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Pre-consent facility
  			</td>
  			<td class="answer">
  				No

  			</td>
  			<td class="edit-link">

  				<a href="./2/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 2. Pre-consent facility</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Recovery technology
  			</td>
  			<td class="answer">
  				Metal/Chemical recovery

  			</td>
  			<td class="edit-link">

  				<a href="./2/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 2. Recovery technology</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Reason for export
  			</td>
  			<td class="answer">
  				Recovery facility doesn't exist in the UK

  			</td>
  			<td class="edit-link">

  				<a href="./2/4/question-page?change=true">
  					Change <span class="visuallyhidden">answer 2. Reason for export</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>
  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					Transportation
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Intended carriers
  			</td>
  			<td class="answer">
  				Schenker Ltd.<br>New St, Coventry CV4 9AB, United Kingdom<br><br>Contact: Claudier Black<br>Tel: 01734 254 354<br>Fax: 01734 254 355<br>Email: ijooo@kkk.com

  			</td>
  			<td class="edit-link">

  				<a href="./3/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 3. Intended carriers</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Means of transport
  			</td>
  			<td class="answer">
  				Road → Sea → Road

  			</td>
  			<td class="edit-link">

  				<a href="./3/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 3. Means of transport</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Packaging types
  			</td>
  			<td class="answer">
  				Drum

  			</td>
  			<td class="edit-link">

  				<a href="./3/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 3. Packaging types</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Special handling requirements
  			</td>
  			<td class="answer">
  				See MSDS - Class 9 dangerous goods

  			</td>
  			<td class="edit-link">

  				<a href="./3/4/question-page?change=true">
  					Change <span class="visuallyhidden">answer 3. Special handling requirements</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>
  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					The journey
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Export route
  			</td>
  			<td class="answer">
  				<div class='tab'>Entry point:<br>Competent authority:</div><div class='tab'>Ashford, United Kingdom<br>Environment Agency</div>

  			</td>
  			<td class="edit-link">

  				<a href="./4/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 4. Export route</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Import route
  			</td>
  			<td class="answer">
  				<div class='tab'>Entry point:<br>Competent authority:</div><div class='tab'>Baden-Baden, Germany<br>Bezirksregierung Düsseldorf</div>

  			</td>
  			<td class="edit-link">

  				<a href="./4/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 4. Import route</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Transits
  			</td>
  			<td class="answer">
  				None

  			</td>
  			<td class="edit-link">

  				<a href="./4/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 4. Transits</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Custom office
  			</td>
  			<td class="answer">
  				Not applicable

  			</td>
  			<td class="edit-link">

  				<a href="./4/4/question-page?change=true">
  					Change <span class="visuallyhidden">answer 4. Custom office</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>
  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					Amount and dates
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Total intended shipments
  			</td>
  			<td class="answer">
  				20

  			</td>
  			<td class="edit-link">

  				<a href="./5/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 5. Total intended shipments</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Total intended quantity
  			</td>
  			<td class="answer">
  				360 Tonnes

  			</td>
  			<td class="edit-link">

  				<a href="./5/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 5. Total intended quantity</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Intended departure dates
  			</td>
  			<td class="answer">
  				Between 1 September 2015 and 31 August 2016

  			</td>
  			<td class="edit-link">

  				<a href="./5/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 5. Intended departure dates</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>
  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					Waste classification
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Chemical composition
  			</td>
  			<td class="answer">
  				Lorem ipsum dolor

  			</td>
  			<td class="edit-link">

  				<a href="./6/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 6. Chemical composition</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Process of generation
  			</td>
  			<td class="answer">
  				Lorem ipsum dolor

  			</td>
  			<td class="edit-link">

  				<a href="./6/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 6. Process of generation</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Physical characteristics
  			</td>
  			<td class="answer">
  				Powdery / powder

  			</td>
  			<td class="edit-link">

  				<a href="./6/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 6. Physical characteristics</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>
  	<thead>
  		<tr>
  			<th class="section-name complete" colspan="2">
  				<h2>

  					Waste codes
  				</h2>
  			</th>
  			<th class="edit-link">
  			</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>
  			<td class="question">
  				Basil or OECD code
  			</td>
  			<td class="answer">
  				Not listed

  			</td>
  			<td class="edit-link">

  				<a href="./7/1/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. Basil or OECD code</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				EWC code
  			</td>
  			<td class="answer">
  				<div class='tab'>12 01 04</div> <div class='tab'>Non-ferrous metal dust and particles</div>

  			</td>
  			<td class="edit-link">

  				<a href="./7/2/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. EWC code</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Y codes
  			</td>
  			<td class="answer">
  				<div class='tab'>Y1</div> <div class='tab'>Clinical wastes from medical care in hospitals, medical centers and clinics</div>

  			</td>
  			<td class="edit-link">

  				<a href="./7/3/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. Y codes</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				H or HP codes
  			</td>
  			<td class="answer">
  				<div class='tab'>H10</div> <div class='tab'>Liberation of toxic gases in contact with air or water</div>

  			</td>
  			<td class="edit-link">

  				<a href="./7/4/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. H or HP codes</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				UN classes
  			</td>
  			<td class="answer">
  				<div class='tab'>9</div> <div class='tab'>Miscellaneous dangerous goods</div>

  			</td>
  			<td class="edit-link">

  				<a href="./7/5/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. UN classes</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				UN numbers
  			</td>
  			<td class="answer">
  				<div class='tab'>UN3077</div> <div class='tab'>Environmentally hazardous substance, solid, n.o.s. (not including waste)</div>

  			</td>
  			<td class="edit-link">

  				<a href="./7/6/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. UN numbers</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				National code in country of export
  			</td>
  			<td class="answer">
  				rg44

  			</td>
  			<td class="edit-link">

  				<a href="./7/7/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. National code in country of export</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				National code in country of import
  			</td>
  			<td class="answer">
  				ge1

  			</td>
  			<td class="edit-link">

  				<a href="./7/8/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. National code in country of import</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Customs codes
  			</td>
  			<td class="answer">
  				None

  			</td>
  			<td class="edit-link">

  				<a href="./7/9/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. Customs codes</span>
  				</a>

  			</td>
  		</tr>
  		<tr>
  			<td class="question">
  				Other codes
  			</td>
  			<td class="answer">
  				None

  			</td>
  			<td class="edit-link">

  				<a href="./7/10/question-page?change=true">
  					Change <span class="visuallyhidden">answer 7. Other codes</span>
  				</a>

  			</td>
  		</tr>
  	</tbody>


  	</table>




  	<h2 class="heading-medium">Now submit your notification</h2>

  	<p class="text">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

  	<div class="form-group">
  			<a href="confirm-page" class="button">I understand</a>
  	</div>





</main>



{{/content}}

{{/layout}}
