{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<header class="page-header">
		<h1>Examples</h1>
	</header>

	<div id="content">

		<div class="inner-block">

			<ul>
				<li>
					<a href="/examples/blank">
						Blank page
					</a>
				</li>
				<li>
					<a href="/examples/elements/forms">
						Form
					</a>
				</li>
				<li>
					<a href="/examples/elements/grid-layout">
						Grid layout
					</a>
				</li>
				<li>
					<a href="/examples/elements/typography">
						Typography
					</a>
				</li>
				<li>
					<a href="/examples/template-partial-areas">
						Template partial areas
					</a>
				</li>
			</ul>

		</div>

	</div>

</main>

{{/content}}

{{/layout}}
