{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Example pages</h1>
			<ul class="list-bullet">
				<li>
					<a href="/examples/blank">
						Blank page
					</a>
				</li>
				<li>
					<a href="/examples/elements/grid-layout">
						Grid layout
					</a>
				</li>
				<li>
					<a href="/examples/elements/typography">
						Typography
					</a>
				</li>
				<li>
					<a href="/examples/elements/forms">
						Form
					</a>
				</li>
				<li>
					<a href="/examples/elements/radio-buttons-checkboxes">
						Form elements - radio buttons and checkboxes
					</a>
				</li>
				<li>
					<a href="/examples/elements/toggled-content">
						Toggled content - show additional content when a radio button or checkbox is selected
					</a>
				</li>
				<li>
					<a href="/examples/confirmation">
						Confirmation page
					</a>
				</li>
				<li>
					<a href="/examples/start-page">
						Start page
					</a>
				</li>
				<li>
					<a href="/examples/template-data">
						Template data
					</a>
				</li>
				<li>
					<a href="/examples/unbranded">
						Blank page - without GOV.UK header and footer
					</a>
				</li>
				<li>
					<a href="/examples/template-partial-areas">
						Template partial areas
					</a>
				</li>
			</ul>
		</div>
	</div>
</main>

{{/content}}

{{/layout}}
