{{<layout}}

{{$pageTitle}}Blank page{{/pageTitle}}

{{$content}}

<main id="content" role="main">


    <div class="grid-row">



      <div class="column-two-thirds">

        <h2 class="heading-medium">


          Where do you live?
        </h2>


        <div class="form-group">
        <label class="block-label" for="radio-1">
           <input id="radio-1" type="radio" name="radio-group" value="England">
           England
         </label>
         <label class="block-label" for="radio-2">
           <input id="radio-2" type="radio" name="radio-group" value="Scotland">
           Scotland
         </label>
         <label class="block-label" for="radio-3">
           <input id="radio-3" type="radio" name="radio-group" value="Wales">
           Wales
         </label>
         <label class="block-label" for="radio-4">
           <input id="radio-4" type="radio" name="radio-group" value="Northern Ireland">
           Northern Ireland
         </label>
         <p class="form-block">or</p>
         <label class="block-label" for="radio-5">
           <input id="radio-5" type="radio" name="radio-group" value="I am a British citizen living abroad">
           British citizen living in another country (including the Channel Islands or Isle of Man)
         </label>
       </div>

         <p> <input class="button" type="submit" value="Save and continue"></p>

      <div class="column-third">
        <p>&nbsp;</p>
      </div>

    </div>



</main>

{{/content}}

{{/layout}}
