{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/examples_head.html" %}
{% endblock %}

{% block homepage_url %}
  https://www.gov.uk
{% endblock %}

{% block global_header_text %}
  GOV.UK
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  <div class="area header-proposition">Propositional navigation area</div>
{% endblock %}

{% block inside_header %}
  <div class="area">Inside header area</div>
{% endblock %}

{% block after_header %}
  <div class="area">After header area</div>
{% endblock %}

{% block cookie_message %}
  <div class="area">Cookie message</div>
{% endblock %}

{% block content %}
  <main class="area">Content area</main>
{% endblock %}

{% block body_end %}
  <div class="area">Body end area</div>
{% endblock %}

{% block footer_top %}
  <div class="area">Footer top area</div>
{% endblock %}

{% block footer_support_links %}
  <div class="area">Footer support links area</div>
{% endblock %}
