{{<layout}}

{{$pageTitle}}Example of using variables in pages{{/pageTitle}}

{{$content}}
<main id="content" role="main">

  {{>includes/breadcrumb_examples}}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Passing data into pages</h1>

      <p class="lede">The example route defined in '/routes.js' is passing the string '{{ name }}' to this page, via the 'name' variable.</p>

      <p>Check our the source for this page at '/app/views/examples/template-data.html' to see how it works.</p>

    </div>
  </div>

</main>
{{/content}}

{{/layout}}

