{%- set assetPath = '/manage-prototype/dependencies/govuk-frontend' + govukFrontendInternal.assetPath -%}
{% extends "nowprototypeit/layouts/branded.njk" %}

{% block pageTitle %}
  {% if pageName %}
    {{ pageName }} -
  {% elseif currentSection !== "Home" %}
    {{ currentSection }} -
  {% endif %}
  Manage your prototype
  - {{ serviceName }}
  - Now Prototype It
{% endblock %}

{% block stylesheets %}
  {% include "views/manage-prototype/stylesheets.njk" %}
{% endblock %}

{% block scripts %}
  {% include "views/manage-prototype/scripts.njk" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}

{% block beforeContent %}
  <nav id="nowprototypeit-manage-prototype-navigation" class="nowprototypeit-manage-prototype-navigation js-nowprototypeit-manage-prototype-navigation govuk-clearfix" role="navigation"
       aria-labelledby="nowprototypeit-manage-prototype-navigation-heading">
    <h2 class="govuk-visually-hidden" id="nowprototypeit-manage-prototype-navigation-heading">Menu</h2>
    <ul class="nowprototypeit-manage-prototype-navigation__list nowprototypeit-manage-prototype-width-container">

      
      {% for link in links %}

        <li class="nowprototypeit-manage-prototype-navigation__list-item {{ "nowprototypeit-manage-prototype-navigation__list-item--current" if link.text === currentSection }}">
          <a
            class="govuk-link govuk-link--no-visited-state govuk-link--no-underline nowprototypeit-manage-prototype-navigation__link js-nowprototypeit-manage-prototype-navigation__link"
            href="{{ link.url }}">
            {{ link.text }}
          </a>
        </li>
        
      {% endfor %}
      
    </ul>
  </nav>
  
  {{ super() }}
{% endblock %}
