{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set assetPath = '/manage-prototype/dependencies/govuk-frontend' + govukFrontendInternal.assetPath -%}

{% extends "govuk/template.njk" %}

{% block pageTitle %}
  {% if pageName %}
    {{ pageName }} -
  {% elseif currentSection !== "Home" %}
    {{ currentSection }} -
  {% endif %}
  Manage your prototype
  - {{ serviceName }}
  - GOV.UK Prototype Kit
{% endblock %}

{% block head %}
  {% include "views/manage-prototype/stylesheets.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "views/manage-prototype/scripts.njk" %}
  {% block pageScripts %}{% endblock %}
{% endblock %}

{% block govukHeader %}
  {{ govukHeader({
    productName: "Prototype Kit"
  }) }}
{% endblock %}

{% block govukServiceNavigation %}
  {%- if links | length %}
    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: '/',
      navigation: links
    }) }}
  {% endif -%}
{% endblock %}

{% block govukFooter %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/manage-prototype",
          text: "Manage your prototype"
        }, {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}