{% extends "views/manage-prototype/layout.njk" %}

{% block pageTitle %}
  How to manage your prototype
{% endblock %}

{% block content %}

  <p>
    <a href="/">
      Prototype home page
    </a>
  </p>

  <h1 class="govuk-heading-l">
    How to manage your prototype
  </h1>

  <p>
    To manage this prototype it needs to run locally on your computer, in dev mode.
  </p>

  <p>
    In the terminal run:
  </p>

  <p>
    <code>npm run dev</code>
  </p>

{% endblock %}
