{% extends "views/manage-prototype/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block stylesheets %}
 {{ super() }}
 <link rel="stylesheet" href="/plugin-assets/govuk-prototype-kit/lib/assets/css/accessible-autocomplete.min.css" />
 <style>
 .autocomplete__hint, .autocomplete__input, .autocomplete__option {
    color: #0b0c0c;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }
 </style>
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/manage-prototype/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">

    var groupsOfPlugins = {{ groupsOfPlugins|dump|safe }}

    var inputValueTemplate = result => {
      return result
    }
    var resultTemplate = result => {
      return result
    }
    function suggest (query, populateResults) {
      const results = [
        'France',
        'Germany',
        'United Kingdom'
      ]
      const filteredResults = results.filter(result => result.indexOf(query) !== -1)
      populateResults(filteredResults)
    }
    var element = document.querySelector('#search-input-container')
    var id = 'search-input'
    accessibleAutocomplete({
      element: element,
      id: id,
      source: suggest,
      displayMenu: 'overlay',
      templates: {
        inputValue: inputValueTemplate,
        suggestion: resultTemplate
      }
    })
  </script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Plugins</h1>

      <p class="govuk-body">
        Plugins provide you with new components, styles and other features
      </p>

    </div>

  </div>

  <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">

        <div class="sub-nav">

          <h2 class="govuk-heading-m">
            Find plugins
          </h2>

        </div>

        <div class="sub-nav">

          <a href="./plugins-installed" class="govuk-heading-m">
            Your plugins <span class="badge">1</span>
          </a>

        </div>
      
      </div>

      <div class="govuk-grid-column-three-quarters">

        <div class="govuk-!-margin-bottom-5">
          {{govukLabel({"text":"Search", classes:"govuk-!-font-weight-bold"})}}
          <div id="search-input-container"></div>
        </div>

        <div class="govuk-prototype-kit-manage-prototype-plugin-list">

          {% for plugin in groupsOfPlugins[1].plugins %}
            <div class="govuk-grid-row govuk-prototype-kit-manage-prototype-plugin-list__item">
              <div class="govuk-grid-column-one-third govuk-body">
                  <a class="govuk-link govuk-!-font-weight-bold" href="./plugins/view?package={{plugin.packageName}}">
                    {{ plugin.name }}
                  </a>
                  {% if plugin.scope %}
                    <div>
                      By {{ plugin.scope }}
                    </div>
                  {% endif %}
                </span>
              </div>
              <div class="govuk-grid-column-two-thirds govuk-body">
                  {% if showStatus and plugin.tag %}
                    <div class="status govuk-!-margin-bottom-2">
                      {%- from "govuk/components/tag/macro.njk" import govukTag -%}

                      {{ govukTag({
                        text: plugin.tag
                      }) }}
                    </div>
                  {% endif %}
                  {{ plugin.summary }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
  </div>

{% endblock %}
