{% extends "views/manage-prototype/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <h1>Plugin view</h1>
  </div>

{% endblock %}
