{% extends "views/manage-prototype/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-5">

    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Plugins</h1>

      <p class="govuk-body">
        Plugins provide you with new components, styles and other features
      </p>

    </div>

  </div>

  <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">

        <div class="sub-nav">

          <h2 class="govuk-heading-m">
            Find plugins
          </h2>

        </div>

        <div class="sub-nav">

          <a href="./plugins-installed" class="govuk-heading-m">
            Your plugins
          </a>

        </div>
      

      </div>

      <div class="govuk-grid-column-three-quarters govuk-prototype-kit-manage-prototype-plugin-list">

        {% for plugin in groupsOfPlugins[1].plugins %}
          <div class="govuk-grid-row govuk-prototype-kit-manage-prototype-plugin-list__item">
            <div class="govuk-grid-column-one-third govuk-body">
                <a class="govuk-link govuk-!-font-weight-bold" href="./plugins/view?package={{plugin.packageName}}">
                  {{ plugin.name }}
                </a>
                {% if plugin.scope %}
                  <div>
                    By {{ plugin.scope }}
                  </div>
                {% endif %}
              </span>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-body">
                {{ plugin.summary }}
            </div>
          </div>
        {% endfor %}
      </div>
  </div>

{% endblock %}
