{% extends "views/manage-prototype/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}

  {{ govukBackLink({
    href: "/manage-prototype/plugins",
    text: 'Plugins'
  })}}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        {{ plugin.name }}
      </h1>
      <div class="govuk-body">
        By {{ plugin.scope }}
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <div class="govuk-body">
        v{{ plugin.latestVersion }}
      </div>
      <div>
        {{ govukButton({
          'text': 'Install',
          'id': 'plugin-action-button',
          'attributes':{
            'data-mode': 'install'
          }
        })}}
        <div id="panel-processing" hidden>
          Processing ...
        </div>
      </div>

      {% if plugin.links.documentation or plugin.links.support %}

        <div class="links-section">

          {% if plugin.links.documentation %}
            <div class="govuk-!-margin-bottom-2">
              <a href="{{ plugin.links.documentation }}" class="govuk-link govuk-body">
                Documentation
              </a>
            </div>
          {% endif %}

          {% if plugin.links.support %}
            <div class="govuk-!-margin-bottom-2">
              <a href="{{ plugin.links.support }}" class="govuk-link govuk-body">
                Support
              </a>
            </div>
          {% endif %}

        </div>

      {% endif %}

      <div class="links-section">

        <div class="govuk-!-margin-bottom-2">
          <a href="#" class="govuk-link govuk-body">
            Release notes
          </a>
        </div>
        <div class="govuk-!-margin-bottom-2">
          <a href="#" class="govuk-link govuk-body">
            Version history
          </a>
        </div>

      </div>

      <div class="links-section">

        <div>
          <a href="#" class="govuk-link govuk-body">
            Report plugin
          </a>
        </div>
      </div>

    </div>
    <div class="govuk-grid-column-three-quarters">
      <img src="/plugin-assets/govuk-prototype-kit/lib/assets/images/plugins/{{ plugin.image }}" alt="" width="100%" class="govuk-!-margin-bottom-4">
      <div class="govuk-body">
        {{ plugin.summary }}
        {% if plugin.included %}
          <div class="included govuk-!-margin-top-4">
            <p class="govuk-heading-s">
              Components and patterns in this plugin
            </p>
          <ul class="govuk-list govuk-list--bullet">
            {% for item in plugin.included %}
              <li>{{item}}</li>
            {% endfor %}
          </ul>
          </div>
        {% endif %}
        {% if plugin.filters %}
          <div class="included govuk-!-margin-top-4">
            <p class="govuk-heading-s">
              Filters in this plugin
            </p>
          <ul class="govuk-list govuk-list--bullet">
            {% for item in plugin.filters %}
              <li>{{item}}</li>
            {% endfor %}
          </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    {# if (window.Promise) {
      // Dynamically load and execute the script
      const managePluginsScript = document.createElement('script')
      managePluginsScript.addEventListener('load', () => {
        window.GOVUKPrototypeKit.documentReady(window.GOVUKPrototypeKit.internal.managePlugins.init)
      })
      managePluginsScript.setAttribute('src', '/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/manage-prototype/manage-plugins.js')
      document.body.appendChild(managePluginsScript)
    } else {
      // Display the page as if javascript was not enabled
      document.body.classList.remove('js-enabled')
    } #}
  </script>
{% endblock %}