<script src="/plugin-assets/%40nowprototypeit%2Fgovuk/lib/assets/javascripts/kit.js"></script>
<script src="/manage-prototype/dependencies/govuk-frontend/dist/govuk/govuk-frontend.min.js" type="module"></script>
<script src="/manage-prototype/dependencies/govuk-frontend/dist/govuk-prototype-kit/init.js" type="module"></script>
