<script src="/plugin-assets/govuk-prototype-kit/lib/assets/javascripts/kit.js"></script>
<script src="/manage-prototype/dependencies/govuk-frontend/govuk/all.js"></script>
<script src="/manage-prototype/dependencies/govuk-frontend/govuk-prototype-kit/init.js"></script>
