{% extends "views/manage-prototype/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Templates</h1>

      <p class="govuk-body">
        Create pages from templates
      </p>

      {% if commonTemplatesDetails %}
        {{ govukButton({
          text: 'Install common templates',
          classes: "govuk-button--secondary",
          href: commonTemplatesDetails.installLink + '?returnTo=templates'
        }) }}
      {% endif %}

      {% for plugin in availableTemplates %}

        <div data-plugin-package-name="{{ plugin.packageName }}">

          <h2 class="govuk-heading-m">
            {{ plugin.pluginDisplayName.name }}
            {% if plugin.pluginDisplayName.scope %}
              <span class="govuk-caption-m">From {{ plugin.pluginDisplayName.scope }}</span>
            {% endif %}
          </h2>

          <ul class="govuk-list nowprototypeit-manage-prototype-template-list-template-list">
            {% for template in plugin.templates %}
              <li class="nowprototypeit-manage-prototype-template-list-template-list__item">
                <div class="nowprototypeit-manage-prototype-template-list-template-list__item-name">
                  {{ template.name }}
                </div>
                <div class="nowprototypeit-manage-prototype-template-list-template-list__item-links">
                  <a class="nowprototypeit-manage-prototype-template-list-template-list__item-link"
                     href="{{ template.viewLink }}">
                    View<span class="govuk-visually-hidden"> {{ template.name }}</span></a>
                  <a class="nowprototypeit-manage-prototype-template-list-template-list__item-link"
                     href="{{ template.installLink }}">
                    Create<span class="govuk-visually-hidden"> {{ template.name }}</span></a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
