// Add Sass specific to /docs here

.app-table--fixed {
  table-layout: fixed;
}

.app-\!-db {
  display: block !important;
}

// adjust code block font-size to 19px
.hljs {
  font-size: 19px;
  line-height: 25px;
}