// Box with turquoise background and white text
// Used for transaction end pages, and Bank Holidays
.govuk-box-highlight {
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  color: $white;
  background: $turquoise;
  text-align: center;
}
