// Helpers
// ==========================================================================

// Return ems from a pixel value
// This assumes a base of 19px
@function em($px, $base: 19) {
  @return ($px / $base) + em;
}

// Create a contain floats mixin for this project,
// as placeholders are not yet supported by libsass
@mixin contain-floats {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  @include ie-lte(7) {
    zoom: 1;
  }
}

// Create a site-container mixin for this project,
// as placeholders are not yet supported by libsass
@mixin site-width-container {
  max-width: $site-width;
  @include ie-lte(8){
    width: $site-width;
  }
  margin: 0 $gutter-half;
  @include media(tablet){
    margin: 0 $gutter;
  }
  @include media($min-width: ($site-width + $gutter * 2)){
    margin: 0 auto;
  }
}

// Create a grid-row mixin for this project,
// as placeholders are not yet supported by libsass
@mixin grid-row {
  @include contain-floats;
  margin: 0 (-$gutter-half);
}


// Want to see how the grid works?
// add this class to the body to see how grid padding is set
.example-highlight-grid {
  .grid-row {
    background:  $grey-2;
  }
  .column-highlight {
    background: $grey-3;
    width: 100%;
  }
}

// Used to space the "back" link on example pages
.example-back-link {
  @include inline-block;
  margin-top: $gutter;
}

// Hide, but not for screenreaders
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

// Hide, only when JavaScript is enabled
.js-enabled .js-hidden {
  display: none;
}
