// Helpers
// ==========================================================================

// Use the contain floats mixin for this project,
// as placeholders are not supported by libsass
@mixin contain-floats {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  @include ie-lte(7) {
    zoom: 1;
  }
}

// Add the outer block mixin here,
// until it is merged into the front end toolkit
@mixin outer-block {
  margin: 0 auto;
  width: auto;
  max-width: 960 + $gutter*2;
  @include contain-floats;
  @include ie-lte(8){
    width: 1020px;
  }
}

// Use the inner block mixin here,
// until it is merged into the front end toolkit
@mixin inner-block {
  padding-left: $gutter-half;
  padding-right: $gutter-half;

  @include media(tablet) {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

// Add the measurements vars here, until the front end toolkit version is bumped
// https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/_measurements.scss
$gutter: 30px;
$gutter-one-quarter: $gutter/4;
$gutter-one-third: $gutter/3;
$gutter-half: $gutter/2;
$gutter-two-thirds: $gutter - $gutter-one-third;

// Want to see how the grid works?
// add this class to the body to see how grid padding is set
.example-highlight-grid {
  .grid-wrapper {
    background:  $grey-2;
  }
  .grid {
    background: $grey-4;
  }
  .is-inner-block-highlight {
    background: $grey-3;
    width: 100%;
  }
}

// Used to space the "back" link on example pages
.example-back-link {
  @include inline-block;
  margin-top: $gutter;
}
