// Lists
// ==========================================================================

.list {
  list-style-type: none;
  padding: 0;

  margin-top: 5px;
  margin-bottom: $gutter-half;
  @include media(tablet) {
    margin-bottom: $gutter;
  }
}

.list li {
  margin-bottom: 5px;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  padding-left: 20px;

  @include ie-lte(7) {
    padding-left: 28px;
  }
}

// Lists of links
.list-links {
  @include core-16;
}

.list-links li {
  margin-bottom: 10px;
}
