{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Your answers
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Can juggle more than 2 balls
        </td>
        <td>
          Yes
        </td>
        <td class="change-answer">
          <a href="question-1">
            Change <span class="visuallyhidden">number of balls juggled</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Most impressive juggling feat
        </td>
        <td>
          [TEXTFIELD VALUE GOES HERE]
        </td>
        <td class="change-answer">
          <a href="question-2">
            Change <span class="visuallyhidden">most impressive juggling feat</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Now send your application</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="confirmation-page" class="button">Accept and send application</a>
  </div>

</main>

{% endblock %}
