{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">GOV.UK prototype kit</a></li>
      <li><a href="/tutorials/">Tutorials</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Tutorial 3</span>
    Routes
  </h1>

  <p class="text">
    By the end of this tutorial you will have learned how to direct the user to
    a different page depending on their radio button selection.
  </p>

  <p>
    <a href="/tutorials/3-routes/start-page">
      Here's what you'll be making
    </a>
  </p>

</main>

{% endblock %}
