{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="question-1">Back</a>

      <h1 class="heading-large">
        You don't qualify for a juggling licence
      </h1>

      <p>Registered jugglers must be able to juggle at least 2 balls.</p>

      <p><a href="#">Find juggling instructors near you</a></p>

    </div>
  </div>
</main>

{% endblock %}
