{% extends "layout.html" %}

{% block page_title %}
  Apply for a juggling licence
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="http://www.gov.uk">Home</a></li>
      <li><a href="http://www.gov.uk/street-theatre">Street theatre</a></li>
      <li>Juggling</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Apply for a juggling licence
      </h1>

      <p>
        You need a licence to juggle in a public space in the UK.
      </p>


      <p>
        <a class="button button-start" href="question-1" role="button">Apply now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">apply by post.</a></p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>You can’t register for this service if you’re in the UK illegally.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Mime</a></li>
            <li><a href="#">Busking</a></li>
            <li><a href="#">Unicylists</a></li>
            <li><a href="#">Standing really still in fancy dress</a></li>
            <li><a href="#" class="bold-xsmall">More</a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
