{% extends "zalozenie-zivnosti/layout_form.html" %}

{% block mainContent %}
<form action="register-trestov" method="post" class="form">
  {% call govukFieldset({
    legend: {
      text: "Kde je váš trvalý pobyt?",
      classes: "govuk-fieldset__legend--xl",
      isPageHeading: true
    }
  }) %}
  <p>Vaša živnosť bude zaregistrovaná na túto adresu</p>

    {{ govukInput({
    label: {
      text: 'Ulica'
    },
    classes: "govuk-!-width-two-thirds",
    id: "street-number",
    name: "street-number"
  }) }}

  {{ govukInput({
    label: {
      text: 'Číslo'
    },
    classes: "govuk-input--width-5",
    id: "street-number",
    name: "street-number"
  }) }}

    {{ govukInput({
    label: {
      text: 'Obec'
    },
    classes: "govuk-!-width-two-thirds",
    id: "street-number",
    name: "street-number"
  }) }}

  {{ govukInput({
    label: {
      text: 'PSČ'
    },
    classes: "govuk-input--width-5",
    id: "street-number",
    name: "street-number"
  }) }}

  {% endcall %}
  {{ govukButton({
      text: "Pokračovať",
      attributes: {
        type: 'submit'
      }
  }) }}
</form>

{% endblock %}