{% extends "zalozenie-zivnosti/layout_form.html" %}

{% block mainContent %}
<h1 class="govuk-heading-xl">
  Skontrolujte vaše odpovede
</h1>

<!-- only add a heading for a list if there is more than one list -->
<h2 class="govuk-heading-m">
  Vaše údaje
</h2>

<!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
<!--   * `app-check-your-answers--short` for short questions -->
<!--   * `app-check-your-answers__questions-long` for long questions -->
<!--   * none for single group of q&a -->
<dl class="app-check-your-answers app-check-your-answers--short">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Meno
    </dt>
    {{ data['first-name'] }}
    <dd class="app-check-your-answers__answer">
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="osobne-udaje">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Priezvisko
    </dt>
    {{ data['surname'] }}
    <dd class="app-check-your-answers__answer">
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="osobne-udaje">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Rodné číslo
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['birth-number'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="osobne-udaje">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Adresa trvalého pobytu
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['street'] }} {{ data['street-number'] }}<br />
      {{ data['town'] }}<br />
      {{ data['zip-code'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="adresa-psc">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      E-mail
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['email'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="osobne-udaje">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Matka
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['mother-first-name'] }} {{ data['mother-surname'] }} ({{ data['mother-maiden-surname'] }})
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="register-trestov">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Otec
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['father-first-name'] }} {{ data['father-surname'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="register-trestov">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Miesto narodenia
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['birthplace'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="register-trestov">Zmeniť</a>
    </dd>
  </div>

  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Zdravotná poisťovňa
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['health-insurance'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="zdravotna-poistovna">Zmeniť</a>
    </dd>
  </div>
</dl>


<h2 class="govuk-heading-m">
  Vaša živnosť
</h2>

<dl class="app-check-your-answers app-check-your-answers--short">
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Názov
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['business-name'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="nazov">Zmeniť</a>
    </dd>
  </div>

    <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Činnosti
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ data['activity'] }}
    </dd>
    <dd class="app-check-your-answers__change">
      <a href="cinnosti">Zmeniť</a>
    </dd>
  </div>
</dl>


<h2 class="govuk-heading-m">Teraz vygenerujte formulár</h2>

<p>
  Po potvrdení vašich odpovedí pre vás bude vygenerovaný formulár vo formáte XML, ktorý môžete použiť.
</p>
  {{ govukButton({
      text: "Potvrdiť a vygenerovať formulár",
      href: "podpis"
  }) }}
{% endblock %}