{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_navigation_alpha}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$afterHeader}}
<div class="alpha-banner">
  <div class="outer-block">
    <div class="inner-block">
      <p>This website is in <strong>ALPHA</strong> and all content is subject to change. Please, <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">give us your feedback</a>.</p>
    </div>
  </div>
</div>
{{/afterHeader}}

{{/govuk_template}}
