.button {
	@include button ($green);
	margin: 0 $gutter-half $gutter-half 0;
	padding: 10px 10px 5px 10px;
	vertical-align: top;
}
.button:focus {
	outline: 3px solid $yellow;
}

// Start now buttons
.get-started .button {
	@include bold-24;
	line-height: 0.66667;
	background-color: #00823b; // Not in palette!! 
	padding: 0.60em 1.7em 0.45em 0.67em;
	background-image: url(https://assets.digital.cabinet-office.gov.uk/static/icon-pointer-063838cde108768e30b077e5303783fc.png);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	margin-bottom: 0;
}
.get-started .button:hover {
	background-color: $green;
}

.get-started .destination {
	@include core-14;
	color: #2e3133;
	display: block;
	margin-top: 7px;
	max-width: 182px;
}

// Link style buttons
.button-link {
	// Remove browser default button styles
	background: none;
	border: none;
	// Override webkit default button styles
	-webkit-font-smoothing: antialiased;
	// Match .button styles
	display: inline-block;
	color: $link-colour;
	line-height: 1.25;
	text-decoration: underline;
	cursor: pointer;
	margin: 0 $gutter-half $gutter-half 0;
	padding: 10px 10px 5px 10px;
	vertical-align: top;
}
.button-link:hover {
	color: $link-hover-colour;
}
.button-link:focus {
	outline: 3px solid $yellow;
}
