// Lists
// ==========================================================================

menu,
ol,
ul {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

ul li,
ol li {
  margin-bottom: 5px;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  margin-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  margin-left: 25px;
}
