p, 
pre {
  margin-top: 5px;
  margin-bottom: 20px;
}

.lede,
.lead {
  @include core-24;
}

.copy-16 {
  @include core-16;
}

// Set a max-width for text blocks
// Less than 75 characters per line of text

.text {
  max-width: 30em;
}

