{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="manuals-frontend-body">

    {% include "includes/manual_header.html" %}

    <div class="manual-body">
      {% if content.description %}<p class="description">{{ content.description() }}</p>{% endif %}
      <div class="grid-row sidebar-with-body">
        {% if content.chapterContents().length > 0 %}
        <div class="column-third">
          {% include "includes/contents_list.html" %}
        </div>
        {% endif %}
        <div class="{% if content.chapterContents().length > 0 %}column-two-thirds{% else %}column-full{% endif %}">
          <div class="govuk-govspeak">
            {{ content.body().govspeak | safe }}  
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}


