{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="manuals-frontend-body">
    <header>
      <h1 id="manual-title">{{ content.title() }}</h1>
      <div class="govuk-metadata">
        <dl>
          {% for item in content.metadata() %}
            {% for name, value in item %}
              {% if value %}
              <dt>{{ name }}:</dt>
              <dd>{{ value }}</dd>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </dl>
      </div>
    </header>
    {% if content.description %}<p class="description">{{ content.description() }}</p>{% endif %}
    <div class="grid-row sidebar-with-body">
      <div class="column-third">
        {% include "includes/contents_list.html" %}
      </div>
      <div class="column-two-thirds">
        <div class="govuk-govspeak">
          {{ content.body().govspeak | safe }}  
        </div>
        

      </div>
    </div>
  </div>
</main>

{% endblock %}


