{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}



<main id="content" role="main" class="{% if content.type == 'html_publication' %}html-publication{% endif %}">
  {% if content.type == 'html_publication' %}
    {% include "includes/html_publication_header.html" %}
  {% else %}
    {% include "includes/header.html" %}
  {% endif %}
  
  {% if content.description %}<p class="description">{{ content.description() }}</p>{% endif %}
  <div class="grid-row sidebar-with-body">
    <div class="column-third">
      {% include "includes/contents_list.html" %}
    </div>
    <div class="column-two-thirds">
      <div class="govuk-govspeak">
        {{ content.body().govspeak | safe }}  
      </div>
      

    </div>
  </div>
</main>

{% endblock %}


