{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<dialog id="js-modal-dialog" data-minutes-idle-timeout="{{ data['modalIdleTime'] or '1'}}" data-minutes-modal-visible="{{ data['modalVisibleTime'] or '2'}}"
data-url-redirect="/timeout" class="modal-dialog dialog" role="dialog" aria-live="polite" aria-labelledby="dialog-title" aria-describedby="at-timer">
  <div class="modal-dialog__inner">
	  <h1 id="dialog-title" class="heading-large">
      Your application will time out soon
    </h1>
    <div class="modal-dialog__inner__text">
      <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
      <div id="at-timer" class="at-timer visually-hidden" role="status"></div>
    </div>
    <div class="modal-dialog__inner__block">
      <button class="button dialog-button modal-dialog__inner__button js-dialog-close">Continue application</button>
      <a href="/" class="modal-dialog__inner__link">Save application</a>
    </div>
  </div>
</dialog>


<!-- <button id="openModal">Open modal</button> -->
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Timeout warning component
      </h1>{{releaseVersion | log }}
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quisquam amet sapiente, ipsa reprehenderit neque quaerat provident error dignissimos blanditiis, temporibus architecto magni velit adipisci dolores minus minima et. Repudiandae.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quisquam amet sapiente, ipsa reprehenderit neque quaerat provident error dignissimos blanditiis, temporibus architecto magni velit adipisci dolores minus minima et. Repudiandae.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quisquam amet sapiente, ipsa reprehenderit neque quaerat provident error dignissimos blanditiis, temporibus architecto magni velit adipisci dolores minus minima et. Repudiandae.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quisquam amet sapiente, ipsa reprehenderit neque quaerat provident error dignissimos blanditiis, temporibus architecto magni velit adipisci dolores minus minima et. Repudiandae.
      </p>



			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>



{% endblock %}
