{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        The GOV.UK prototype kit
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="heading-large">Numeric input examples</h2>


      <form action="" method="get" novalidate>
          <h3 class="heading-medium">
              type="tel" with pattern and maxlength
          </h3>
          <label for="sometel">Enter number</label><br>
          <input type="tel" pattern="[0-9]*" name="sometel" maxlength="8"  inputmode="numeric">

          <br><br>
          <input type="submit" value="Submit">

      </form>

       <h4 class="bold heading-small">Pros</h4>
              <ul>
                <li>Brings up numeric keypad on Android</li>
                <li>Supports pattern and maxlength</li>
                <li>Widely supported (except for Opera Mini)</li>
            </ul>

        <h4 class="bold heading-small">Cons</h4>
          <ul>
            <li>Not semantic for non-telephone numbers</li>  
          </ul>

          <br>

          <p>Note: Allow users not to add a phone number</p>

        <hr>

      	<h3 class="heading-medium">
      		type="number"
      	</h3>

      <form novalidate method="get">

        <fieldset>
          <legend>Add date:</legend>
          <br>
          <label for="somenumber">Day</label><br>
          <input type="number" name="somenumber" inputmode="numeric" data-number-polyfill maxlength="2">
          <br>
          <label for="somenumber2">Month</label><br>
          <input type="number" name="somenumber2" inputmode="numeric" data-number-polyfill maxlength="2">
          <br>
          <label for="somenumber3">Year</label><br>
          <input type="number" name="somenumber3" inputmode="numeric" data-number-polyfill maxlength="4">
        </fieldset>

      	<br><br>

      	<label for="householdnumber">Number of people in household</label>
      	<br>
      	<input type="number" name="householdnumber" inputmode="numeric" placeholder="0" data-number-polyfill data-number-arrow-nav="true">

        <br><br>

        <input type="submit" value="Submit">

       </form>
      
  		  <h4 class="bold heading-small">Pros</h4>

    		<ul>
    			<li>Semantic</li>
    			<li>Brings up numeric keyboard on Android</li>
    			<li>In Chrome and Android, non-numeric characters can't be typed in (with exception of e, +, -, .)</li>

    		</ul>
  		
  		<h4 class="bold heading-small">Cons</h4>

		    <ul>
    			<li>Pressing up/down keys increases/decreases number</li>
      			<li>Only supports floating point numbers so credit cards (with spaces) not supported</li>
      			<li>Does not support commas</li>
      			<li>Use carefully! Do you really want to user from typing in certain characters (in Chrome/Android)?</li>
    			
      	</ul>

      	<hr>

      <form novalidate method="get">

        <h3 class="heading-medium">
        type="text" with pattern and maxlength
        </h3>
        <label for="sometext">Enter number</label><br>
        <input type="text" pattern="[0-9]*" name="sometext" maxlength="4"  inputmode="numeric">

        <br><br>

        <input type="submit" value="Submit">

      </form>

  		<h4 class="bold heading-small">Pros</h4>
  		<ul>

  			<li>Supports maxlength (and pattern)</li>
  			<li>Up/down keys don’t increase/decrease number.</li>
        <li>No semantic meaning</li>

  		</ul>

  		<h4 class="bold heading-small">Cons</h4>

		<ul>
			<li>Doesn’t bring up numeric keypad on Android</li>
  			
  		</ul>

  		<br>

      	<hr>
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


