{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<div id="wrapper">
  <main role="main">
    <div class="manuals-frontend-body">
      
      {% include "includes/manual_header.html" %}

      <article id="content">
        <div class="manual-body">
          <p class="summary">{{ content.description() }}</p>
          <div class="govuk-govspeak">
            {{ content.body().govspeak | safe }}
          </div>
          <ol class="section-list">
            {% for chapter in content.contentsList() %}
              <li>
                <a href="{{ chapter.link }}">
                  <span class="subsection-title-text">{{ chapter.title }}</span>
                  <span class="subsection-summary">{{ chapter.description }}</span>
                </a>
              </li>
            {% endfor %}
          </ol>
        </div>
      </article>
    </div>
  </main>  
</div>
{% endblock %}


