{{<layouts/layout-two-thirds}}

{{$pageTitle}}
Examples for testing
{{/pageTitle}}

{{$sub-content}}
<h1>Examples for testing</h1>
<ul class="list-bullet">
    <li>
        <a href="/tests/radio-button-group">Radio buttons with the same name attribute value
        </a>
    </li>
    <li>
        <a href="/tests/disclosure">Disclosure widget using details element
        </a>
    </li>
    <li>
        <a href="/tests/form-toggle-content">Form toggle content
        </a>
    </li>
</ul>
{{/sub-content}}

{{/layouts/layout-two-thirds}}