// hod guide
// A description of the contents of the file:
// This file is to adjust the guide that the manages the pattern library change at your peril

a {
  text-decoration-skip: ink !important;
}

// General changes to prototype kit
// Global Header
#global-header-bar {
	background-color: $fuschia !important;
}
div.header-proposition {
    padding-top: 0px !important;
    display: inline-block;
    float: right;
}
div.header-global {
	display: inline-block ;
	float: left;
	#logo {
		width: 100%;
	}
}

// Header navigation button
#global-header .header-proposition #proposition-menu {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
	.button {
		background-color: $white !important;
		color: $govuk-blue;
		font-weight: bold;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-appearance: none;
		-webkit-box-shadow: 0 2px 0 $grey-1;
		-moz-box-shadow: 0 2px 0 $grey-1;
		box-shadow: 0 2px 0 $grey-1;
	}
}

// Callout
.callout {
	padding: 1em;
	margin-top: 1.875em;
	background-color: $highlight-colour;
	border-top: .75em solid $fuschia;
	*:first-child {
		margin-top: 0;
	}	
}

// Spacers
.side-space {
	margin-right: .5em;
}

// Change pattern banner
.phase-banner-pattern {
  @include phase-banner($state: pattern);
	.phase-tag {
		background-color: lighten($turquoise, 50%);
		color: $black;
	}
}
// HO logo
#ho-logo {
	padding-top: 20px;
}


// Let's make a coloured row mixin
// should we move mixins to somewhere else?
@mixin hod-row ($color) {
		background-color: lighten($color, 50%);
		width: 100vw;
		position: relative;
		margin-left: -50vw;
		left: 50%;
		margin-bottom: 2em;
		margin-top: 2em;
		padding-bottom: 1em;
		.grid-row {
			@extend %site-width-container;
			@extend %contain-floats;
			div:first-child {
				margin-left: -15px;
				margin-top: -10px;
				font-family: inherit;
				@include media(mobile) {
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
#hod-row--purple {
	@include hod-row($purple)
}
#hod-row--aqua {
	@include hod-row($turquoise)
}
#hod-row--grey {
	@include hod-row($grey-1)
}

// Footer
#footer {
    background-color: $grey-3;
    border-top: 10px solid $grey-1;
}


/* Additional styles for mockup */
/* Tables */
.table {
  font-size: 16px !important;
  @include media(tablet) {
    font-size: 16px !important;
    text-align: left !important;
  }
}
.table-summary-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  width: 25%;
  &--last {
	font-size: 16px;
  	text-align: right;
  	padding-right: 0;
  }
}
.table-summary-content {
  font-size: 16px;
  font-weight: normal;
}
.table-summary-action {
  padding-right: 0;
  width: 25%;
  font-weight: normal;
  font-size: 16px;
  text-align: right;
}
@media print {
  tr, th, td {
      /* font-family: "nta", Arial, sans-serif; */
      /* font-weight: 400; */
      text-transform: none;
      font-size: 16px;
      line-height: 1.25;
      padding: 0.6315789474em 1.0526315789em 0.4736842105em 0;
      text-align: left;
      color: #0b0c0c;
      border-bottom: 1px solid $grey-3;
  }
}

.rule-above {
	border-top: 1px solid $grey-3;
    margin-top: 1.5em;
    padding-top: 1.5em;
}

code {
    font-size: 16px;
}

.example {
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.example {
    position: relative;
    overflow: hidden;
    border: 1px solid $grey-3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
	&:before {
	    content: "EXAMPLE";
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
	    font-family: "nta", Arial, sans-serif;
	    font-weight: 400;
	    text-transform: none;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 1.25;
	    background: #bfc1c3;
	    color: white;
	}
}

.block-space {
	margin: em(30) em(0);
}