// Pattern: variables
// Reusable varaibles for creating patterns
// Problem: retain consistency on common attributes e.g. spacing

$space-sm:			5px;
$border-radius:		4px;
$box-shadow:	    0 2px 10px rgba($text-colour, 0.5);
