{% extends "views/manage-prototype/layout.njk" %}

{% block pageTitle %}
  Page not found – Now Prototype It
{% endblock %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">
        There is no page at <strong>{{ path }}</strong>
      </p>
      <p class="govuk-body">This may be because:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you typed or pasted the web address incorrectly</li>
        <li>a link in your code is wrong</li>
        <li>a form in your code is wrong</li>
        <li>you have not created the page yet</li>
      </ul>
    </div>
  </div>
{% endblock %}
