{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">An error occured somewhere in your prototype, a stack trace has been shown below to help outline where the error may be.</p>
      <pre>
        <code>
          {{ errorStack }}
        </code>
      </pre>  
      <p class="govuk-body">
          Please contact the  <a class="govuk-link" href="slack://channel?team=T04V6EBTR&id=C0647LW4R">Prototype Kit team on Slack</a> if you need further assistance
      </p>
    </div>
  </div>


{% endblock %}
