{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  Error {% if serviceName %}– {{ serviceName }}{% endif %} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <div class="govuk-prototype-kit-error-page-header">
  {{ super() }}
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">There is an error</h1>

      {% if error.filePath %}
      <p class="govuk-prototype-kit-error-info">
        <strong>File:</strong> <span id="govuk-prototype-kit-error-file">{{ error.filePath }} {%  if error.line %}(line {{ error.line }}){% endif %}</span>
      </p>
      {% endif %}

      <p class="govuk-prototype-kit-error-info">
        <strong>Error:</strong> <span id="govuk-prototype-kit-error-message">{{ error.message }}</span>
      </p>

      {% if error.sourceCode %}
      <pre tabindex="0" class="govuk-prototype-kit-error-code govuk-!-margin-bottom-5" id="govuk-prototype-kit-error-block"><code>{{ error.sourceCode.before }}</code><br><code id="govuk-prototype-kit-error-line">{{ error.sourceCode.error }}</code><br><code>{{ error.sourceCode.after }}</code></pre>
      {% endif %}

      <div id="govuk-prototype-kit-show-error-button-container" hidden>
        <button id="govuk-prototype-kit-show-error-button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-module="govuk-button" aria-expanded="false" aria-controls="govuk-prototype-kit-error-stack">
          Show full error
        </button>
      </div>

      <pre tabindex="0" id="govuk-prototype-kit-error-stack" class="govuk-prototype-kit-error-code js-hidden"><code>{{ error.errorStack }}</code></pre>

      <p class="govuk-body govuk-!-margin-top-5">
        <a class="govuk-link" href="https://prototype-kit.service.gov.uk/docs/support">Get support</a>
      </p>

    </div>
  </div>


{% endblock %}


{% block footer %}
  {{ govukFooter({}) }}
{% endblock %}


{% block pageScripts %}
<script>
  ;(() => {
    const toggleErrorStack = (event) => {
      const button = event.target
      const isExpanded = button.getAttribute('aria-expanded') === 'true'
      const newState = isExpanded ? 'false' : 'true'
      const newText = isExpanded ? 'Show full error' : 'Hide full error'
      button.setAttribute('aria-expanded', newState)
      button.textContent = newText

      const element = document.getElementById('govuk-prototype-kit-error-stack')
      element.classList.toggle('js-hidden')
    }

    document.getElementById('govuk-prototype-kit-show-error-button-container').hidden = false

    document.getElementById('govuk-prototype-kit-show-error-button')
            .addEventListener('click', toggleErrorStack)
  })()
</script>
{% endblock %}
