{% extends "layout.html" %}

{% block page_title %}
  Lesson 5 - add a new question
{% endblock %}

{% set serviceName = 'Juggling licence tutorial' %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 5 - add a new question
      </h1>

      <p>Use the skills you've learnt to add a new page to your prototype.</p>

      <h2 class="heading-medium">Some ideas:</h2>
      <ul class="list list-bullet">
        <li>Ask users about their history of juggling</li>
        <li>Find out what types of objects they juggle with</li>
        <li>Show a conditional page asking for more information if users can only juggle 1 -2 balls</li>
      </ul>

      <!-- <a class="button button-start" href="start-page" role="button">See example</a> -->

    </div>
  </div>
</main>

{% endblock %}
