{% extends "layout.html" %}

{% block page_title %}
  Lesson 5 - add a new question
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/">Back</a>

      <h1 class="heading-large">
        Lesson 5 - add a new question
      </h1>

      <p>Use the skills you've learnt to add a new page to your flow.</p>

      <a class="button button-start" href="start-page" role="button">See example</a>

    </div>
  </div>
</main>

{% endblock %}
