{% extends "layout.html" %}

{% block page_title %}
  Ineligible for licence
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="juggling-ability">Back</a>

      <h1 class="heading-large">
        Sorry, you're not eligible
      </h1>

      <p>Only people who can juggle 3 balls or more are eligible for a juggling licence</p>

      <p>You may <a href="/url/of/onward/page">apply again</a> when you have some skills.</p>

    </div>
  </div>
</main>

{% endblock %}
