{% extends "../layout.html" %}

{% set macros = "non-sprint" %}

{% from macros + '/macros/gov-page-title/macro.njk' import govPageTitle %}
{% from macros + '/macros/gov-page-header/macro.njk' import govPageHeader %}

{% from macros + '/macros/gov-back/macro.njk' import govBack with context %}
{% from macros + '/macros/gov-lang/macro.njk' import govLang with context %}
{% from macros + '/macros/gov-heading/macro.njk' import govHeading %}
{% from macros + '/macros/gov-details/macro.njk' import govDetails %}

{% from macros + '/macros/gov-check-your-answers/macro.njk' import govCheckYourAnswers %}
{% from macros + '/macros/gov-check-your-answers-item/macro.njk' import govCyaItem %}

{% from macros + '/macros/gov-error-summary/macro.njk' import govErrorSummary with context %}
{% from macros + '/macros/gov-link/macro.njk' import govLink %}
{% from macros + '/macros/gov-button/macro.njk' import govButton %}

{% from macros + '/macros/gov-fieldset/macro.njk' import govFieldset with context %}
{% from macros + '/macros/gov-checkboxes/macro.njk' import govCheckBoxes with context %}
{% from macros + '/macros/gov-radios/macro.njk' import govRadios with context %}
{% from macros + '/macros/gov-radios-nested/macro.njk' import govRadiosNested with context %}
{% from macros + '/macros/gov-radios-single/macro.njk' import govRadioSingle with context %}
{% from macros + '/macros/gov-checkbox-single/macro.njk' import govCheckboxSingle with context %}
{% from macros + '/macros/gov-date-input/macro.njk' import govDateInput with context %}
{% from macros + '/macros/gov-input/macro.njk' import govInput with context %}
{% from macros + '/macros/gov-select/macro.njk' import govSelect with context %}

{% from macros + '/macros/gov-address/macro.njk' import govAddress with context %}
