{{<alpha_layout}}
{{$content}}
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">
    
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">ALPHA</strong>
          <span>This is a new service – all content is subject to change. Please, <a href="#">give us your feedback</a>.</span>
        </p>
      </div>

      <header class="page-header">
        <h1>Welcome to the GOV.UK prototyping kit</h1>
      </header>

    </div>
  </div>
</main>
{{/content}}
{{/alpha_layout}}
